// Utility: Config
// ----------------------------------------

// Font size of the root HTML element
// Note: Set at 100% by default to leave as much default sizing as possible
// Note: Could set to 62.5% to use a base font-size of 1rem = 10px (assuming default is 16px)
// Note: Accepted values: X%, Xpx
$html-font-size: 100%;

// Assume default browser font size
$browser-font-size: 16px !default;

$rems-enabled: true !default;

$grid-enabled: true !default;
$helper-enabled: true !default;

$dev: false !default;
$debug: false !default;