// Helper: Aspect
// ----------------------------------------

[class*="aspect-"] {  
  overflow: hidden;
  position: relative;
  
  &:before {
    @include pseudo($pos: relative);
    @include size(100%, 0);
  }
  
  > div {
    @include position(absolute, 0, 0, 0, 0);
    @include size(100%);
  }
}

@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);
		
		@each $aspect, $ratio in $aspects {
			.aspect#{$infix}-#{$aspect} {
				&:before {
					padding-top: percentage(nth($ratio, 2) / nth($ratio, 1));
				}
			}
		}
	}
}