// Helper: Color
// ----------------------------------------

// Brand --

@each $color, $value in $brand {
  .color-#{$color} {
    color: $value !important;
  }
  
  .background-#{$color} {
    background-color: $value !important;
  }
  
  .border-#{$color} {
    border-color: $value !important;
  }
}

// Core --

@each $color, $value in $core {
  .color-#{$color} {
    color: $value !important;
  }
  
  .background-#{$color} {
    background-color: $value !important;
  }
  
  .border-#{$color} {
    border-color: $value !important;
  }
}

// Mono --

@each $color, $value in $mono {
  .color-mono-#{$color} {
    color: $value !important;
  }
  
  .background-mono-#{$color} {
    background-color: $value !important;
  }
  
  .border-mono-#{$color} {
    border-color: $value !important;
  }
}