// Helper: Size
// ----------------------------------------

.mw-1 {
  max-width: rem(68);
}

.mw-2 {
  max-width: rem(168);
}

.mw-3 {
  max-width: rem(268);
}

.mw-4 {
  max-width: rem(368);
}

.mw-5 {
  max-width: rem(468);
}

.mw-6 {
  max-width: rem(568);
}

.mw-7 {
  max-width: rem(668);
}

.mw-8 {
  max-width: rem(768);
}

.mw-9 {
  max-width: rem(868);
}

.mw-10 {
  max-width: rem(968);
}

.mw-11 {
  max-width: rem(1068);
}

.mw-12 {
  max-width: rem(1168);
}

.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.vw-100 {
	min-width: 100vw;
}

.vh-100 {
	min-height: 100vh;
}

@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
  }
}