// Helper: Spacing
// ----------------------------------------

@each $breakpoint in map-keys($breakpoints) {
  @include breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {

        .#{$abbrev}#{$infix}-#{$size}  { #{$prop}: rem($length) !important; }
        .#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top: rem($length) !important; }
        .#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right: rem($length) !important; }
        .#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: rem($length) !important; }
        .#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left: rem($length) !important; }
        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: rem($length) !important;
          #{$prop}-left: rem($length) !important;
        }
        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: rem($length) !important;
          #{$prop}-bottom: rem($length) !important;
        }
      }
    }

    // Some special margin utils
    .m#{$infix}-auto  { margin: auto !important; }
    .mt#{$infix}-auto { margin-top: auto !important; }
    .mr#{$infix}-auto { margin-right: auto !important; }
    .mb#{$infix}-auto { margin-bottom: auto !important; }
    .ml#{$infix}-auto { margin-left: auto !important; }
    .mx#{$infix}-auto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .my#{$infix}-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }
}