// Helper: Text
// ----------------------------------------

// Alignment --

.text-justify {
  text-align: justify;
}

@each $breakpoint in map-keys($breakpoints) {
  @include breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .text#{$infix}-left { text-align: left; }
    .text#{$infix}-right { text-align: right; }
    .text#{$infix}-center { text-align: center; }
  }
}

// Transformation --

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Misc --

.text-truncate {
  @include text-truncate;
}

.text-hide {
  @include text-hide;
}