// Helper: Visibility
// ----------------------------------------

.hidden {
  @include hidden;
}

.visible {
  @include visible;
}

.invisible {
  @include invisible;
}

.visually-hidden {
  @include visually-hidden;
}