.bg-white {
    background-color: $brand-color--white;
    color: $brand-color--blue;
}
.bg-blue {
    background-color: $brand-color--blue;
    color: $brand-color--white;
}
.bg-orange {
    background-color: $brand-color--orange;
    color: $brand-color--white;
}
.bg-pink {
    background-color: $brand-color--pink;
    color: $brand-color--white;
}
.bg-lpink {
    background-color: $brand-color--lpink;
    color: $brand-color--vgrey;
}
.bg-green {
    background-color: $brand-color--green;
    color: $brand-color--white;
}
.bg-lgrey {
    background-color: $brand-color--lgrey;
    color: $brand-color--blue;
}
.bg-grey {
    background-color: $brand-color--grey;
    color: $brand-color--blue;
}
.bg-dgrey {
    background-color: $brand-color--dgrey;
    color: $brand-color--white;
}
