.block--img-text,
.block--img-text__invert {
    //@include showClassName('.block--img-text');

    @include media-breakpoint-up(lg) {
        .block--img-text__img {
            padding-left: 100px;
            padding-right: 15px;
        }
    }
    .img-res {
        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }
    }
}
.block--img-text__invert {
    .block--img-text__text {
        order: 2;
    }
    .block--img-text__img {
        order: 1;
        @include media-breakpoint-up(lg) {
            padding-right: 100px;
            padding-left: 15px;
        }
    }
    .img-res {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
}

.block--text-col {
    //@include showClassName('.block--text-col');

    .block--text-col__title {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
    .block--text-col__text {
    }
    &.bg-grey {
        h2 {
            color: $brand-color--pink;
        }
    }
}

.block--img-text-offset {
    //@include showClassName('.block--img-text-offset');

    .block--img-text-offset__img {
        order: 1;
    }
    .block--img-text-offset__text {
        order: 2;
    }
}

.block--stats {
    //@include showClassName('.block--stats');
    .block--stats--container {
        @include media-breakpoint-up(lg) {
            border-right: 1px solid;
            &:nth-child(3n) {
                border: 0;
            }
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
            &:last-child .block--stats--text {
                padding-bottom: 0;
                margin-bottom: 0;
                border: 0;
            }
        }
    }
    .block--stats--number {
        font-size: 82px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .block--stats--text {
        font-size: 36px;
        line-height: 1;
        @include media-breakpoint-down(md) {
            padding-bottom: 30px;
            border-bottom: 1px solid;
        }
    }
}

.block--newsfeed {
    //@include showClassName('.block--newsfeed');

    .block--newsfeed--item {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }
    .block--newsfeed--img {
    }
    .block--newsfeed--text {
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.block--team-grid {
    //@include showClassName('.block--team-grid');

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.block--list {
    //@include showClassName('.block--list');

    @include media-breakpoint-down(md) {
        .page-note {
            margin-top: 50px;
        }
    }
}

.block--advantage-grid {
    //@include showClassName('.block--advantage-grid');
    .block--advantage-grid--item {
        padding: 0;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .block--advantage-grid--icon {
        }
        .block--advantage-grid--container {
            .paragraph-lg {
                line-height: 1.4;
            }
        }
    }
}

.resources-grid {
    .resources-grid--item {
        padding-bottom: 30px;
        a {
            display: block;
            padding: 15px;
            height: 100%;
            min-height: 130px;
            background-color: $brand-color--grey;

            .resources-grid--img {
            }
            .resources-grid--desc {
                > * {
                    text-align: left;
                }
            }
            &:hover {
                background-color: $brand-color--lpink;
            }
        }
    }
}

.project-grid {
    .project-grid--item {
        padding-bottom: 60px;
        a {
            display: block;
            .resources-grid--tags {
                font-size: 14px;
            }
        }
    }
}

.img-preview-grid {
    .img-preview-grid--img-lg {
    }
    .img-preview-grid--img-sm {
    }
    .img-preview-grid--item {
        margin-bottom: 30px;
    }
}
