// _brand-variables.scss
$brand-color--white: #fff !default;
$brand-color--blue: #003b4c !default;
$brand-color--lblue: #2a606e !default;
$brand-color--green: #00a75f !default;
$brand-color--lgreen: #c8d400 !default;
$brand-color--lpink: #f7dee0 !default;
$brand-color--mpink: #f6af95!default;
$brand-color--pink: #f34e65 !default;
$brand-color--lpink: #f7dee0 !default;
$brand-color--lgrey: #fafafa !default;
$brand-color--grey: #ececec !default;
$brand-color--dgrey: #c5c5c5 !default;
$brand-color--vgrey: #706f6f !default;
$brand-color--orange: #f18700 !default;
$brand-color--yellow: #ffcd1c !default;

$font-cera-light: 'Cera Light', Helvetica, Arial, sans-serif !default;
$font-cera-regular: 'Cera Regular', Helvetica, Arial, sans-serif !default;
$font-cera-bold: 'Cera Bold', Helvetica, Arial, sans-serif !default;
$font-cera-black: 'Cera Black', Helvetica, Arial, sans-serif !default;

// skew angle
$skew-angle: 24deg !default;
$skew-angle-invert: -24deg !default;

// transition
$transition-speed: 0.5s;
$transition-all: all $transition-speed;
