/*.breadcrumbs {
    list-style: none;
    margin: 0;
    padding-left: 0;
    //margin: 15px 0;

    li {
        &:before {
            content: '>';
            display: inline-block;
            margin: 0 5px 0 0;
        }
        &:first-child:before {
            display: none;
        }
        &:last-child {
        }
        display: inline-block;
        a {
            display: block;
        }
    }
    @include media-breakpoint-down(md) {
        text-align: center;
    }
}*/

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
    }
}

// remove lang from .breadcrumbs
.hero {
    .breadcrumbs, .breadcrubs--header {
        > li:first-child {
            display: none;
        }
    }
}

.breadcrubs--header {
    .breadcrumbs {
        > li:first-child {
            display: none;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        li {
            display: inline-block;
        }
    }
}