// remove default styles
button.btn {
    outline: 0;
    border: 0;
    background-color: transparent;
    font: inherit;
    color: inherit;
}
/*
    -webkit-appearance: none;
    -webkit-writing-mode: unset;
    text-rendering: unset;
    color: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    display: inherit;
    text-align: center;
    box-sizing: border-box;
    margin: 0em;

    padding: inherit;
    border: none;
}*/

.btn {
    display: inline-block;
    cursor: pointer;
    &.btn--skew {
        // wrap text in child span
        font-size: 16px;
        font-family: $font-cera-regular;
        position: relative;
        padding: $grid-gutter-width / 4 ($grid-gutter-width / 4) * 3.5;

        // default button
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            right: 9px;
            left: 9px;
            bottom: 0;
            border: 1px solid;
            transform: skewX($skew-angle-invert);
        }
        span {
            position: relative;
            z-index: 1;
        }
        &:hover {
            &:before {
                background-color: $brand-color--blue;
                border-color: $brand-color--blue;
            }
            span {
                color: $brand-color--white;
            }
        }
        &.btn--fill {
            &:before {
                background-color: $brand-color--blue;
            }
            span {
                color: $brand-color--white;
            }
            &:hover {
                &:before {
                    background-color: $brand-color--white;
                }
                span {
                    color: $brand-color--blue;
                }
            }
        }
        // force for bg-colors

        // coloured buttons
        &.btn--green {
            &:hover {
                color: $brand-color--green;
                span {
                    color: $brand-color--green;
                }
            }
            &:before {
                background-color: $brand-color--green;
                border-color: $brand-color--green;
            }
            span {
                color: $brand-color--white;
            }
        }
        &.btn--pink {
            &:hover {
                color: $brand-color--pink;
                span {
                    color: $brand-color--pink;
                }
            }
            &:before {
                background-color: $brand-color--pink;
                border-color: $brand-color--pink;
            }
            span {
                color: $brand-color--white;
            }
        }
        &.btn--white {
            &:hover {
                color: $brand-color--pink;
                span {
                    color: $brand-color--pink;
                }
            }
            &:before {
                background-color: $brand-color--pink;
                border-color: $brand-color--pink;
            }
            span {
                color: $brand-color--white;
            }
        }
        &.btn--orange {
            &:hover {
                color: $brand-color--orange;
                span {
                    color: $brand-color--orange;
                }
            }
            &:before {
                background-color: $brand-color--orange;
                border-color: $brand-color--orange;
            }
        }
        &.btn--green,
        &.btn--blue,
        &.btn--pink,
        &.btn--orange {
            span {
                color: $brand-color--white;
            }
            &:hover {
                &:before {
                    background-color: transparent;
                }
            }
        }
    }
    &.btn--disabled {
        cursor: default;
        color: $brand-color--white;
        &:before {
            background-color: $brand-color--grey;
            border-color: $brand-color--grey;
        }
        &:hover {
            &:before {
                background-color: $brand-color--grey;
                border-color: $brand-color--grey;
            }   
        }
    }

    &.btn--link {
    }
}

.bg-blue,
.bg-green,
.bg-orange,
.bg-pink {
    .btn.btn--skew {
        &:hover {
            &:before {
                background-color: $brand-color--white;
                border-color: $brand-color--white;
            }
        }
        &.btn--fill {
            &:before {
                background-color: $brand-color--white;
            }
            &:hover {
                span {
                    color: $brand-color--white;
                }
            }
        }
    }
}

.bg-blue {
    .btn.btn--skew {
        &.btn--fill {
            span {
                color: $brand-color--blue;
            }
            &:hover {
                &:before {
                    background-color: $brand-color--blue;
                }
            }
        }
        &:hover {
            span {
                color: $brand-color--blue;
            }
        }
    }
}

.bg-green {
    .btn.btn--skew {
        &.btn--fill {
            span {
                color: $brand-color--green;
            }
            &:hover {
                &:before {
                    background-color: $brand-color--green;
                }
            }
        }
        &:hover {
            span {
                color: $brand-color--green;
            }
        }
    }
}
.bg-orange {
    .btn.btn--skew {
        &.btn--fill {
            span {
                color: $brand-color--orange;
            }
            &:hover {
                &:before {
                    background-color: $brand-color--orange;
                }
            }
        }
        &:hover {
            span {
                color: $brand-color--orange;
            }
        }
    }
}

.bg-pink {
    .btn.btn--skew {
        &.btn--fill {
            span {
                color: $brand-color--pink;
            }
            &:hover {
                &:before {
                    background-color: $brand-color--pink;
                }
            }
        }
        &:hover {
            span {
                color: $brand-color--pink;
            }
        }
    }
}

.btn--link {
    font-family: $font-cera-bold;
    font-size: 16px;
    &:after {
        content: '';
        display: block;
    }
    &.btn--link-d {
    }
}


