// common

// grab font
@font-face {
    font-family: 'Cera Light';
    src: url('../fonts/Cera/cera-light-webfont.woff') format('woff'),
        url('../fonts/Cera/cera-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Regular';
    src: url('../fonts/Cera/cera-regular-webfont.woff') format('woff'),
        url('../fonts/Cera/cera-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Bold';
    src: url('../fonts/Cera/cera-bold-webfont.woff') format('woff'),
        url('../fonts/Cera/cera-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Black';
    src: url('../fonts/Cera/cera-black-webfont.woff') format('woff'),
        url('../fonts/Cera/cera-black-webfont.woff2') format('woff2');
}


html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font-cera-light;
    color: $brand-color--blue;
    line-height: 1.8;
}


a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

hr {
    display: block;
    border-width: 0;
    border-top: 1px solid;
    opacity: 0.5;
}

p {
    margin-block-start: 30px;
    margin-block-end: 30px;
}

strong {
    font-family: $font-cera-bold;
}

em { 
    font-style: italic; 
}

img,
svg {
    ouline: 0;
}

.hidden {
    display: none !important;
}

.ta-c {
    text-align: center;
}
.ta-l {
    text-align: left;
}
.ta-r {
    text-align: right;
}

table {
    width: 100%;
}

blockquote {
    font-style: italic;
    font-size: 18px;
}

.overflow-wrapper {
    overflow-x: hidden;
}

