.cta {
    font-family: $font-cera-bold;
    display: inline-block;
    color: inherit;
    position: relative;
    font-size: inherit;
    //transition: $transition-all;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $brand-color--pink;
        //transition: $transition-all;
    }
    i {
        display: inline-block;
        padding: 0 0.5em;
        vertical-align: middle;
        transition: padding 0.5s;
    }
    &:hover i {
        padding: 0 0 0 1em;
        color: $brand-color--pink;
        //transition: $transition-all;
    }
    @include media-breakpoint-down(sm) {
        display: block;
        text-align: center;
        padding: 8px;
    }
}

a:hover .cta {
    text-decoration: none;
    color: $brand-color--pink;
    transition: $transition-all;
    i {
        padding: 0 0 0 1em;
        color: $brand-color--pink;
        //transition: $transition-all;
    }
}

.cta.cta-arrow--down {
    i {
        padding: 0.5em 0;
    }
    &:hover i {
        padding: 1em 0 0 0;
    }
}

.cta.cta-arrow--left {
    &:hover i {
        padding: 0 1em 0 0;
    }
}

.cta.cta-skew {
    font-family: $font-cera-regular;
    padding: 4px 15px;
    span {
        position: relative;
        z-index: 1;
    }
    &:before {
        content: '';
        transform: skewX(-25deg);
        width: 100%;
        position: absolute;
        z-index: 0;
        border: 1px solid;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &:hover {
        color: $brand-color--white;
    }
    &:hover:before {
        background-color: $brand-color--blue;
        border-color: $brand-color--blue;
    }
    &.cta-white {
    }
    &.cta-green {
        color: $brand-color--white;
        &:before {
            background-color: $brand-color--green;
            border-color: $brand-color--green;
        }
        &:hover:before {
            background-color: $brand-color--blue;
            border-color: $brand-color--blue;
        }
    }
}

.bg-orange,
.bg-pink {
    .cta:hover,
    a:hover .cta {
        color: $brand-color--blue;
        i {
            color: $brand-color--blue;
        }
    }
}

.cta-block {
    display: block;
}
