.expanding-wrapper {
   > label {
       cursor: pointer;
       display: table;
       width: 100%;
       border-bottom: 4px solid $brand-color--white;
        > * {
            display: table-cell;
            vertical-align: middle;
            &:last-child {
                border-left: 4px solid $brand-color--white;
                width: 60px; 
            }
       }
   }
    > input { 
        ~ div {
            max-height: 0; overflow: hidden;
        }
        &:checked {
            ~ div { max-height: none; } 
            ~ label {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}