.filter-menu {
    > div {
        display: inline-block;
    }
}

.categories--list {
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-left: 15px;
        li {
            display: inline-block;
            a { 
                display: block;
                padding: 10px;
                color: inherit;
            }
            &.selected {
                color: $brand-color--pink;
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-top: 15px;
        text-align: center;
    }
}
