footer {
    // fancy hover effect
    a {
        position: relative;
        transition: color 0.1s;
        &:hover {
            color: $brand-color--pink;
        }
    }
    .social-list {
        a {
            svg {
                transition: fill 0.1s;
            }
            &:hover {
                svg {
                    fill: $brand-color--pink;
                }
            }
        }
    }
    hr { color: #fff; }
    @include media-breakpoint-up(lg) {
        .footer--links-col {
            margin-top: 50px;
        }
    }
    @include media-breakpoint-down(md) {
        .footer--social-col {
            text-align: right;
            order: 2;
        }
        .footer--links-col {
            order: 1;
        }
        .footer-copyright-col {
            order: 3;
        }
        .list--inline {
            li {
                display: block;
                &:before {
                    display: none;
                }
            }
        }
    }
}
