.form-element--wrapper {
    display: inline-block;
    vertical-align: middle;
}

input.form-element {
}

textarea.form-element {
    resize: vertical;
    min-height: 54px;
    max-height: 500px;
}

input[type='checkbox'].form-element {
    width: 54px;
    height: 54px;
}

.form-element {
    background-color: transparent;
    display: block;
    width: 100%;
    font-family: $font-cera-regular;
    margin: 15px 0;
    border: 0;
    outline: none;
    padding: 15px;
    font-size: 18px;
    color: $brand-color--blue;
    border-bottom: 1px solid $brand-color--blue;
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $brand-color--lblue;
        opacity: 0.5;
    }
    &:focus {
        box-shadow: 0 0 1px 0 $brand-color--lblue;
        border-bottom: 0;
        background-color: $brand-color--white;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $brand-color--lblue;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $brand-color--lblue;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $brand-color--lblue;
    }

    &.bg-green {
        border-bottom: 1px solid $brand-color--white;
        &::-webkit-input-placeholder {
            color: $brand-color--white;
        }
        & + svg {
            fill: $brand-color--white;
        }
    }
}

.form-element--icon {
    position: relative;
    svg {
        fill: $brand-color--blue;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    input {
        padding-left: 45px;
    }
}

.form--checkbox {
    padding: 12px 15px 12px 60px;
    position: relative;
    input {
        &:checked {
            + label {
                span {
                    //position: absolute;
                    background-color: $brand-color--pink;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: 8px;
                        width: 7px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    label {
        cursor: pointer;
        span {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 15px;
            vertical-align: middle;
            border: 1px solid $brand-color--blue;
        }
    }
}

.bg-grey,
.bg-lgrey,
.bg-lpink {
    .form-element {
        border-bottom: 1px solid $brand-color--vgrey;
        &::-webkit-input-placeholder {
            color: $brand-color--vgrey;
        }
    }
    .form--checkbox {
        label {
            color: $brand-color--vgrey;
            span {
                border-color: $brand-color--vgrey;
            }
        }
    }
    .form--sm-print {
        color: $brand-color--vgrey;
    }
    .form-element--radio, .form-element--checkbox {
        color: $brand-color--vgrey;
    }
}




.form--sm-print {
    font-size: 12px;
}

select.form--select {
    outline-color: $brand-color--pink;
    margin: 15px;
    position: relative;
    font-family: $font-cera-regular;
    background-color: transparent;
    font-size: 16px;
    appearance: none;
    color: $brand-color--blue;
    padding: 10px 50px 10px 10px;
    border-radius: 0;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 15px center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 8.5L2.1 4.6c-.1-.2-.1-.5 0-.7s.5-.2.7 0L6 7l3.1-3.1c.2-.2.5-.2.7 0 .2.2.2.5 0 .7L6 8.5z' fill='%23003b4c'/%3E%3C/svg%3E");
}



// stuff to keep

label.form-element--radio {
    cursor: pointer;
    input {
        &:checked + span {
            background-color: $brand-color--pink;
        }

    }
    span {
       display: inline-block;
       vertical-align: middle;
       width: 14px;
       height: 14px;
       border-radius: 100%;
       border: 1px solid;
       margin: auto 5px;
    }
}

label.form-element--checkbox {
    display: block;
    cursor: pointer;
    input {
        &:checked {
            + span {
            position: relative;
            background-color: $brand-color--pink;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 4px;
                left: 7px;
                width: 7px;
                height: 12px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                }
            }
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        border: 1px solid;
        margin: auto 5px;
    }
}

select.form-element--select {
    appearance: none;
    position: relative;
    font-family: $font-cera-regular;
    color: $brand-color--vgrey;
    border-color: $brand-color--vgrey;
    padding: 15px 45px 15px 15px;
    font-size: 16px;
    display: block;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 8.5L2.1 4.6c-.1-.2-.1-.5 0-.7s.5-.2.7 0L6 7l3.1-3.1c.2-.2.5-.2.7 0 .2.2.2.5 0 .7L6 8.5z' fill='%23706f6f'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 12px center ;
    &:active {
        outline: none;
        background-color: $brand-color--white;
    }
    &:focus {
        outline: 0;
    }
}


.search--form {
    max-width: 600px;
    margin: auto;
    position: relative;
    >* {
        vertical-align: middle;
    }
    .icon--search {
        fill: $brand-color--blue;
        position: absolute;
        top: 15px;
        left: 15px;

    }
    .form-element {
        padding-left: 50px;
        padding-right: 60px;
        &:focus + [type='submit'] {
            box-shadow: inset 0 -1px 0 0 $brand-color--dgrey;
        }
    }
    
    [type='submit'] {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background-color:  $brand-color--green;
        color: $brand-color--white;
        border: 0;
        font-size: 16px;
        padding: 18px;
        box-shadow: inset 0 -1px 0 0 $brand-color--blue;
        margin: 0;
    }
    [type="search"] {
        height: 54px;
    }
    [type='submit'], [type="search"] {
        -webkit-appearance: none;
        border-radius: 0;
    }
    

}