.expand-section--input ~ .expand-section--container {
    overflow: hidden;
    max-height: 51vh;
}
.expand-section--input:checked ~ .expand-section--container {
    max-height: none;
}

.expand-section--input ~ .expand-section--btn {
}

.expand-section:checked + div {
}
