// functions

// for dev show class name in front-end
@mixin showClassName($name) {
    &:after {
        content: $name;
        display: inline-block;
        font-size: 16px;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        padding: 15px;
        color: #444;
        background-color: #eee;
    }
}
