// _header.scss
header {
    transition: all 0.3s;
    font-family: $font-cera-regular;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    > .container > .row {
        padding-top: 30px;
        @include media-breakpoint-between(sm, md) {
            padding-top: 15px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 10px;
        }
    }
    .logo--container, .menu--container { 
        margin-bottom: 30px; 
        @include media-breakpoint-between(sm, md) {
            margin-bottom: 15px; 
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 10px; 
        }
    }
    .logo--container {
        h1 {
            margin: inherit;
        }
        .logo {
            display: block;
            position: relative;
            z-index: 1;
            svg {
                display: block;
                width: 100%;
                height: auto;
                max-width: 185px;
                fill: $brand-color--blue;
                .logo--project {
                    opacity: 0.5;
                }
            }
        }
    }
    .menu--container {
        text-align: right;
        position: static;
        @include media-breakpoint-down(sm) { padding-left: 0; }
        button.menu-item {
            &.menu--active { opacity: 1; }
            &.btn--menu {
                width: 44px;
                height: 44px;
                &.menu--active {
                    span { top: 21px !important;}
                    span:first-child { transform: rotate(225deg); }
                    span:last-child { transform: rotate(-225deg); }
                }
            }
            .menu--hamburger span {
                position: absolute;
                display: block;
                width: 26px;
                height: 0;
                border-style: solid;
                left: 9px;
                transition: transform 0.5s;
                &:first-child {
                    border-width: 0 0 1px 0;
                    top: 14px;
                }
                &:last-child {
                    top: 28px;
                    border-width: 1px 0 0 0;
                }
            }
        }
        button.menu-item { background-color: transparent;}
        .menu-item {
            display: inline-block;
            margin-left: 30px;
            vertical-align: middle;
            position: relative;
            z-index: 1;
            -webkit-touch-callout: none;
            user-select: none;

            transition: opacity 0.2s;
            
            svg { fill: $brand-color--blue; transition: fill 0.2s;}
            &[data-menu="search"] {
                width: 44px;
                height: 44px;
                padding: 10px;
            }
            @include media-breakpoint-down(sm) {
                margin-left: 0;
                &.btn--skew { 
                    font-size: 14px;
                    margin-left: 0;
                    padding: 6px 17px
                }
            }
            &:first-child { margin-left: 0;}
            &:hover:not(.btn) {
                cursor: pointer;
                //opacity: 0.5;
            }
            &.btn:hover {
                &:after {
                    background-color: $brand-color--white;
                    border-color: $brand-color--white;
                }
            }
        }
        .drop-down {
            opacity: 0;
            visibility: hidden;
            display: none;
            position: absolute;
            z-index: 0;
            top: 0px;
            left: 0;
            width: 100%;
            background-color: $brand-color--white;
            padding-bottom: 30px;
            padding-top: 104px;
            box-shadow: 0px 1px 5px -2px;
            &.menu--active {
                opacity: 1;
                visibility: visible;
                display: block;
            }
            @include media-breakpoint-between(sm, md)  {padding-top: 75px; }
            @include media-breakpoint-down(sm) { padding-top: 64px; }
            .container {
                padding-top: 30px;
                padding-bottom: 30px;
                @include media-breakpoint-down(sm) { padding-bottom: 0;}
            }

            .form-element--wrapper {
                max-width: 500px;
                width: 100%;
            }
            .menu--lang-sm {
                margin-top: 15px;
                .menu--lang-sm--wrapper {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 350px;
                }
                img {
                    max-width: 30px; 
                    vertical-align: middle;
                }
                a { padding: 15px 10px;}
            }
            // hover states
            .menu-list a, .menu-contact a, &#language a {
                transition: opacity 0.1s;
                &:hover {
                    opacity: 0.75;
                }
            }
            .social-list a {
                svg {
                    transition: fill 0.1s;
                }
                &:hover {
                    svg {
                        fill:$brand-color--pink;
                    }
                }
            }
            .container {
                overflow: auto;
                @include media-breakpoint-between(sm, md) {
                    max-height: calc(100vh - 74px);
                }
                @include media-breakpoint-down(sm) {
                    max-height: calc(100vh - 64px);
                }
                @include media-breakpoint-up(lg) {
                    max-height: calc(100vh - 104px);
                }
            }
        }
        .menu-list {
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
                margin-top: 0;
            }
            button.btn--sm-menu {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                padding: 10px;
                &.menu--active {
                    transform: rotate(180deg);
                    & + ul { max-height: none; }
                }
                @include media-breakpoint-down(sm) {
                    & + ul {
                        max-height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
        #checkbox--language:checked ~ [data-for='language'],
        #checkbox--search:checked ~ [data-for='search'],
        #checkbox--menu:checked ~ [data-for='menu'] {
            opacity: 1;
            visibility: visible;
            display: block;
        }
        #checkbox--menu:checked ~ label[for='checkbox--menu'] {
            span { top: 21px; }
            span:first-child { transform: rotate(225deg); }
            span:last-child { transform: rotate(-225deg); }
        }
    }
    .menu--hr {
        hr {
            display: none; 
            margin: 0;
            margin-bottom: -1px;
        } 
    }
    &.menu--active, &.header--fix {
        color: $brand-color--blue!important;
        background-color: $brand-color--white;
        .logo, .menu-item svg  {
            fill: $brand-color--blue !important;
        }
        .menu-item {
            //opacity: 0.5;
            
            &.btn--skew:hover {
                &:before { background-color: $brand-color--blue; }
                span { color: $brand-color--white; }
            }
        }
    }
    &.header--fix {
        &:not(menu--active) {
            box-shadow: 0px 1px 5px -2px;
            button.menu-item:hover {
                opacity: 0.5;
            } 
        }
        position: fixed;
    }
    &.menu--active {
        .menu--hr hr { display: block; } 
        .menu-item { opacity: 0.5; 
            &.active,
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    + section:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 105px;
        @include media-breakpoint-between(sm, md) { padding-top: 75px; }
        @include media-breakpoint-down(sm) { padding-top: 64px; }
    }
}

body.menu--active {
    overflow: hidden;
}




.btn--sm-menu,
button.menu-item {
    border: 0;
    -webkit-appearance: none;
    background-color: inherit;
    color: inherit;
    font: inherit;
    padding: inherit;
    outline: 0;
}



// header bg colours 
.template-home, 
.template-products, 
.template-product-parent, 
.template-product,
.template-about, 
.template-page-parent,
.template-careers,
.page-404,
.template-login
{
    header {
        color: $brand-color--white;
        .logo--container .logo svg, 
        .menu-item .icon--drop, 
        .menu-item .icon--search {
            fill: $brand-color--white;
        }
        .btn--skew:hover {
            &:before {
                border-color: $brand-color--white;
                background-color: $brand-color--white;
            }
        }
    }
}

.template-home, .template-about, .template-products {
    header {
        .btn--skew:hover {
            span {
                color: $brand-color--blue;
            }
        }
    }
}

.template-product-parent, .template-product {
    header {
        .btn--skew:hover {
            span {
                color: $brand-color--orange;
            }
        }
    }
}

.template-careers {
    header {
        .btn--skew:hover {
            span {
                color: $brand-color--blue;
            }
        }
    }
}

.page-404 {
    header {
        .btn--skew:hover {
            span {
                color: $brand-color--green;
            }
        }
    }
}


@keyframes fixHeader {
    0% { position: absolute; }
    25%  {}
    50%  {}
    100% { position: fixed; } 
}
