.hero-secondary--grid {
    @include showClassName('.hero-secondary--grid');

    .hero-secondary--grid__item {
        padding: 30px;
    }
    .img-res {
        max-width: 70%;
    }
}

.hero-secondary--col {
    @include showClassName('.hero-secondary--col');

    .hero-secondary--col__item {
        position: relative;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        @include media-breakpoint-up(lg) {
            &:nth-child(odd):after {
                content: '';
                position: absolute;
                top: 200px;
                bottom: 0;
                right: 0;
                width: 2px;
                background-color: #fff;
            }
        }
        @include media-breakpoint-down(md) {
            border-bottom: 2px solid;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-left: 15px;
            margin-right: 15px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border: 0;
                padding-bottom: 0;
            }
        }
        &:nth-child(-n + 2) {
            margin-top: 0;
        }
    }
    .img-res {
        max-width: 200px;
    }
}

// remove top padding
.hero.bg-blue + .hero-secondary.bg-blue,
.hero.bg-pink + .hero-secondary.bg-pink,
.hero.bg-orange + .hero-secondary.bg-orange {
    padding-top: 0 !important;
}
