.hero--center-text {
    // for dev
    //@include showClassName('.hero--center-text');
    .h1.h1--xl {
        @include media-breakpoint-down(sm) {
            font-size: 36px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
}

.hero--img-text {
    // for dev
    //@include showClassName('.hero--img-text');

    @include media-breakpoint-down(md) {
        text-align: center;
    }
    .cta {
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    .img-res {
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
    }
}

.hero--icon-text {
    // for dev
    //@include showClassName('.hero--icon-text');

    hr {
        @include media-breakpoint-between(sm, md) {
            margin-top: 50px;
        }
    }
    .img-res {
        max-width: 200px;
        @include media-breakpoint-down(sm) {
            margin: auto;
        }
    }
    .cta {
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

.hero.bg-pink .h1,
.hero.bg-orange .h1 {
    color: $brand-color--blue;
}

.hero--border-col {
    //@include showClassName('.hero--border-col');
    .hero--border-col--2col-wrapper {
        position: relative;

        @include media-breakpoint-up(lg) {
            .error-page--border, .hero--border-col__border {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                width: 1px;
                background-color: white;
            }
        }
    }
}


    .hero.hero--center-text.v-padding--xl {
        @include media-breakpoint-between(md, lg) {
            padding-top: 50px;
            .link--down {
                margin-top: 0;
            }
            .h1.h1--xl {
                font-size: 50px;
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
  
    .hero.hero--text-col.v-padding--lg {
        @include media-breakpoint-between(md, lg) {
            padding-top: 30px;
            .container.eq-margin--lg {
                >* {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
            .col-lg-5.eq-margin--sm.b-padding--md {
                padding-bottom: 0;
            }
        }
    }
