.icon--svg {
    fill: $brand-color--blue;
    vertical-align: middle;
}

.bg-blue,
.bg-orange,
.bg-pink,
.bg-green,
.bg-dgrey {
    .icon--svg {
        fill: $brand-color--white;
    }
}

.icon--drop {
    width: 12px;
    height: 12px;
}

.icon--expand {
    width: 30px;
    height: 30px;
}

.icon--search {
    width: 24px;
    height: 24px;
}

.icon--arrow-d {
    width: 20px;
    height: 86px;
}

.icon--arrow-r,
.icon--arrow-l {
    width: 30px;
    height: 18px;
}

.icon--download {
    width: 30px;
    height: 30px;
}

.icon--social {
    width: 40px; 
    height: 40px;
}

.img-modal--arrow {
    width: 60px;
    height: 40px;
}

 
