.img-res {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include media-breakpoint-down(md) {
        max-width: 500px;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
            
        }
    }
    /*&.margin {
        margin-left: $space-value!important;
        margin-right: $space-value!important;
        margin: $space-value;
    }
    &.margin--sm {
        margin-left: $space-value--sm!important;
        margin-right: $space-value--sm!important;
        margin: $space-value--sm;
    }
    &.margin--md {
        margin-left: $space-value--md!important;
        margin-right: $space-value--md!important;
        margin: $space-value--md;
    }
    &.margin--lg {
        margin: $space-value--lg!important;
    }*/
}
