.img-modal--arrow {
    cursor: pointer;
    &:before {
        display: none!important;
    }
    &:after {
        width: 20px!important;
        height: 20px!important;
        border-top: 2px solid #fff!important;
        border-left: 2px solid #fff!important;
        border-bottom: 0!important;
        border-right: 0!important;
    }
    &.img-modal--arrow_left {
        &:after {
            transform: rotate(-45deg);
        }
    }
    &.img-modal--arrow_right {
        &:after {
            transform: rotate(135deg);
        }
    }
}

.img-modal--close {
    width: 44px!important;
    height: 44px;
    div {
        height: 0px;
        border-top: 1px solid #fff!important;
        border-bottom: 1px solid #fff!important;
        width: 26px;
        position: absolute;
        left: 9px;
        &:first-child {
            transform: rotate(225deg);
        }
        &:last-child {
            transform: rotate(-225deg);
        }
    }
}