.link {
    font-family: $font-cera-bold;
    display: inline-block;
    cursor: pointer;
    &.link--down {
        svg {
            display: block;
            margin: 30px auto 0;
        }
    }
    &.link--right,
    &.link--left {
        svg {
            vertical-align: sub;
        }
    }
    // hover states
    transition: opacity 0.1s;
    &:hover {
        opacity: 0.75;
    }
}


