ul.grid-list {
    list-style: none;
    padding: 0;

    li {
        margin-top: 30px;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            border-bottom: 1px solid;
            padding: 30px;
            margin: 15px;
            &:last-child {
                border: none;
            }
        }
        > a {
            display: block;
        }
    }
}





