.block--marquee {
    //@include showClassName('.block--marquee');

    h2,
    h3,
    h4,
    h5 {
        margin-top: 0;
    }
    .block--marquee__wrapper {
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    .block--marquee__inner {
        width: 200%;
        position: relative;
        animation: marqueeAnimate 20s linear infinite;
        &[data-direction='reverse'] {
            animation-direction: reverse;
        }
        > * {
            display: flex;
            justify-content: space-around;
            width: 50%;
            float: left;
            @include media-breakpoint-down(md) {
                width: 100%;
                &:last-child {
                    display: none;
                }
            }
        }
        &:first-child {
            .block--marquee__item {
                margin-top: 0;
            }
        }
    }
    .block--marquee__item {
        margin-top: 50px;
        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }
        .img-res {
            width: 80%;
        }
    }
}

@keyframes marqueeAnimate {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
