/*.menu-list {
    line-height: 1.4;
    padding-left: 0;
    list-style: none;
    @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center !important;
    }
    ul {
        padding-left: 8px;
        //font-size: 16px;
    }
    li {
        position: relative;
    }
    a, strong {
        display: block;
        @include media-breakpoint-down(sm) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    &,
    & ul {
        list-style: none;
    }
    > li:first-child > a {
        font-family: $font-cera-bold;
    }
    a,
    label, 
    strong  {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    label {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 15px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 44px;
        height: 44px;
    }
    @include media-breakpoint-down(sm) {
        [type='checkbox'] ~ ul {
            overflow: hidden;
            max-height: 0;
        }
        input:checked ~ ul {
            max-height: inherit;
        }
    }
}*/

.menu-list-V2 {
    @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }
    strong { 
        display: block;
        padding: 10px 0;
    }
    ul.menu-list {
        line-height: 1.4;
        padding-left: 0;
        margin: 0;
        list-style: none;
        @include media-breakpoint-down(sm) {
            margin-top: 0;
            margin-bottom: 0;
            
        }
        li {
            position: relative;
        }
        > li {
            @include media-breakpoint-down(sm) {
                margin: 0;
            }
            > a {
                font-family: $font-cera-bold; 
            }
        }
        ul {
            list-style: none;
            padding: 0;
            padding-left: 8px;
        }
        a {
            display: block;
        }
        label {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 15px;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            width: 44px;
            height: 44px;
        }
        a,
        label {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
