// space between paragraph elements
$margin-space-default: 20px;
.paragraph-margin-none {
    > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.paragraph-margin-xs {
    > * {
        margin-top: $margin-space-default / 2;
        margin-bottom: $margin-space-default / 2;
    }
}
.paragraph-margin-sm {
    > * {
        margin-top: $margin-space-default;
        margin-bottom: $margin-space-default;
    }
}
.paragraph-margin-md {
    > * {
        margin-top: $margin-space-default * 2;
        margin-bottom: $margin-space-default * 2;
        @include media-breakpoint-between(sm, md) {
            margin-top: $margin-space-default;
            margin-bottom: $margin-space-default;
        }
    }
}
.paragraph-margin-lg {
    > * {
        margin-top: $margin-space-default * 4;
        margin-bottom: $margin-space-default * 4;
        @include media-breakpoint-between(sm, md) {
            margin-top: $margin-space-default * 2;
            margin-bottom: $margin-space-default * 2;
        }
    }
}

.paragraph-margin-xs,
.paragraph-margin-sm,
.paragraph-margin-md,
.paragraph-margin-lg {
    > * {
        @include media-breakpoint-down(sm) {
            margin-top: $margin-space-default;
            margin-bottom: $margin-space-default;
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.paragraph-lg {
    font-family: $font-cera-regular;
    font-size: 20px;
    line-height: 1.9;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 1.8;
        font-family: $font-cera-light;
    }
}

.newspaper-col-2 {
    column-count: 2;
    column-gap: 50px;
    @include media-breakpoint-down(sm) {
        column-count: 1;
    }
}
