.mfp-bg { background: $brand-color--blue; }
.mpf-wrap {}
.mfp-container {}
@include media-breakpoint-down(sm) {
    .mfp-content { vertical-align: top; }
}

#cookieConsent {
    //position: relative;
    padding: 60px;
    max-width: 1000px;
    .mfp-close {
        margin-right: 60px;
        margin-top: 68px;
        color: $brand-color--blue;
    }
    .cookieConsent--cta {
        a {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    p a {
        font-family: $font-cera-bold;
        display: inline-block;
        cursor: pointer;
    }
    @include media-breakpoint-down(sm) {
        padding: 30px;
        .h1 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}
