.template-projects-index {
    select.filter-menu {
        @include media-breakpoint-down(sm) {
            display: block;
            width: 100%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}