.project-img-grid {
    .project-img-grid--imglg {
    }
    .project-img-grid--img {
        &:nth-child(1), &:nth-child(2) {
            @include media-breakpoint-up(lg) {
                margin-bottom:30px;
            }
        }
        margin-bottom: 0;
        img { margin-bottom: 0;}

    }
}