.block--quote {
    blockquote {
        margin: 30px 0;
    &:before, &:after {
        content: '"';
    }
    }
    ul.grid-list li {
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 45px;
    }
}

.credit {
    font-family: $font-cera-bold; 
    strong {
        color: $brand-color--pink;
    }
}