// target shapes by layout template ??

.shape-divider {
    overflow: hidden;
    @include media-breakpoint-between(md, sm) {
        padding-bottom: 0px !important;
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 0px !important;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        right: 0;
        left: 0;
        top: 100%;
        transform: skewY($skew-angle-invert);
        background-color: $brand-color--white;
        height: 160%;
        transform-origin: top left;
    }

    .img-res {
        //margin-top: 200px;
        //margin-bottom: 200px;
        //min-height: 800px;
        @include media-breakpoint-down(lg) {
            //min-height: 600px;
        }
        @include media-breakpoint-down(md) {
            //min-height: auto;
        }
    }
}

/*.shape-divider + section.bg-white {
    padding-top: 0 !important;
}

.shape--after {
}

.hero .container,
.shape-divider .container {
    position: relative;
}

.shape {
    display: none;
    position: absolute;
    height: 180px;
    width: 400px;
    background-color: #eee;
    transform: skewY($skew-angle-invert);
    background-color: $brand-color--blue;
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.hero--center-text.bg-blue {
    .shape {
        display: block;
        top: calc(120% - 180px);
        &:nth-child(1) {
            background-color: $brand-color--green;
            left: 90%;
            top: 70%;
            width: 600px;
        }
        &:nth-child(2) {
            background-color: $brand-color--white;
            right: 80%;
        }
        &:nth-child(3) {
            background-color: $brand-color--lgreen;
            right: 100%;
        }
    }
}

.block--img-text.bg-blue.shape-divider {
    .shape {
        &:first-child {
            display: block;
        }
    }
}

.hero--img-text.bg-orange {
    .shape {
        background-color: $brand-color--white;
        left: 80%;
        top: 60%;
    }
}

.bg-blue.shape-divider {
    .shape {
        top: 80%;
        background-color: $brand-color--green;
        right: 80%;
    }
}

.block--img-text-offset {
    .shape {
        display: block;
    }
}

// heros
.hero--img-text.bg-blue,
.hero--img-text.bg-orange {
    .shape {
        display: block;
        background-color: $brand-color--white;
        right: 0;
        bottom: 0;
    }
}

// shapes within image container
.img-res.img-shape,
.img-res.img-shape2,
.img-shape2__invert {
    padding-bottom: 80px;
    img {
        position: relative;
    }
    span {
        position: absolute;
        z-index: 0;
        transform: skewY($skew-angle-invert);
        height: 180px;
        width: 400px;
        background-color: $brand-color--blue;
        top: 40%;
    }
}
.img-res.img-shape {
    span {
        left: 50%;
        top: 40%;
    }
}

.img-res.img-shape2 {
    span {
        &:nth-child(1) {
            left: 50%;

            //background-color: $brand-color--yellow;
        }
        &:nth-child(2) {
            left: 10%;
        }
    }
}

.img-res.img-shape2__invert {
    span {
        &:nth-child(1) {
            right: 10%;
            //background-color: $brand-color--yellow;
        }
        &:nth-child(2) {
            right: 50%;
        }
    }
}

// shapes within hero container
.hero--icon-text {
    .hero-shape2 {
        span {
            &:nth-child(1) {
            }
            &:nth-child(2) {
            }
        }
    }
}

.bg-blue,
.bg-orange {
    .img-res.img-shape,
    .img-res.img-shape2 {
        span {
            background-color: $brand-color--white;
        }
    }
}

// shapes are a mess !!!!!!

.shape--section {
}
.shape--img {
}
.shape--text {
}

.shapes--wrapper {
    span {
        display: none;
    }
}
*/



// home page hero shapes




.template-home {
    .hero--center-text {
        .shapes {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
            span {
                position: absolute;
                display: block;
                height: 180px;
                width: 400px;
                transform: skewY($skew-angle-invert);
                &:nth-child(1) {
                    width: 600px;
                    background-color: $brand-color--green;
                    left: 80%;
                    top: 0px;
                }
                &:nth-child(2) {
                    background-color: $brand-color--white;
                    right: 80%;
                    top: 80px;
                }
                &:nth-child(3) {
                    background-color: $brand-color--lgreen;
                    right: 100%;
                    top: 80px;
                }
            }
        }
    }
    .sub-hero.shape-divider {
        .shapes {
            position: absolute;
            left: 200px;
            bottom: 0;
            z-index: 0;
            height: 447px;
            width: 600px;
            span {
                position: absolute;
                display: block;
                height: 180px;
                width: 600px;
                transform: skewY($skew-angle-invert);
                &:nth-child(1) {
                    background-color: $brand-color--green;
                    top: 0;
                    transform-origin: 600px;

                }
            }
        }
    }
}


.img-res {
    .shape {
        display: block;
        position: absolute;
        height: 180px;
        width: 600px;
        transform: skewY($skew-angle-invert);
    }
}

.block--img-text-offset__invert {
    .img-res {
        .shape {
            bottom: 10%;
            left: 80%;
        }
    }
}

.block--img-text-offset {
    .img-res {
        .shape {
            top: 10%;
            right: 80%;
            + img {
                margin-top: 80px;
                margin-bottom: 80px;
            }
        }
    }
}

.hero--img-text {
    .img-res {
        .shape {
            top: 60%;
            left: 40%;
            + img {
                margin-bottom: 160px;
            }
        }
    }
}





.template-product-management {
    .hero--text-col {
        .shape {
            &:nth-last-of-type(1) {

            }
            &:nth-last-of-type(2) {}
        }

    }
}




// -------------
// shape defaut
// -------------

.shape {
    position: absolute;
    z-index: 0;
    display: block;
    height: 180px;
    width: 400px;
    transform: skewY($skew-angle-invert);
}

// -------------
// shape defaut
// -------------

// --------------------------
// shapes based on templates
// --------------------------
.template-product {
    // hero shape
    .hero--text-col {
        &.bg-orange {
            .shape {
                &:nth-last-of-type(1) {
                    right: 0%;
                    bottom: 120px;
                    background-color: $brand-color--yellow;
                    width: 600px;
                }
                &:nth-last-of-type(2) {
                    right: 6%;
                    bottom: 0;
                    background-color: $brand-color--blue;
                    width: 300px;
                }
            }
        }
        .hero--text-col__body {
            margin-bottom: 100px;
        }
    }
    
    .block--img-text, .block--img-text__invert {
        .img-res {
            .shape {
                width: 350px;                
            }
        }
    }
    .block--img-text {
        .img-res {
            .shape {
                top: -22px;
                + img {
                    margin-top: 100px;
                }
            }
            .shape:nth-last-of-type(1) {
                left: 60%;
                background-color:  $brand-color--blue;
            }
            .shape:nth-last-of-type(2) {
                right: 10%;
                background-color: $brand-color--yellow;
            }
        }
    }
    .block--img-text__invert {
        .img-res {
            .shape {
                bottom: -22px;
                + img {
                    margin-bottom: 100px;
                }
            }
            .shape:nth-last-of-type(1) {
                right: 60%;
                background-color:  $brand-color--blue;
            }
            .shape:nth-last-of-type(2) {
                left: 10%;
                background-color: $brand-color--yellow;
            }
        }
    }
}

.template-product-parent, .template-page-parent {
    .hero--img-text {
        &.bg-orange, &.bg-blue {
            .img-res {
                .shape {
                    background-color: $brand-color--white;
                }
            }
        }
        
    }
    
}

.template-about, .template-careers {
    .hero--img-text {
        &.bg-blue, &.bg-green  {
            .img-res {
                .shape {
                    background-color: $brand-color--white;
                }
            }
        }
    }
}

.template-careers {
    .block--img-text, .block--img-text__invert {
        .img-res {
            .shape {
                width: 350px;                
            }
        }
    }
    .block--img-text {
        .img-res {
            .shape {
                top: -22px;
                + img {
                    margin-top: 100px;
                }
            }
            .shape:nth-last-of-type(1) {
                left: 60%;
                background-color:  $brand-color--blue;
            }
            .shape:nth-last-of-type(2) {
                right: 10%;
                background-color: $brand-color--green;
            }
        }
    }
    .block--img-text__invert {
        .img-res {
            .shape {
                bottom: -22px;
                + img {
                    margin-bottom: 100px;
                }
            }
            .shape:nth-last-of-type(1) {
                right: 60%;
                background-color:  $brand-color--blue;
            }
            .shape:nth-last-of-type(2) {
                left: 10%;
                background-color: $brand-color--green;
            }
        }
    }
}