.sign-post--col {
    @include showClassName('.sign-post--col');

    .sign-post--col--item {
        @include media-breakpoint-down(md) {
            border-bottom: 1px solid;
            padding-bottom: 30px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            &:nth-child(odd) {
                border-right: 1px solid;
            }
        }

        a {
            max-width: 350px;
            display: block;
            margin: auto;
            .img-res {
                max-width: 200px;
            }
            h3,
            h4 {
                font-size: 36px;
            }
        }
    }
}

.sign-post--carousel {
    //@include showClassName('.sign-post--carousel');

    .carousel {
        //margin: auto 150px;
        .carousel--item {
            width: 20%;
            @include media-breakpoint-down(md) {
                width: 50%;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            margin: 0 2.5%;
            .img-res {
                max-width: 150px;
            }
            a {
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .flickity-button {
            background-color: transparent;
            color: $brand-color--white;
            border: 2px solid;
            &.previous {
                left: -50px;
                @include media-breakpoint-down(sm) {
                    left: 0;
                }
            }
            &.next {
                right: -50px;
                @include media-breakpoint-down(sm) {
                    right: 0;
                }
            }
        }
        .flickity-page-dots {
            display: none;
        }
    }
}

.sign-post--img-col {
    h3,
    h4 {
        font-size: 36px;
    }
}
