.social-list {
    list-style: none;
    padding-left: 0;
    li {
        display: inline-block;
    }
    a {
        display: block;
        width: 30px;
        height: 30px;
    }
    svg {
        width: 100%;
        height: auto;
    }
    &.text-color--white {
        svg {
            fill: $brand-color--white;
        }
    }
    &.text-color--pink {
        svg {
            fill: $brand-color--pink;
        }
    }
}
