$space-value: $grid-gutter-width / 2;
$space-value--sm: $space-value * 2;
$space-value--md: $space-value--sm * 2;
$space-value--lg: $space-value--md * 2;
$space-value--xl: $space-value--lg * 2;

// --------------------- //
// -- padding classes -- //
// --------------------- //

.padding {
    padding: $space-value;
}
.padding--sm {
    padding: $space-value--sm;
}
.padding--md {
    padding: $space-value--md;
}
.padding--lg {
    padding: $space-value--lg;
}

.v-padding {
    padding-top: $space-value;
    padding-bottom: $space-value;
}
.v-padding--sm {
    padding-top: $space-value--sm;
    padding-bottom: $space-value--sm;
}
.v-padding--md {
    padding-top: $space-value--md;
    padding-bottom: $space-value--md;
}
.v-padding--lg {
    padding-top: $space-value--lg;
    padding-bottom: $space-value--lg;
}
.v-padding--xl {
    padding-top: $space-value--xl;
    padding-bottom: $space-value--xl;
}

.h-padding {
    padding-left: $space-value;
    padding-right: $space-value;
}
.h-padding--sm {
    padding-left: $space-value--sm;
    padding-right: $space-value--sm;
}
.h-padding--md {
    padding-left: $space-value--md;
    padding-right: $space-value--md;
}
.h-padding--lg {
    padding-left: $space-value--lg;
    padding-right: $space-value--lg;
}
.h-padding--xl {
    padding-left: $space-value--xl;
    padding-right: $space-value--xl;
}

.t-padding {
    padding-top: $space-value;
}
.t-padding--sm {
    padding-top: $space-value--sm;
}
.t-padding--md {
    padding-top: $space-value--md;
}
.t-padding--lg {
    padding-top: $space-value--lg;
}

.b-padding {
    padding-bottom: $space-value;
}
.b-padding--sm {
    padding-bottom: $space-value--sm;
}
.b-padding--md {
    padding-bottom: $space-value--md;
}
.b-padding--lg {
    padding-bottom: $space-value--lg;
}

.padding--none {
    padding: 0;
}

// -------------------- //
// -- margin classes -- //
// -------------------- //

.margin {
    margin: $space-value;
}
.margin--sm {
    margin: $space-value--sm;
}
.margin--md {
    margin: $space-value--md;
}
.margin--lg {
    margin: $space-value--lg;
}

.v-margin,
.eq-margin > * {
    margin-top: $space-value;
    margin-bottom: $space-value;
}
.v-margin--sm,
.eq-margin--sm > * {
    margin-top: $space-value--sm;
    margin-bottom: $space-value--sm;
}
.v-margin--md,
.eq-margin--md > * {
    margin-top: $space-value--md;
    margin-bottom: $space-value--md;
}
.v-margin--lg,
.eq-margin--lg > * {
    margin-top: $space-value--lg;
    margin-bottom: $space-value--lg;
}

.eq-margin--none > * {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.eq-margin,
.eq-margin--sm,
.eq-margin--md,
.eq-margin--lg {
    > *:first-child {
        margin-top: 0!important;
    }
    > *:last-child {
        margin-bottom: 0!important;
    }
}

.t-margin {
    margin-top: $space-value;
}
.t-margin--sm {
    margin-top: $space-value--sm;
}
.t-margin--md {
    margin-top: $space-value--md;
}
.t-margin--lg {
    margin-top: $space-value--lg;
}

.b-margin {
    margin-bottom: $space-value;
}
.b-margin--sm {
    margin-bottom: $space-value--sm;
}
.b-margin--md {
    margin-bottom: $space-value--md;
}
.b-margin--lg {
    margin-bottom: $space-value--lg;
}

.margin--none {
    margin: 0;

    &.img-res {
        margin-right: 0!important;
        margin-left: 0!important;
    }
}

.section-fh {
    min-height: 100vh;
}
