.template-home {
    .sub-hero {
        padding-top: 0 !important;
        .img-res {
            margin-top: 170px;
            margin-bottom: 170px;
            @include media-breakpoint-between(lg, md) {
                margin-top: 100px;
                margin-bottom: 100px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 60px;
                margin-bottom: 60px;
            }
        }
    }
}

.template-products {
    .grid-list {
        .img-res {
            max-width: 150px;
            margin: auto;
        }
    }
}

@include media-breakpoint-up(lg) {
.template-news-events-index {
    .subscribe-filter--row {
        >*:nth-child(1) {
            order: 2;
        }
        >*:nth-child(2) {
            order: 1;
        }
    }
}
}