.h1 {
    font-family: $font-cera-regular;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    &.h1--sm {
        font-size: 22px;
    }
    &.h1--lg {
        font-size: 48px;
    }
    &.h1--xl {
        font-size: 60px;
    }
}

.h2 {
    font-family: $font-cera-bold;
    font-size: 24px;
    line-height: 1.2;
    &.h2--lg {
        font-size: 36px;
    }
    &.h2--sm {
        font-size: 22px;
    }
    &.h2--xs {
        font-size: 16px;
    }
}

.h3 {
    font-family: $font-cera-bold;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.5;
    line-height: 1.4;
}

.h4 {
    font-family: $font-cera-bold;
    font-size: 20px;
}

ul.list,
ul.list--sm {
    padding-left: 20px;
    line-height: 1.4;
    li {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
ul.list {
    li {
        margin: 15px 0;
        padding-left: 15px;
    }
}
.list--sm {
    li {
        margin: 10px 0;
    }
}

.list--title {
    font-size: 18px;
    font-family: $font-cera-bold;
}

ul.list--inline {
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        a {
            padding: 4px 0;
        }
        &:before {
            content: '|';
            display: inline-block;
            margin: 0 15px 0 10px;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-cera-regular;
    font-size: 48px;
    //margin-bottom: 80px;
    line-height: 1.2;
    font-weight: 500;
    @include media-breakpoint-between(sm, md) {
        //font-size: 36px;
        //margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
        //font-size: 28px !important;
        //line-height: 1.4;
        //margin-bottom: 15px;
        //text-align: center;
    }
}

.sub-heading {
    font-family: $font-cera-bold;
    font-size: 24px;
    line-height: 1;
}

.before-heading,
.before-heading--sm {
    text-transform: uppercase;
    font-family: $font-cera-bold;
    opacity: 0.5;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.before-heading--sm {
    font-size: 14px;
}

.paragraph-heading {
    font-family: $font-cera-bold;
    font-size: 16px;
    line-height: 1.3;
    margin: 30px 0;
}

.page-note {
    background-color: $brand-color--grey;
    padding: 15px;
    font-family: $font-cera-regular;
}

.text-color--pink {
    color: $brand-color--pink;
}
.text-color--blue {
    color: $brand-color--blue;
}
.text-color--green {
    color: $brand-color--green;
}

.text-opacity {
    opacity: 0.5;
}

.breadcrumb--title {
    text-transform: uppercase;
    font-family: $font-cera-bold;
    font-size: 16px !important;
}
h1.breadcrumb--title {
    opacity: 0.5;
}

.cms-textarea--content {
    > * {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-cera-bold;
        margin-top: 60px;
        margin-bottom: 30px;
        &.cms-textarea--indent {
            margin-top: 30px;
        }
    }
    &.heading-color--pink {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $brand-color--pink;
        }
    }
    p {
    }
    a {
        font-weight: 600;
    }
    ul,
    ol {
        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
        li {
            margin: 8px 0;
            padding-left: 15px;
        }
    }
    ul {
        padding-left: 20px;
        li {
        }
        &.cms-textarea--indent {
        }
    }
    ol {
        padding-left: 20px;
        li {
            list-style-type: none;
            counter-increment: item;
            position: relative;
            &:before {
                content: counter(item) '.';
                font-family: $font-cera-bold;
                position: absolute;
                left: -18px;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        max-width: 600px;
    }
    > *:first-child,
    > div > *:first-child {
        margin-top: 0;
    }
    > *:last-child,
    > div > *:last-child {
        margin-bottom: 0;
    }
    .cms-textarea--indent {
        margin-left: 30px;
    }
}

.error-number {
    font-size: 250px;
    @include media-breakpoint-down(lg) {
        font-size: 200px;
    }
    @include media-breakpoint-down(md) {
        font-size: 100px;
    }
}
