<perch:before>
    <ul class="downloads--grid row">
</perch:before>

<li class="col-lg-4">
    <a
    <!--* if brochure or manual *-->
    <perch:if exists="download_en">
    href="<perch:translate id="download_en" en="{download_en}" de="{download_de}" explicit="true" />"
    <perch:else />
    href="<perch:content id="path"/><perch:translate id="slug_en" en="{slug_en}" de="{slug_de}" explicit="true" />/"
    </perch:if>
    >
    <div class="row">
        <div class="col-4 ta-c">
            <img 
            <perch:if id="type" match="eq" value="whitepaper">
                src="/assets/img/icon-download-whitepaper.svg" 
            </perch:if>
            <perch:if id="type" match="in" value="brochure,manual">
                src="/assets/img/icon-download-brochure.svg" 
            </perch:if>
            <perch:if id="type" match="eq" value="webinar">
                src="/assets/img/icon-download-webinar.svg" 
            </perch:if>
            alt="<perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" />"/>
        </div>
        <div class="col-8 eq-margin">
            <div class="h3">
                <!--* to translate *-->
                <perch:if id="type" match="eq" value="whitepaper">
                    <perch:trans id="lang.downloads.whitepaper" />
                </perch:if>
                <perch:if id="type" match="eq" value="brochure">
                    <perch:trans id="lang.downloads.brochure" />
                </perch:if>
                <perch:if id="type" match="eq" value="webinar">
                    <perch:trans id="lang.downloads.webinar" />
                </perch:if>
                <perch:if id="type" match="eq" value="manual">
                    <perch:trans id="lang.downloads.manual" />
                </perch:if>
            </div>
            <h3 class="h2 h2--sm text-color--pink"><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" /></h3>
        </div>
    </div>


    

    </a>
</li>




<perch:after>
    </ul>
</perch:after>

