<div class="menu-address paragraph-margin-sm">
  <p>
    <strong><perch:content id="site"></strong><br>
    <perch:translate id="division_en" en="{division_en}" de="{division_de}" explicit="true" />,<br class="hidden-sm">
    <perch:content id="address1" type="text" />,<br class="hidden-sm"> 
    <perch:content id="address2" type="text" />,<br class="hidden-sm"> 
    <perch:if exists="address3">, <perch:content id="address3" type="text" />,<br class="hidden-sm"> </perch:if> 
    <perch:categories id="officeLocation" label="Office Location" set="office-location" max="1"/>
      <perch:category id="catTitle">
    </perch:categories>
  </p>
</div>

<div class="menu-contact">
  <p>
    <perch:trans id="lang.global.phone" />: <a href="tel:<perch:content id="telephone" type="text" filter="space" />"><perch:content id="telephone" type="text" /></a><br>
    <a class="email"><perch:content id="email" type="text" replace="@| [at] "/></a><br>
    <!--*<a href="<perch:content id="website" type="text" />"><perch:content id="website" type="text" replace="http://|,https://|" /></a>*-->
  </p>
</div>

<perch:template path="content/social-icons.html" />
