<perch:before>
    <ul class="grid-list row">
</perch:before>
<li class="col-lg-6" data="<perch:content id="country-region" />">
    <a href="<perch:content id="perch_page_path" />/<perch:translate id="slug_en" en="{slug_en}" de="{slug_de}" explicit="true" />/">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="img-res">
                    <img src="<perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="335" height="250" crop="true" />" alt="<perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" />"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 eq-margin">
                <div class="eq-margin--none">
                    <h3 class="h2 h2--sm"><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" /></h3>
                    
                </div>
                <hr />
                <div>
                    <div class="h3"><perch:categories id="country-region" label="Country / Region" set="country-region" max="1" required="true"/><perch:category id="catTitle" /></perch:categories></div>
                    <div class="h3"><perch:categories id="industry" label="industry" set="industry" max="1" required="true"/><perch:category id="catTitle" /></perch:categories></div>
                </div>
                <span class="link link--right">
                    <span><perch:trans id="lang.projects.view-project" /></span>
                    <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                        <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                    </svg>
                </span>

            </div>
        </div>
    </a>
</li>

<perch:after>
    </ul>


    <perch:if exists="paging">
    <div class="row ta-c">
        <div class="col-12 ta-c eq-margin">
            <div class="h3">
                Page <perch:content id="current_page" /> of <perch:content id="number_of_pages" />   
            </div>
            <perch:if exists="not_first_page">
                <a class="btn btn--skew btn--fill" href="<perch:content id="prev_url" encode="false" replace="?|/?"/>"><span>Prev</span></a>
                <!-- <a class="btn btn--skew btn--fill" href="<perch:content id="perch_page_path">/<perch:content id="prev_url" encode="false" rewrite="{country-region:country-region/%s/}{industry:industry/%s/}{page:%s/}" />"><span>Prev</span></a> -->
            <perch:else />
                <span class="btn btn--skew btn--disabled"><span>Prev</span></span>
            </perch:if>
            <perch:if exists="not_last_page">
                <a class="btn btn--skew btn--fill" href="<perch:content id="next_url" encode="false" replace="?|/?"/>"><span>Next</span></a>
                <!-- <a class="btn btn--skew btn--fill" href="<perch:content id="perch_page_path">/<perch:content id="next_url" encode="false" rewrite="{country-region:country-region/%s/}{industry:industry/%s/}{page:%s/}" />"><span>Next</span></a> -->
            <perch:else />
                <span class="btn btn--skew btn--disabled"><span>Next</span></span>
            </perch:if>
        </div>
        <perch:content id="page_links" encode="false" />
    </div>
    </perch:if>
</perch:after>