<section class="v-padding--md">
    <div class="container eq-margin--md">
        <div class="row">
            <div class="col-12 h3 breadcrubs--header">
                <perch:content id="parent_page" html="true" type="hidden"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="h1 margin--none"><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" /></h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-4 eq-margin--md">
                <h4 class="h2 h2--sm margin--none"><perch:translate id="desc_en" en="{desc_en}" de="{desc_de}" explicit="true" /></h4>
                <perch:if id="cookieAccepted" match="eq" value="true">
                    <div class="expanding-wrapper">
                        <input id="download" type="checkbox" class="hidden"/>
                        <label for="download">
                            <div class="bg-pink padding h2 h2--sm">
                                <perch:trans id="lang.downloads.download" />
                                <perch:if id="type" match="eq" value="whitepaper">
                                    <perch:trans id="lang.downloads.whitepaper" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="brochure">
                                    <perch:trans id="lang.downloads.brochure" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="webinar">
                                    <perch:trans id="lang.downloads.webinar" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="manual">
                                    <perch:trans id="lang.downloads.manual" />
                                </perch:if>
                            </div>
                            <div class="bg-pink padding ta-c">
                                <svg class="icon--expand icon--svg" viewBox="0 0 12 12">
                                    <use xlink:href="/assets/svg/svg-defs.svg#icon--drop"></use>
                                </svg>
                            </div>
                        </label>
                        <div class="bg-lpink">
                            <div class="padding--sm">
                                <form 
                                    class="mktoForm" data-form-id="<perch:translate id="mktoID_en" en="{mktoID_en}" de="{mktoID_de}" explicit="true" />" 
                                    <perch:if exists="mktoStyle">data-form-style="<perch:content type="select" id="mktoStyle" label="Form Style" options="Compact|compact" allowempty="true" order="25"/>"</perch:if> 
                                >
                                </form>
                            </div>
                        </div>
                    </div>
                <perch:else />
                    <div class="bg-lpink padding--sm">
                        <perch:trans id="lang.downloads.update-cookie-setting" html="true"/>
                    </div>
                </perch:if>
                
            </div>
            <div class="offset-lg-2 col-lg-6">
                <div class="cms-textarea--content">
                    <perch:content id="text_en" html="true" />
                </div>
            </div>
        </div>
    </div>
</section>








    <perch:content id="type" type="select" label="Type of Download" options="Whitepaper|whitepaper, Brochure|brochure, Webinar on demand|webinar, Manual|manual" allowempty="false" required suppress="true" order="2" help="Controls the type and icon on the parent page"/>

    <perch:content id="name_en" type="text" required label="Name of Download" title="true" suppress="true" order="1" help="Title of Download"/>
    <perch:content id="download_en" type="file" label="Download File" bucket="whitepaper_en" suppress="true" divider-before="For Direct Download" order="10" help="If file has been uploaded then this will overide the form contolled download"/>
    
    <perch:content id="slug_en" type="slug" for="name_en" suppress="true" />
    <perch:content id="mktoID_en" type="text" label="Form ID"  suppress="true" order="20" help="Marketo form ID in relation to lang"/>
    <perch:content id="desc_en" type="text" label="Description of Download" suppress="true" order="11" divider-before="For Form Controlled Download" help="Subheading in content"/>
    <perch:content id="edownload_en" type="file" label="Download Email File" bucket="whitepaper_en" suppress="true" order="13"/>
    <perch:content id="text_en" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="1200" order="30" suppress="true"/>




<perch:group label="Language - DE" collapse="true">
    <perch:content id="name_de" type="text" label="Name of Download" suppress="true" help="Title of Download" order="600"/> 
    <perch:content id="download_de" type="file" label="Download File" bucket="whitepaper_en" suppress="true" divider-before="For Direct Download" help="If file has been uploaded then this will overide the form contolled download"/>
    <perch:content id="slug_de" type="slug" for="name_de" suppress="true"/>
    <perch:content id="desc_de" type="text" label="Description of Download" suppress="true" divider-before="For Form Controlled Download"  help="Subheading in content"/>
    <perch:content id="edownload_de" type="file" label="Download Email File" bucket="whitepaper_de" suppress="true"/>
    <perch:content id="mktoID_de" type="text" label="Form ID" suppress="true" help="Marketo form ID in relation to lang">
    <perch:content id="text_de" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="1200" suppress="true"/>
    
</perch:group>