<perch:content id="division_en" type="text" label="Division" suppress="true" required="true" title="true" order="1"/>
<!--*<perch:content id="name_en" type="text" label="Name" suppress="true" order="0"/>*-->
<!--*<perch:content id="country_en" type="text" label="Country" suppress="true" order="6"/>*-->

<li class="col-lg-4 col-md-4 eq-margin">
  <div class="eq-margin--none">
    <strong><perch:translate id="division_en" en="{division_en}" de="{division_de}" explicit="true" /></strong>
  </div>

  <div>
    <div><perch:content id="address1" type="text" label="Address line 1" required="true" order="3"/></div>
    <div><perch:content id="address2" type="text" label="Address line 2" required="true" order="4"/></div>
    <perch:if exists="address3"><div><perch:content id="address3" type="text" label="Address line 3" order="5"/></div></perch:if>
    <!--*<div><perch:translate id="country_en" en="{country_en}" de="{country_de}" explicit="true"/></div>*-->
    <div>
    <perch:categories id="officeLocation" label="Country" set="office-location" max="1" required="true" help="If related 'Country' does not exist in the above field then it will need to be added into the 'Categories' under 'Office Location'"/>
      <perch:category id="catTitle">
    </perch:categories>
    </div>
  </div>

  <div>
    <perch:if exists="telephone"><div><perch:trans id="lang.global.phone" />: <a href="tel:<perch:content id="telephone" type="text" label="Telephone" filter="space" required="true" />"><perch:content id="telephone" type="text" /></a></div></perch:if>
    <perch:if exists="website"><div><a href="<perch:content id="website" type="text" label="Website" help="http(s)://www.example.com" />"><perch:content id="website" type="text" replace="http://|,https://|" /></a></div></perch:if>  
    <perch:if exists="email"><div><a class="email"><perch:content id="email" type="text" label="Email address" help="example@example.com" replace="@| [at] "/></a></div></perch:if>
  </div>
  
  <perch:if exists="url">
  <div>
    <a href="<perch:content id="url" type="text" label="Google map URL" help="https://goo.gl/maps/d6zXZsHrAVpGsZMm8 (optional)" />" class="link"><perch:trans id="lang.global.google-maps" /></a>
  </div>
  </perch:if>
 

</li>


<perch:group label="Google Maps" collapse="true">
  <perch:content id="mapLat" type="text" label="Google map latitude coordinates" help="51.866167(optional)" suppress="true" />
  <perch:content id="mapLng" type="text" label="Google map longitude coordinates" help="-2.204907 (optional)" suppress="true" />
</perch:group>
<perch:template path="content/social-icons.html" suppress="true"/>

<!--* Add social media repeater/block (look at potential social networks available within group) *-->

<perch:group label="Language - DE" collapse="true">
  <perch:content id="division_de" type="text" label="Division" suppress="true" />
  <!--*<perch:content id="name_de" type="text" label="Name" suppress="true" />*-->
  <!--*<perch:content id="country_de" type="text" label="Country" suppress="true"/>*-->
</perch:group>