<li class="col-lg-4 col-md-4 eq-margin" <perch:if exists="mapLat">data-lat="<perch:content id="mapLat"/>"</perch:if>  <perch:if exists="mapLng">data-lng="<perch:content id="mapLng"/>"</perch:if>>
    <h3 class="h2 h2--sm text-color--green">
        <perch:if id="perch_item_index" match="eq" value="1">
            <perch:categories id="officeLocation" label="Office Location" set="office-location" max="1"/>
                <perch:category id="catTitle">
            </perch:categories>
        </perch:if>
    </h3>
    
    <div class="eq-margin--none">
        <strong><perch:translate id="division_en" en="{division_en}" de="{division_de}" explicit="true" /></strong>
    </div>
    <div>
        <div><perch:content id="address1" type="text" label="Address line 1" required="true" order="3"/></div>
        <div><perch:content id="address2" type="text" label="Address line 2" required="true" order="4"/></div>
        <perch:if exists="address3"><div><perch:content id="address3" type="text" label="Address line 3" order="5"/></div></perch:if>
        <div>
            <perch:categories id="officeLocation" label="Office Location" set="office-location" max="1"/>
                <perch:category id="catTitle">
            </perch:categories>
        </div>
    </div>
    <div>
        <perch:if exists="telephone"><div><perch:trans id="lang.global.phone" />: <a href="tel:<perch:content id="telephone" type="text" label="Telephone" filter="space" required="true" />"><perch:content id="telephone" type="text" /></a></div></perch:if>
        <perch:if exists="website"><div><a href="<perch:content id="website" type="text" label="Website" help="http(s)://www.example.com" />"><perch:content id="website" type="text" replace="http://|,https://|" /></a></div></perch:if>  
        <perch:if exists="email"><div><a class="email"><perch:content id="email" type="text" label="Email address" help="example [at] example.com" /></a></div></perch:if>
    </div>
    <perch:if exists="url">
        <div>
            <a href="<perch:content id="url" type="text" label="Google map URL" help="https://goo.gl/maps/d6zXZsHrAVpGsZMm8 (optional)" />" class="link"><perch:trans id="lang.global.google-maps" /></a>
        </div>
    </perch:if>
</li>
