<section class="block--img-text-offset v-padding--md">
    <div class="container">
        <div class="row align-items-center">
            <div class="block--img-text-offset__text eq-margin--sm col-lg-4 offset-lg-1">
                <div class="eq-margin--none">
                    <h4 class="h2 h2-sm text-color--pink"><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true"/></h4>
                    <div class="h3"><perch:categories id="country-region" label="Country / Region" set="country-region" max="1" required="true"/><perch:category id="catTitle" /></perch:categories></div>
                </div>
                    <perch:translate id="excerpt_en" en="{excerpt_en}" de="{excerpt_de}" explicit="true"/>
                <div>
                    <a href="/<perch:content id="lang" /><perch:trans id="lang.projects.url" /><perch:translate id="slug_en" en="{slug_en}" de="{slug_de}" explicit="true" />/" class="link link--right">
                        <span><perch:trans id="lang.home.view-project" /></span>
                        <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                            <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="block--img-text-offset__img col-lg-5 offset-lg-1">
                <div class="img-res">
                    <span class="shape <perch:content id="bgClass" />"></span>
                    <img src="<perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="510" height="300" crop="true" />" alt="<perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true"/>" />
                </div>
            </div>
        </div>
    </div>
</section>