<perch:content id="name_en" type="text" label="Project Name" title="true" order="1" help="Project title goes here" required="true" suppress="true"/>
<perch:content id="slug_en" type="slug" for="name_en" suppress="true" />
<perch:content id="mainImgAlt_en" type="text" label="Main Image alt text" suppress="true" required="true" help="Alt tags are good practice for SEO, try to use keywords where you can." order="10"/>
<perch:content id="text_en" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="600" order="20" divider-before="Project Details" suppress="true"/>
<perch:content id="excerpt_en" type="textarea" label="Excerpt" html="true" size="xl" markdown="false" suppress="true" />



<section class="v-padding--md">
  <div class="container eq-margin--md">

    <div class="row">
      <div class="col-12 h3 breadcrubs--header">
        <perch:content id="parent_page" type="hidden" html="true">
      </div>
    </div>

    <div class="row project-img-grid">
      <div class="col-lg-6">
        <div class="img-res project-img-grid--imglg">
            <a class="modal--img" href="<perch:content id="mainImg" type="hidden"/>" title="<perch:translate id="mainImgAlt_en" en="{mainImgAlt_en}" de="{mainImgAlt_de}" explicit="true" />">
              <img src="<perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="610" height="370" crop="true" divider-before="Project Images" order="5" required="true" help="Page image output: w610px"/>" alt="<perch:translate id="mainImgAlt_en" en="{mainImgAlt_en}" de="{mainImgAlt_de}" explicit="true" />" />
              <perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="335" height="250" crop="true" suppress="true" />
              <perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="510" height="300" crop="true" suppress="true" />
            </a>
        </div>
      </div>
      <perch:if exists="images"><div class="col-lg-6">
        <perch:repeater id="images" label="Additional images" order="15">
        <perch:before><div class="row"></perch:before>
          <perch:content id="imgAlt_en" type="text" label="Alt text EN" suppress="true" order="2" required="true" help="Alt tags are good practice for SEO, try to use keywords where you can."/>
          <perch:content id="imgAlt_de" type="text" label="Alt text DE" suppress="true" order="3" help="Alt tags are good practice for SEO, try to use keywords where you can."/>

          <div class="col-lg-6 col-3">
            <div class="img-res project-img-grid--img">
              <a class="modal--img" href="<perch:content type="hidden" id="image"/>" title="<perch:translate id="imgAlt_en" en="{imgAlt_en}" de="{imgAlt_de}" explicit="true" />">
                <img src="<perch:content type="image" id="image" label="Image" bucket="projects" width="290" height="170" crop="true" order="1" help="Page image output: w290px"/>" alt="<perch:translate id="imgAlt_en" en="{imgAlt_en}" de="{imgAlt_de}" explicit="true" />" />
              </a>
            </div>
          </div>

        <perch:after></div></perch:after>
      </perch:repeater>
      </div>
      </perch:if>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-xl-11 eq-margin--sm">
            <div class="eq-margin--none">
              <h1 class="h2">
                <perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" />
              </h1>
            </div>
            <div>
              <hr/>
              <table class="h3">
                <tbody>
                  <tr>
                    <td><perch:trans id="lang.projects.country-region" /></td>
                    <td><perch:categories id="country-region" label="Country / Region" set="country-region" max="1" required="true"/><perch:category id="catTitle" /></perch:categories></td>
                  </tr>
                  <tr>
                    <td><perch:trans id="lang.projects.industry" /></td>
                    <td><perch:categories id="industry" label="Industry" set="industry" max="1" required="true"/><perch:category id="catTitle" /></perch:categories></td>
                  </tr>
                </tbody>
              </table>

              
              <hr/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cms-textarea--content">
          <perch:translate id="text_en" en="{text_en}" de="{text_de}" explicit="true" html="true"/>
        </div>
      </div>
    </div>



  </div>
</section>

<perch:related id="projects" collection="Projects" label="Related Project" max="3">
  <perch:before>
    <section class="v-padding--md">
      <div class="container eq-margin--md">
        <hr>
        <div class="row">
          <div class="col-12 ta-c">
            <h4 class="h1 margin--none">
              <perch:trans id="lang.projects.related-projects" />
            </h4>
          </div>
        </div>
        <ul class="grid-list row">
  </perch:before>

    <li class="col-lg-4">
      <a href="/<perch:content id="lang" /><perch:trans id="lang.projects.url" /><perch:if id="lang" value="en" match="eq"><perch:content id="slug_en" /></perch:if><perch:if id="lang" value="de" match="eq"><perch:content id="slug_de" /></perch:if>/">
        <div class="img-res">
          <img 
            src="<perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="335" height="250" crop="true" />" 
            alt="<perch:if id="lang" value="en" match="eq"><perch:content id="name_en" /></perch:if><perch:if id="lang" value="de" match="eq"><perch:content id="name_de" /></perch:if>" 
          />
        </div>
        <p class="h2 h2--sm text-color--pink">
          <!--* handle langs *-->
          <perch:if id="lang" value="en" match="eq">
            <perch:content id="name_en" />
          </perch:if>
          <perch:if id="lang" value="de" match="eq">
            <perch:content id="name_de" />
          </perch:if>
          <!--* handle langs *-->
        </p>
        <p>
          <!--* handle langs *-->
          <perch:if id="lang" value="en" match="eq">
            <perch:content id="excerpt_en" />
          </perch:if>
          <perch:if id="lang" value="de" match="eq">
            <perch:content id="excerpt_de" />
          </perch:if>
          <!--* handle langs *-->
        </p>
      </a>
    </li>
  
  <perch:after>
        </ul>
      </div>
    </section>
  </perch:after>
</perch:related>

<perch:group label="Language - DE" collapse="true">
  <perch:content id="name_de" type="text" label="Name" suppress="true" />
  <perch:content id="slug_de" type="slug" for="name_de" label="Name" suppress="true" />
  <perch:content id="mainImgAlt_de" type="text" label="Main Image alt text" suppress="true" help="Alt tags are good practice for SEO, try to use keywords where you can."/>
  <perch:content id="text_de" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="600" suppress="true" />
  <perch:content id="excerpt_de" type="textarea" label="Excerpt" html="true" size="xl" markdown="false" suppress="true" />
</perch:group>