<a href="<perch:content id="link" type="hidden"/>" title="<perch:content id="name" type="text" label="Name" order="10" title="true" />">
<svg class="icon--arrow-d icon--svg" viewBox="0 0 50 50">
    <use xlink:href="/assets/svg/svg-social.svg#<perch:content id="def" type="text" label="ID" order="20" helper="svg def id, svg need to exist in the relative defs file"/>"></use>
</svg>
</a>