<perch:content id="dataID" type="text" label="Data ID"  order="0" required="true" supress="true" help="Unique ID for use with pop-up content"/>
<perch:content id="name" type="text" label="Name" title="true" order="1"/>
<perch:content id="job_en" type="text" label="Job Title" order="10"/>


<perch:content id="img" type="image" label="Image" order="20" bucket="team" width="610" height="410" crop="true"/>
<perch:content id="text_en" type="textarea" label="Bio Text" order="30" html="true" size="xl" editor="redactor" imagewidth="600"/>






<perch:content id="img" type="image" label="Image" order="20" bucket="team" width="400" height="270" crop="true" supress="true" />
<perch:content id="remove_bio" type="checkbox" label="Disable Bio" value="true" surpress="true" order="40" help="this will disable the link to the bio pop-up"/>

<perch:categories id="team-group" label="Team Group" set="team-groups" required="true" />

<perch:translate id="job_en" en="{job_en}" de="{job_de}" explicit="true"/>
<perch:translate id="text_en" en="{text_en}" de="{text_de}" explicit="true"/>

<perch:template path="content/social-icons.html" />




<perch:group label="Language - DE" collapse="true">
    <perch:content id="job_de" type="text" label="Job Title" suppress="true" />
    <perch:content id="text_de" type="textarea" label="Bio Text" suppress="true" html="true" size="xl" editor="redactor" imagewidth="600"/>
</perch:group>



