<perch:before>
<section class="v-padding--md eq-margin--md">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="h2 margin--none"><perch:content id="teamTitle"/></h3>
            </div>
        </div>
            <ul class="grid-list row">
</perch:before>

<li class="col-lg-4">
    <perch:if exists="remove_bio">
        <div class="eq-margin">
    <perch:else>
        <a class="team-member--link eq-margin" data-id="<perch:content id="dataID" type="text" label="Data ID"/>">
    </perch:if>

    
    <div class="img-res">
        <img src="<perch:content id="img" type="image" label="Image" width="400" height="270" crop="true"/>" alt="<perch:content id="name" type="text" label="Name"/>"/>
    </div>
    <div>
        <h3 class="h2 h2--sm text-color--pink margin--none"><perch:content id="name" type="text" label="Name"/></h3>
        <div class="h3"><perch:translate id="job_en" en="{job_en}" de="{job_de}" explicit="true"/></div>
    </div>
    <perch:if not-exists="remove_bio">
    <div>
        <span class="link link--right">
            <span>Biography</span>
            <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
            </svg>
        </span>
    </div>
    </perch:if>
    
    <perch:if exists="remove_bio">
        </div>
    <perch:else>
        </a>
    </perch:if>
    <!--* modal for bio *-->
    <div id="<perch:content id="dataID" type="text" label="Data ID"/>" class="team-grid--modal white-popup mfp-hide container bg-white padding--md">
        <div class="row eq-margin--sm">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img-res">
                            <img src="<perch:content id="img" type="image" label="Image" width="610" height="410" crop="true"/>" alt="<perch:content id="name" type="text" label="Name"/>"/>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 eq-margin--sm">
                        <div>
                            <h3 class="h2 h2--sm margin--none"><perch:content id="name" type="text" label="Name"/></h3>
                            <div class="h3"><perch:translate id="job_en" en="{job_en}" de="{job_de}" explicit="true"/></div>
                        </div>
                        <hr>
                        <perch:repeater id="socialAccounts" label="Related Social Accounts">
                            <perch:template path="content/social-icons.html">
                        </perch:repeater>
                    </div>
                </div>
            </div>
            <div class="col-12 eq-margin--sm">
                <perch:translate id="text_en" en="{text_en}" de="{text_de}" explicit="true" html="true"/>
            </div>
        </div>
    </div>
   
    
     <!--* modal for bio *-->
</li>
<perch:after>
            </ul>
    </div>
</section>
</perch:after>
