// Component: Accordion
// ----------------------------------------

.accordion {
  @include list-unstyled;
	
	box-shadow: 0 0 10px rgba(black, .03);
  
  &-item {
    background-color: white;
    
    &:not(:last-child) {
    	border-bottom: 2px solid color($mono, light-300);
    }
    
    &--active {
      .accordion-icon {
        transform: rotate(135deg);
      }
    }
    
    &:not(.accordion-item--active) {
      .accordion-header:hover {        
        .accordion-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
  
  &-header {
    @extend .h5;
    @include padding(rem(13.5px) rem(56px) rem(13.5px) rem(56px));
    @include unselectable;

    color: color($brand, navy-light);
    cursor: pointer;
    display: block;
    position: relative;
    
    &:before {
      color: color($brand, purple);
      content: 'Q';
      display: inline-block;
      font-size: rem(24);
      font-weight: $font-weight-semibold;
      position: absolute;
      top: rem(9.5);
      left: rem(18);
    }
  }
  
  &-icon {
  	@include hardware;
  	@include position(absolute, rem(13), rem(16), null, null);
  	
  	color: color($brand, purple);
  	font-size: rem(24);
  	margin-left: auto;
  	transform: rotate(0deg);
  	transition: all .2s ease-in-out;
  }
  
  &-panel {
    @include padding(rem(12) rem(32) rem($spacer * 4) rem(56));
    
    position: relative;
    
    &:before {
      color: color($brand, purple);
      content: 'A';
      display: inline-block;
      font-size: rem(24);
      font-weight: $font-weight-semibold;
      position: absolute;
      top: rem(5.5);
      left: rem(18);
    }
    
    .js & {
      display: none;
    }
  }
  
  &-item--active {
    .accordion-panel {
      display: block;
    }
  }
}