// Component: Alert
// ----------------------------------------

.alert {
	@include padding(rem($spacer) rem($spacer * 9) rem($spacer) rem($spacer * 3));
  
  background-color: color($brand, navy-light);
  border-radius: rem(4px);
	color: white;
  position: relative;
  
  p + p {
    margin-top: rem($spacer);
  }
  
  &-close {
		@extend %button;
		@include position(absolute, rem(8), rem(8), null, null);
	  @include unselectable;
	  
	  background-color: rgba(black, .1);
	  border-radius: rem(13);
	  color: white;
		cursor: pointer;
	  font-size: rem(14);
	  padding: rem(2) rem(8);
		transition: all .2s ease-in-out;
	  
	  &:hover {
	    background-color: rgba(black, .2);
	  }
	  
	  &:focus {
	  	box-shadow: 0 0 0 3px rgba(black, .05);
	  	outline: none;
	  }
	  
	  .no-js & {
	    display: none;
	  }
	}
  
  &--success {
    background-color: color($core, success);
  }
  
  &--error {
    background-color: color($core, error);
  }
  
  &--warning {
    background-color: color($core, warning);
  }
  
  &--info {
    background-color: color($core, info);
  }
}