// Component: Article card
// ----------------------------------------

.article-card {
  background-color: white;
  border-radius: rem(8);
  box-shadow: 0 0 10px rgba(black, .1);
  margin-bottom: rem($spacer * 3);
  
  &-thumb {
    background-color: color($brand, navy-dark);
    border-top-right-radius: rem(8);
    border-top-left-radius: rem(8);
    overflow: hidden;
		position: relative;
  }
  
  &-body {
    padding: rem($spacer * 3);
    position: relative;
  }
  
  &-tags {
		@include position(absolute, null, null, rem(16), rem(16));
		
    display: flex;
		flex-wrap: wrap;
		margin-top: rem($spacer / 2);
  }
  
  &-tag {
    @include padding(rem(1.5) rem(8));
    
    background-color: rgba(black, .8);
    border-radius: rem(12);
    color: color($brand, grey-light);
    display: block;
    font-size: rem(14);
    font-weight: $font-weight-bold;
		margin-top: rem($spacer / 2);
    text-transform: uppercase;
    
    &:not(:last-child) {
      margin-right: rem($spacer);
    }
  }
  
  &-heading {
    font-size: $heading-size-3;
    margin-bottom: rem($spacer);
    
    a {
      color: color($brand, navy);
      display: block;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  &-meta {
    color: color($brand, grey-dark);
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  &-footer {
    @include padding(rem($spacer * 2) rem($spacer * 3));
    
    align-items: center;
    border-top: 2px solid rgba(black, .08);
    display: flex;
  }
  
  &-author {
    margin-left: rem($spacer-base);
		flex: 1;
		min-width: 0;
  }
  
  &-avatar {
    margin-left: rem(-$spacer);
  }
  
  &-name {
    @include text-truncate;
    
    display: block;
    font-size: rem(21);
    font-weight: $font-weight-semibold;
  }
}