// Component: Avatar
// ----------------------------------------

.avatar {
  @include size(rem(60));
  
  background-color: color($brand, grey-light);
  border-radius: 50%;
  display: block;
  font-size: rem(16);
  position: relative;
  
  &-img {
    @include size(100%);
    
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  &-initials {
    @include center-both;
    
    font-weight: $font-weight-semibold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
	
	&--s {
		@include size(rem(40));
	}
	
	&--l {
		@include size(rem(80));
		
		font-size: rem(24);
	}
}