// Component: Badge
// ----------------------------------------

.badge {
  background-color: color($brand, default);
  display: inline-block;
  padding: .4em .8em;
  font-size: rem(12);
  font-weight: $font-weight-bold;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: rem(10rem);

  &:empty {
    display: none;
  }
  
  &--primary {
    background-color: color($brand, primary);
  }
  
  &--secondary {
    background-color: color($brand, secondary);
  }
  
  &--error {
    background-color: color($core, error);
  }
}

.button .badge {
  position: relative;
  top: -1px;
}