// Component: Body
// ----------------------------------------

.body {
  h1, h2, h3, h4, h5, h6
  .h1, .h2, .h3, .h4, .h5, .h6 {
  	color: color($brand, navy);
  	margin-bottom: rem($spacer);
  }
  
  p,
  ul,
  ol {
    margin-bottom: rem($spacer * 3);
  }
  
  a:not(.button) {
    &:hover {
      text-decoration: underline;
    }
  }
  
  .list,
  .list-inline,
  .bulleted,
  .numbered {
    margin-bottom: rem($spacer * 3);
  }
  
  strong {
    font-weight: $font-weight-semibold;
  }
  
  > *:last-child {
    margin-bottom: 0;
  }
}