// Component: Button
// ----------------------------------------

%button {
  border: 2px solid transparent;
  border-radius: rem(21);
  cursor: pointer;
  display: inline-block;
  font-family: $font-stack;
  font-size: rem(16);
  font-weight: $font-weight-semibold;
  line-height: 1.3;
  padding: rem(9) rem(32);
  position: relative;
  text-align: center;
  text-decoration: none;
	touch-action: manipulation;
  transition: all .2s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  @extend %button;
  @include appearance;
  @include unselectable;
  
  background-color: color($brand, default);
  color: white;
  
  &:hover {
    background-color: darken(color($brand, default), 8);
    box-shadow: 0 0 10px rgba(black, 0.1);
  }
  
  &:focus {
  	box-shadow: 0 0 0 3px rgba(color($brand, default), .25);
  	outline: none;
  }
  
  &:active {
    //
  }
  
  &[disabled] {
  	&,
  	&:focus {
  		//
  	}
  }
	
	.icon {
	  @include align(true, true, absolute);
	  
	  color: white;
	  font-size: rem(24);
	}
  
  &--primary {
    background-color: color($brand, primary);
    
    &:hover {
      background-color: darken(color($brand, primary), 8);
    }
    
    &:focus {
      box-shadow: 0 0 0 3px rgba(color($brand, primary), .25);
    }
  }
  
  &--secondary {
    background-color: color($brand, secondary);
    
    &:hover {
      background-color: darken(color($brand, secondary), 8);
    }
    
    &:focus {
      box-shadow: 0 0 0 3px rgba(color($brand, secondary), .25);
    }
  }
  
  &--outline {
    background-color: transparent;
    border-color: color($brand, grey-light);
    color: color($brand, navy-light);
    
    &:hover {
      background-color: transparent;
      border-color: darken(color($brand, grey-light), 8);
    }
    
    &:focus {
    	box-shadow: 0 0 0 3px rgba(color($brand, grey-light), .4);
    }
  }
  
  &--s {
    border-radius: rem(18);
    font-size: rem(14);
    padding: rem(7) rem(16);
  }
  
  &--l {
    border-radius: rem(30);
    font-size: rem(18);
    padding: rem(10.5) rem(32);
  }
	
	&--icon {
		@include size(rem(42));
		
		border-radius: 50%;
		line-height: rem(42);
		padding: 0;
		
		&.button--s {
			@include size(rem(36));
			
			line-height: rem(36);
		}
		
		&.button--l {
			@include size(rem(48));
			
			line-height: rem(48);
		}
	}
  
  &--block {
    display: block;
    width: 100%;
  }
}