// Component: Checklist
// ----------------------------------------

.checklist {
  @include list-unstyled;
	
	text-align: left;
  
  &-item {
    @include padding(rem(12) rem(16) rem(12) rem(32));
    
    color: color($brand, grey-dark);
    position: relative;
    
    &:not(:last-child) {
    	border-bottom: 1px solid color($mono, light-300);
    }
  }
  
  &-icon {
    @include align(true, false, absolute);
    
    color: color($brand, turquoise);
    font-size: rem(24);
    left: rem(8);
  }
	
	&--center {
		text-align: center;
		
		.checklist-item {
			@include padding(null rem(16));
		}
	}
	
	&--reverse {
		.checklist-item {
			@include padding(null rem(32) null rem(16));
		}
		
		.checklist-icon {
			right: rem(8);
			left: auto;
			margin-left: auto;
		}
	}
}