// Component: Cookie bar
// ----------------------------------------

.cookie-bar {
  @include padding(rem(9) null);
  @include position(fixed, null, 0, 0, 0, $z-index-cookie);
  
  background-color: color($brand, navy-dark);
  box-shadow: 0 0 10px rgba(black, 0.2);
  // opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: all .3s linear;
  will-change: transform;
  
  &--active {
    transform: translateY(0%);
    // opacity: 1;
    visibility: visible;
  }
  
  .no-js & {
    transform: translateY(0%);
    // opacity: 1;
    visibility: visible;
    
    .cookie-bar-button {
      display: none;
    }
  }
  
  &-inner {    
    text-align: center;
    
    @include breakpoint-up(m) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &-text {
    color: rgba(white, .9);
    font-size: rem(16);
    
    @include breakpoint-down(s) {
    	margin-bottom: rem($spacer);
    }
  }
  
  &-emoji {
    margin-right: rem(10);
  }
  
  &-link {
    color: white;
    font-weight: $font-weight-semibold;
    text-decoration: underline;
  }
}