// Component: Cover
// ----------------------------------------

.cover {  
  &--rounded {
    border-radius: rem(8);
  }
  
  &-img {    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &-caption {
    @include padding(null rem(16) rem($spacer * 4));
    @include position(absolute, null, 0, 0, 0);
    
    color: white;
    width: 100%;
    
    @include breakpoint-up(xl) {
      @include padding(null rem(48));
    }
  }
  
  &-inner {
    @include position(absolute, 0, 0, 0, 0);
  }
}