// Component: Document
// ----------------------------------------

.document {
	background-color: color($brand, navy);
	border-radius: rem(4);
	box-shadow: 0 0 10px rgba(black, .1);
	margin-bottom: rem($spacer * 3);
	
	@include breakpoint-up(m) {
    display: flex;
  }
  
  @include breakpoint-up(l) {
    min-height: rem(320);
    padding-top: rem($spacer * 6);
  }
  
  &-body {
	  @include padding(rem($spacer * 3));
	  
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	}
	
	&-heading {
	  font-size: $heading-size-3;
	  margin-bottom: rem($spacer / 2);
	  
	  @include breakpoint-down(m) {
      @include ellipsis;
    }
    
    a {
	    color: white;
	    display: block;
	    
	    &:hover {
	      text-decoration: underline;
	    }
	  }
	}
	
	&-meta,
	&-type {
	  font-size: rem(14);
	  font-weight: $font-weight-bold;
	  text-transform: uppercase;
	}
	
	&-meta {
    color: color($brand, grey-dark);
    flex: 1 0 auto;
    margin-bottom: rem($spacer * 3);
  }
  
  &-type {
	  color: white;
	}
}
