// Component: Fees table
// ----------------------------------------

.fees-table {
	@include margin(null auto);
	
	background-color: white;
	border-radius: rem(8);
	box-shadow: 0 0 10px rgba(black, .03);
	margin-bottom: rem($spacer * 5);
	overflow: hidden;
	
	&-col {
		text-align: center;
		
		@include breakpoint-up(s) {
			&:first-child:not(only-child) {
				.fees-table-header {
					border-right: 1px solid color($brand, navy-dark);
				}
				
				.fees-table-body {
					border-right: 1px solid color($mono, light-300);
				}
			}
			
			&:last-child:not(only-child) {
				.fees-table-header {
					border-left: 1px solid color($brand, navy-dark);
				}
				
				.fees-table-body {
					border-left: 1px solid color($mono, light-300);
				}
			}
		}
	}
	
	&-header {
		@include padding(rem($spacer * 4) null);
		
		background-color: color($brand, navy);
	}
	
	&-heading {
		color: white;
	}
	
	&-eyebrow {
		color: color($brand, grey-dark);
		font-size: rem(14);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}
	
	&-rate {
		@include padding(rem($spacer * 3) null rem($spacer * 3));
		
		&:first-child {
			border-bottom: 2px solid color($mono, light-300);
		}
		
		&-col {
			&:first-child {
				border-right: 1px solid color($mono, light-300);
			}
		} 
	}
	
	&-price {
		@extend %heading;
		
		color: color($brand, navy);
		font-size: $heading-size-1;
		
		sup {
			font-size: rem(18);
			top: rem(-18);
		}
	}
	
	&-symbol {
		color: color($brand, grey-dark);
		margin-right: rem(-8);
	}
	
	&-amount-minor {
		margin-left: rem(-8);
	}
	
	&-duration {
		background-color: color($brand, grey);
	}
	
	&-footer {
		@include padding(rem($spacer * 3));
		
		border-top: 2px solid color($mono, light-300);
		text-align: center;
	}
	
	&-feature {
		@include padding(rem($spacer / 2) null);
		
		.icon {
			color: color($brand, turquoise);
			margin-right: rem(8);
		}
	}
}