// Component: Filter
// ----------------------------------------

.filter {
  @include padding(rem(10) null);
  
  background-color: color($mono, light-100);
  text-align: center;
  
  &-nav {
    .nav {
			overflow: hidden;
      overflow-x: auto;
      // overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      
      @include breakpoint-up(s) {
      	justify-content: center;
      }
      
      &-item {
        &:not(:last-child) {
          margin-right: rem($spacer / 2);
          
          @include breakpoint-up(s) {
          	margin-right: rem($spacer);
          }
        }
      }
      
      &-link {
      	@extend %button;
      	@include padding(null rem(18));
      	
      	background-color: color($mono, light-100);
      	color: color($brand, navy-light);
      	
      	@include breakpoint-up(s) {
      		@include padding(null rem(24));
      	}
      	
      	&:hover {
          background-color: color($mono, light-200);
        }
      }  
      
      &-item--active {
        .nav-link {
          background-color: color($brand, primary);
          color: white;
        }
      }
    }
  }
}