// Component: Form validation
// ----------------------------------------

// Error states
// Note: Input must contain a placeholder for ':placeholder-shown' selector to work, not supported in IE or Firefox

/*
.input:invalid:not(:focus):not(:placeholder-shown) {
	&.input--required {
	  background-image: svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Dot</title><path fill="#{color($core, error)}" d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path></svg>');
	}
}
*/

.input--required:invalid:not(:focus):not(:placeholder-shown) {
	background-image: svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Dot</title><path fill="#{color($core, error)}" d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path></svg>')!important;
}

.form-field--error .input,
.input--error {
  border-color: color($core, error)!important;
  
  /*
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    border-color: color($core, error);
  }
  */
}
.form-field--error .input--required,
.input--error.input--required,
.input--required:invalid:not(:placeholder-shown) {
  background-image: svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Dot</title><path fill="#{color($core, error)}" d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path></svg>');
  border-color: color($core, error)!important;
}

.form-label--error,
.form-help--error {
  color: color($core, error);
}