// Component: Gallery img
// ----------------------------------------

.gallery-img {
  border-radius: rem(4);
  margin-bottom: rem($spacer * 3);
  overflow: hidden;
  
	&-overlay {
		border-radius: rem(4);
	}
	
  &--active {
    .gallery-img-overlay {
      opacity: 1;
			visibility: visible;
    }
  }
  
  &-link {
    display: block;
    position: relative;
    
    &:hover {
      .gallery-img-overlay {
        .no-touchevents & {
        	opacity: 1;
					visibility: visible;
        }
      }
    }
  }
  
  /*
  &-link {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  */
}