// Layout: Hero
// ----------------------------------------

.hero {
  @include padding(rem($spacer * 10) null);
  
  @include breakpoint-up(l) {
  	@include padding(rem($spacer * 15) null);
  }
  
  .hero-header {
    // margin-bottom: rem($spacer-base);
    text-align: center;
    
    /*
    @include breakpoint-up(s) {
    	margin-bottom: rem($spacer * 5);
    }
  	*/
  }
  
  .typography-eyebrow,
  .typography-headline,
  .typography-heading,
  .typography-sub-heading,
  .typography-lead {
    color: white;
  }
  
  @include breakpoint-up(m) {
    &--left {
      .hero-header {
        text-align: left;
      }
      
      .typography-lead,
      .typography-sub-heading {
        margin-left: 0;
      }
    }
    
    &--right {
      .hero-header {
        text-align: right;
      }
      
      .typography-lead,
      .typography-sub-heading {
        margin-right: 0;
      }
    }
  }
  
  &--home {
    background-color: color($brand, navy-dark);
    padding: 0;
    // min-height: rem(500);
    // height: calc(100vh - #{rem(150)});
    
    @include breakpoint-down(m) {
      min-height: rem(500);
      // height: calc(100vh - #{rem(100)});
    }
    
    .hero-img {
      @include size(100%);
      @include position(absolute, 0, 0, 0, 0);
      
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .typography-headline {
      color: white;
      font-size: $display-size-3;
			text-shadow: 0 0 32px rgba(black, .5);
      
      @include breakpoint-up(m) {
        font-size: $display-size-2;
      }
      
      @include breakpoint-up(l) {
        font-size: $display-size-1;
      }
    }
		
		.typography-lead {
			opacity: 1;
			text-shadow: 0 0 32px rgba(black, .5);
		}
    
    .hero-arrow {
      @include align(false, true, absolute);
      
      bottom: rem($spacer * 5);
      color: white;
      font-size: rem(24);
    }
  }
  
  &--article {
    .typography-headline {
      @include margin(null auto);
      
      font-size: $display-size-4;
      max-width: rem(768);
      
      @include breakpoint-up(m) {
        font-size: $display-size-3;
      }
    }
    
    .hero-header {
      margin-bottom: rem($spacer-base);
      
      @include breakpoint-up(s) {
      	margin-bottom: rem($spacer * 5);
      }
    }
  }
}