// Component: Message
// ----------------------------------------

.message {
  @include padding(rem($spacer) rem($spacer * 9) rem($spacer) rem($spacer * 3));
  
  background-color: color($mono, light-100);
  border-left: 5px solid color($brand, grey-light);
  border-radius: rem(4);
  position: relative;
  
  &-heading {
    @extend .h4;
    
    margin-bottom: $spacer;
  }
  
  &-close {
  	@extend %button;
  	@include position(absolute, rem(8), rem(8), null, null);
    @include unselectable;
    
    background-color: color($mono, light-200);
    border-radius: rem(13);
    color: color($mono, 400);
		cursor: pointer;
    font-size: rem(14);
    padding: rem(2) rem(8);
		transition: all .2s ease-in-out;
    
    &:hover {
      background-color: color($mono, light-300);
    }
    
    &:focus {
    	box-shadow: 0 0 0 3px rgba(color($mono, light-200), .25);
    	outline: none;
    }
    
    .no-js & {
      display: none;
    }
  }
  
  &--success {
    border-color: color($core, success);
  }
  
  &--error {
    border-color: color($core, error);
  }
  
  &--warning {
    border-color: color($core, warning);
  }
  
  &--info {
    border-color: color($core, info);
  }
}