// Component: Notification
// ----------------------------------------

.notification {
  @include padding(rem(13) null);
  
  background-color: color($mono, light-100);
  text-align: center;
  
  &-text {
    font-size: rem(16);
    font-weight: $font-weight-semibold;
  }
  
  &-emoji {
    margin-right: rem(10);
  }
  
  &-link {
    color: inherit;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }
}