// Component: Nursery card
// ----------------------------------------

.nursery-card {
  @include padding(rem($spacer * 2) rem($spacer * 3) rem($spacer * 4));
  
  border-radius: rem(4);
  box-shadow: 0 0 10px rgba(black, .1);
  text-align: center;
  
  @include breakpoint-up(l) {
  	padding-top: rem($spacer * 3);
  	padding-bottom: rem($spacer * 5);
  }
  
  &-mascot {
    @include size(rem(100));
  }
  
  &-heading {
    @extend %display;
    
    color: white;
    font-size: rem(40);
  }
  
  &-location {
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: rem($spacer * 2);
    transform: translateY(rem(-$spacer));
  }
  
  .street-address,
  .postal-code {
    font-weight: $font-weight-semibold;
  }
  
  .postal-code {
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: rem($spacer * 3);
    transition: .2s ease-in-out;
  }
  
  .tel {
    color: white;
    font-size: rem(24);
    font-weight: $font-weight-semibold;
    display: inline-block;
    margin-bottom: rem($spacer * 3);
  }
  
  &--barnwood {
    background-color: color($brand, yellow);
    
    .nursery-card-location,
    .street-address {
      color: rgba(color($brand, yellow-dark), .7);
    }
    
    .postal-code {
      border-bottom-color: rgba(color($brand, yellow-dark), .1);
      color: rgba(color($brand, yellow-dark), .7);
      
      &:hover {
        border-color: rgba(color($brand, yellow-dark), .3);
        color: color($brand, yellow-dark);
      }
    }
    
    .nursery-card-button {
      background-color: color($brand, yellow-light);
      color: color($brand, yellow-dark);
      
      &:hover {
        background-color: white;
      }
    }
  }
  
  &--longlevens {
    background-color: color($brand, cyan);
    
    .nursery-card-location,
    .street-address {
      color: rgba(color($brand, cyan-dark), .7);
    }
    
    .postal-code {
      border-bottom-color: rgba(color($brand, cyan-dark), .1);
      color: rgba(color($brand, cyan-dark), .7);
      
      &:hover {
        border-color: rgba(color($brand, cyan-dark), .3);
        color: color($brand, cyan-dark);
      }
    }
    
    .nursery-card-button {
      background-color: color($brand, cyan-light);
      color: color($brand, cyan-dark);
      
      &:hover {
        background-color: white;
      }
    }
  }
  
  &--quedgeley {
    background-color: color($brand, red);
    
    .nursery-card-location,
    .street-address {
      color: rgba(color($brand, red-dark), .7);
    }
    
    .postal-code {
      border-bottom-color: rgba(color($brand, red-dark), .1);
      color: rgba(color($brand, red-dark), .7);
      
      &:hover {
        border-color: rgba(color($brand, red-dark), .3);
        color: color($brand, red-dark);
      }
    }
    
    .nursery-card-button {
      background-color: color($brand, red-light);
      color: color($brand, red-dark);
      
      &:hover {
        background-color: white;
      }
    }
  }
}