// Component: Nursery vcard
// ----------------------------------------

.nursery-vcard {
  &-heading {
    color: white;
    font-size: $heading-size-5;
    font-weight: $font-weight-semibold;
    
    &--barnwood {
      color: color($brand, yellow);
    }
    
    &--longlevens {
      color: color($brand, cyan);
    }
    
    &--quedgeley {
      color: color($brand, red);
    }
  }
  
  .postal-code {
    border-bottom: 2px solid color($brand, grey-light);
    color: color($brand, navy-light);
    display: inline-block;
    transition: .2s ease-in-out;
  }
  
  .url {
    &:hover {
      border-color: darken(color($brand, grey-light), 15);
      color: darken(color($brand, navy-light), 15);
    }
  }
  
  .tel {
    color: color($brand, navy);
    display: inline-block;
    font-weight: $font-weight-semibold;
    margin-top: rem($spacer-base);
  }
}