// Component: Overlay
// ----------------------------------------

.overlay {
  @include position(absolute, 0, null, null, 0);
  @include size(100%);
  
  background-color: rgba(color($brand, navy-dark), .9);
  opacity: 0;
	overflow: hidden;
  text-align: center;
  transition: all .2s ease-in-out;
	visibility: hidden;
  
  &-inner {
    @include align(true, true, absolute);
		
		width: 100%;
		
		.wrapper {
			opacity: 0;
			transform: translate3d(0, 80px, 0);
			transition-delay: 0;
			transition-duration: 500ms;
			transition-property: opacity, transform;
			transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
		}
  }
  
  &-button {
		+ .overlay-label {
			margin-top: rem($spacer);
		}
  }
  
  &-label {
    color: color($brand, grey);
    display: block;
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
	
	&-nav {
		margin-bottom: rem($spacer * 3);
		
		@include breakpoint-up(m) {
			margin-bottom: rem($spacer * 5);
		}
		
		.nav-link {			
			color: white;
			font-size: $heading-size-3;
			transition: color .2s ease-in-out;
			
			@include breakpoint-up(m) {
				font-size: rem(36);
			}
			
			&:hover {
				color: color($brand, cyan);
			}
		}
	}
	
	&-nav-buttons {
		@include margin(null auto);
		
		max-width: rem(268);
		
		.nav-item {
			&:not(:last-child) {
				margin-bottom: rem($spacer);
			}
		}
	}
	
	&--nav {
		@include position(fixed, null, 0, 0, null, $z-index-overlay);
		
		background-color: color($brand, navy-dark);
		overflow-y: auto;
		// overflow-y: scroll;
		touch-action: pan-y;
		-webkit-overflow-scrolling: touch;
		
		.overlay-label {
			color: color($brand, navy-light);
			margin-bottom: rem($spacer);
		}
		
		.overlay-button {
			@include position(absolute, rem(8), rem(8), null, null);
			
			@include breakpoint-up(m) {
				@include align(false, true, absolute);
				
				top: auto;
				bottom: rem($spacer * 4);
			}
		}
	}
	
	&--active {
		opacity: 1;
		visibility: visible;
		
		@include breakpoint-up(l) {
			opacity: 0;
			visibility: hidden;
		}
		
		.overlay-inner .wrapper {
			transition-delay: 100ms;
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	
	&-active {
		overflow: hidden;
		position: fixed;
	}
}