// Component: Schedule
// ----------------------------------------

.schedule {
	@include margin(null auto);
	
	background-color: white;
	border-radius: rem(8);
	overflow: hidden;
	
	&-header {
		@include padding(rem($spacer * 4) null);
		
		background-color: color($brand, navy);
		text-align: center;
	}
	
	&-heading {
		color: white;
	}
	
	&-row {
		&:not(:last-child) {
			border-bottom: 2px dashed color($mono, light-300);
		}
	}
	
	&-col {
		@include breakpoint-up(s) {
			&:first-child {
				border-right: 2px solid color($mono, light-300);
			}
		}
	}
	
	&-slot {
		@include padding(rem($spacer * 3) rem($spacer * 3) null rem($spacer * 3));
		
		@include breakpoint-up(s) {
			@include padding(rem($spacer * 3));
		}
		
		&-heading {
			font-weight: $font-weight-semibold;
			color: color($brand, grey-dark);
		}
	}
	
	&-body {
		@include padding(null rem($spacer * 3) rem($spacer * 3) rem($spacer * 3));
		
		@include breakpoint-up(s) {
			@include padding(rem($spacer * 3));
		}
	}
}