// Component: Section
// ----------------------------------------

.section {
  @include padding(rem($spacer * 5) null);
  
  @include breakpoint-up(l) {
  	@include padding(rem($spacer * 10) null);
  }
  
  &--tight {
    @include padding(rem($spacer * 5) null);
  }
  
  &--collapse {
    @include padding(0 null);
  }
  
  &--collapse-top {
    padding-top: 0;
  }
  
  &--collapse-bottom {
    padding-bottom: 0;
  }
  
  .section {
    &:first-child:not(:only-child) {
      padding-top: 0 !important;
    }
    
    &:last-child:not(:only-child) {
      padding-bottom: 0 !important;
    }
    
    &:only-child {
    	padding: 0 !important;
    }
  }
  
  &--border {
    border-top: 2px solid color($brand, grey-light);
  }
  
  &--illustrated {
    position: relative;
    overflow: hidden;
    
    @include breakpoint-up(xl) {
    	padding-bottom: rem($spacer * 20);
    }
    
    @include breakpoint-up(xl) {
      &::before {
        @include size(rem(560), rem(320));
        @include pseudo;
    		
        bottom: rem(-45);
        left: rem(-40);
        background-image: url('/assets/svg/mountains.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    
    @include breakpoint-up(xl) {
      &::after {
        @include size(rem(128), rem(128));
        @include pseudo;
    		
        bottom: rem(-20);
        right: rem(40);
        background-image: url('/assets/svg/trees.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  
  // Section header
  
  &-header {
    margin-bottom: rem($spacer * 5);
    text-align: center;
    
    &:empty {
      display: none;
    }
		
		&:only-child {
			margin-bottom: 0;
		}
  }
  
  &-link {
    display: inline-block;
    font-weight: $font-weight-semibold;
		
		.icon {
		  margin-right: rem(4);
		}
  }
  
  // Section body
  
  &-body {
    @include margin(null auto rem($spacer * 5) auto);
    
    max-width: rem(568);
    
    &:last-child:not(:only-child) {
      margin-bottom: 0;
    }
    
    &:only-child {
      margin-bottom: 0;
    }
  }
}

