// Component: Story card
// ----------------------------------------

.story-card {
  border-radius: rem(8);
  box-shadow: 0 0 10px rgba(black, .1);
  margin-bottom: rem($spacer * 3);
  
  &-body {
    padding: rem($spacer * 3);
  }
  
  &-blockquote {
    @extend %heading;
    
    font-size: rem(21);
    color: white;
  }
  
  &-footer {
    @include padding(rem($spacer * 2) rem($spacer * 3));
    
    align-items: center;
    border-top: 2px solid rgba(black, .08);
    display: flex;
  }
  
  &-avatar {
    @include margin(null rem($spacer-base) null rem(-$spacer));
  }
  
  &-name {
    @include text-truncate;
    
    color: white;
    display: block;
    font-size: rem(21);
    font-weight: $font-weight-semibold;
  }
  
  &-location {
    @include text-truncate;
    
    color: rgba(white, .5);
    display: block;
  }
}