// Component: Team member
// ----------------------------------------

.team-member {
  margin-bottom: rem($spacer * 5);
  position: relative;
  text-align: center;
  
  &-thumb {
    border-radius: rem(8);
    margin-bottom: rem($spacer-base);
    overflow: hidden;
    position: relative;
  }
	
	&-overlay {
		border-radius: rem(8);
	}
  
  &-name {
    @extend .h3;
    
    color: color($brand, navy);
    transition: color .2s ease-in-out;
  }
  
  &-title {
    color: color($brand, grey-dark);
    font-size: rem(16);
  }
  
  &--featured {
    @include breakpoint-up(m) {
    	.team-member-name {
    	  font-size: $heading-size-2;
    	}
    	
    	.team-member-title {
    	  font-size: rem(18);
    	}
    }
  }
  
  &-link {
    @include position(absolute, 0, null, null, 0);
    @include size(100%);

    z-index: 1;
  }
  
  &--active {
    .team-member-overlay {
      opacity: 1;
			visibility: visible;
    }
  }
  
  &:hover {
    .team-member-name {
      .no-touchevents & {
      	color: color($brand, primary);
      }
    }
    
    .team-member-overlay {
      .no-touchevents & {
        opacity: 1;
				visibility: visible;
      }
    }
  }
}