// Component: Testimonial
// ----------------------------------------

.testimonial {
	@include margin(null auto);
	
	text-align: center;
	max-width: rem(568);
	
	&-blockquote {
	  margin-bottom: rem($spacer * 5);
		
	  p {
	    @extend %heading;
	    
	    font-size: $heading-size-3;
	    color: white;
	    
	    @include breakpoint-up(m) {
	      font-size: $heading-size-2;
	    }
	  }
	}
	
	&-avatar {
	  display: inline-block;
	  margin-bottom: rem($spacer);
	}
	
	&-name {
	  color: white;
	  font-size: rem(21);
	  font-weight: $font-weight-semibold;
	}
	
	&-location {
	  color: rgba(white, .5);
	}
}