// Component: Twitter card
// ----------------------------------------

.twitter-card {
  background-color: white;
  border: 2px solid color($mono, light-300);
  border-radius: rem(8);
  box-shadow: 0 0 10px rgba(black, .03);
  
  &-header {
    @include padding(rem($spacer * 2) rem($spacer * 3));
    
    align-items: center;
    display: flex;
    border-bottom: 2px solid color($mono, light-300);
  }
  
  &-author {
    margin-left: rem($spacer-base);
		flex: 1;
		min-width: 0;
  }
  
  &-avatar {
    background-color: white;
		box-shadow: 0 0 0 2px color($mono, light-100);
    margin-left: rem(-$spacer);
  }
  
  &-name {
    @include text-truncate;
    
    color: color($brand, navy);
    display: block;
    font-size: rem(21);
    font-weight: $font-weight-semibold;
  }
  
  &-username {
    @include text-truncate;
    
    color: color($brand, grey-dark);
    display: block;
  }
  
  &-brand {
    font-size: rem(30);
    margin-left: auto;
    color: #1da1f2;
  }
  
  &-body {
    @include padding(rem($spacer * 2) rem($spacer * 3));
  }
  
  &-text {
    margin-bottom: rem($spacer);
    
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  &-meta {
    color: color($brand, grey-dark);
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}