// Component: Typography
// ----------------------------------------

.typography {
  &-eyebrow {
    text-transform: uppercase;
    margin-bottom: rem($spacer-base);
    opacity: .7;
    
    @include breakpoint-down(m) {
    	font-size: rem(16);
    }
  }
  
  &-headline {
    @extend .display-4;
    
    color: color($brand, navy);
    margin-bottom: rem($spacer);
    
    @include breakpoint-up(m) {
      font-size: $display-size-2;
    }
  }
  
  &-heading {
    @extend .display-4;
    
    color: color($brand, navy);
    margin-bottom: rem($spacer);
  }
  
  &-sub-heading {
    @extend .h3;
    @include margin(null auto);
    
    max-width: rem(768);
    
    @include breakpoint-up(m) {
      font-size: $heading-size-2;
    }
  }
  
  &-lead {
    @include margin(null auto);
    
    font-size: rem(21);
    max-width: rem(568);
    opacity: .9;
    
    @include breakpoint-up(m) {
      font-size: rem(24);
    }
  }
  
  &-intro {
    @include margin(null auto);
    
    max-width: rem(368);
  }
  
  &-copy {
    
  }
	
	&-small {
		font-size: rem(14);
	}
}