// Utility: Functions
// ----------------------------------------

// Tint --
// Note: Slightly lighten a colour
// Usage: tint($color, 10%);

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}


// Shade --
// Note: Slightly darken a colour
// Usage: shade($color, 10%);

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


// Color --
// Note: Retrieve colour from Sass colour map
// Usage: color($map, 100);

@function color($map: $grey, $key: "100") {
	
	@if map-has-key($map, $key) {
	
  	@return map-get($map, $key);
	} @else {
		@warn 'Colour name #{$key} not found in $map.';
	}
}


// Map deep get --
// Note: Get values from anywhere in a variable list
// Usage: map-deep-get($map, "key", "key");

@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

// rem --
// Note: Converts px › rem
// Usage: rem(16);

$rems-base-font-size: $browser-font-size / 100% * $html-font-size !default;

@function rem($size, $reverse: false) {
	
	@if unitless($size) {
	  $size: $size * 1px;
	}
	
	$html-font-size-units: if(str-index(#{$html-font-size}, px), "px", "%");

	$unitless: strip-unit($size);
	$unitless-base: strip-unit(if($html-font-size-units == px, $html-font-size, $rems-base-font-size));

	@if $reverse == false {

		@if $rems-enabled {

			@if str-index(#{$size}, 'px') {

				@return $unitless / $unitless-base * 1rem;

			} @elseif str-index(#{$size}, 'rem') {

				@return $size;

			}

		} @else {

			@if str-index(#{$size}, 'px') {

				@return $size;

			} @elseif str-index(#{$size}, 'rem') {

				@return $unitless * $unitless-base * 1px;

			}

		}

	} @else {

		@return $unitless * $unitless-base * 1px;

	}

}

// Strip unit
// Note: Strips unit from number

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

// Contains --
// Note: Checks if a list contains a value(s)

@function contains($list, $values...) {
  @each $value in $values {
    @if type-of(index($list, $value)) != "number" {
      @return false;
    }
  }

  @return true;
}

// Contains falsy --
// Note: Checks if a list does not contain any values

@function contains-falsy($list) {
  @each $item in $list {
    @if not $item {
      @return true;
    }
  }

  @return false;
}

// String replace --
// Note: Helper function to replace characters in a string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// SVG --
// Note: Helper function to create an optimized svg url

@function svg($svg){
  // Add missing namespace
  @if not str-index($svg,xmlns) {
    $svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');
  }
  
  // Chunk up string in order to avoid "stack level too deep" error
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    
    // Encode
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');
    
    // Keep size and compile time down, only add on documented fail
    // $chunk: str-replace($chunk, '&', '%26');
    // $chunk: str-replace($chunk, '|', '%7C');
    // $chunk: str-replace($chunk, '[', '%5B');
    // $chunk: str-replace($chunk, ']', '%5D');
    // $chunk: str-replace($chunk, '^', '%5E');
    // $chunk: str-replace($chunk, '`', '%60');
    // $chunk: str-replace($chunk, ';', '%3B');
    // $chunk: str-replace($chunk, '?', '%3F');
    // $chunk: str-replace($chunk, ':', '%3A');
    // $chunk: str-replace($chunk, '@', '%40');
    // $chunk: str-replace($chunk, '=', '%3D');

    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  
  @return url("data:image/svg+xml,#{$encoded}");
}

// Directional properties --
// Note: Builds directional properties
// Usage: @include directional-property(border, width, null 5px);
// Require: {function} compact-shorthand, {function} contains-falsy

// scss-lint:disable SpaceAroundOperator

@mixin directional-property($property, $suffix, $values) {
  $top:    $property + "-top"    + if($suffix, "-#{$suffix}", "");
  $bottom: $property + "-bottom" + if($suffix, "-#{$suffix}", "");
  $left:   $property + "-left"   + if($suffix, "-#{$suffix}", "");
  $right:  $property + "-right"  + if($suffix, "-#{$suffix}", "");
  $all:    $property +             if($suffix, "-#{$suffix}", "");

  $values: compact-shorthand($values);

  @if contains-falsy($values) {
    @if nth($values, 1) { #{$top}: nth($values, 1); }

    @if length($values) == 1 {
      @if nth($values, 1) { #{$right}: nth($values, 1); }
    } @else {
      @if nth($values, 2) { #{$right}: nth($values, 2); }
    }

    @if length($values) == 2 {
      @if nth($values, 1) { #{$bottom}: nth($values, 1); }
      @if nth($values, 2) { #{$left}: nth($values, 2); }
    } @else if length($values) == 3 {
      @if nth($values, 3) { #{$bottom}: nth($values, 3); }
      @if nth($values, 2) { #{$left}: nth($values, 2); }
    } @else if length($values) == 4 {
      @if nth($values, 3) { #{$bottom}: nth($values, 3); }
      @if nth($values, 4) { #{$left}: nth($values, 4); }
    }
  } @else {
    #{$all}: $values;
  }
}

// Unpack shorthand --
// Note: Transforms shorthand that can range from 1-to-4 values to be 4 values
// Usage: unpack-shorthand(1px 2px);

@function unpack-shorthand($shorthand) {
  @if length($shorthand) == 1 {
    @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
  } @else if length($shorthand) == 2 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
  } @else if length($shorthand) == 3 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
  } @else {
    @return $shorthand;
  }
}

// Compact shorthand --
// Note: Transforms shorthand to its shortest possible form
// Usage: compact-shorthand(10px 20px 10px 20px);

@function compact-shorthand($values) {
  $output: null;

  $a: nth($values, 1);
  $b: if(length($values) < 2, $a, nth($values, 2));
  $c: if(length($values) < 3, $a, nth($values, 3));
  $d: if(length($values) < 2, $a, nth($values, if(length($values) < 4, 2, 4)));

  @if $a == 0 { $a: 0; }
  @if $b == 0 { $b: 0; }
  @if $c == 0 { $c: 0; }
  @if $d == 0 { $d: 0; }

  @if $a == $b and $a == $c and $a == $d { $output: $a;          }
  @else if $a == $c and $b == $d         { $output: $a $b;       }
  @else if $b == $d                      { $output: $a $b $c;    }
  @else                                  { $output: $a $b $c $d; }

  @return $output;
}

// Ascending
// Note: Used to evaluate Sass maps like our grid breakpoints

@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// Starts at zero
// Note: Another grid mixin that ensures the min-width of the lowest breakpoint starts at 0

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}