// Utility: Grid
// ----------------------------------------

@mixin grid-columns($columns: $grid-columns, $gutter: $grid-gutter, $breakpoints: $breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }
    .col#{$infix},
    .col#{$infix}-auto {
      @extend %grid-column;
    }
    
    @include breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .col#{$infix}-#{$i} {
          @include col-width($i, $columns);
        }
      }

      .order#{$infix}-first {
        order: -1;
      }

      @for $i from 0 through $columns {
        .order#{$infix}-#{$i} {
          order: $i;
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
          .offset#{$infix}-#{$i} {
            @include col-offset($i, $columns);
          }
        }
      }
    }
  }
}

@mixin wrapper {
  @include margin(null auto);
  @include padding(null ($grid-gutter / 2));
  
  width: 100%;
}

@mixin row {
  @include margin(null ($grid-gutter / -2));
  
  display: flex;
  flex-wrap: wrap;
}

@mixin col {
  @include padding(null ($grid-gutter / 2));

  position: relative;
  width: 100%;
  min-height: 1px;
}

@mixin col-width($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin col-width-equal {  
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@mixin col-width-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

@mixin col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}