// Utility: Mixins
// ----------------------------------------

// Font face --
// Note: Generates a font-face declaration
// Usage: @include font-face(gotham, gotham-webfont, /fonts/gotham);

@mixin font-face($font-family, $file-name, $font-weight: normal, $font-style: normal) {
  $file-path: "/assets/fonts/" + $font-family + "/" + $file-name;
  
  @font-face {
    font-family: quote($font-family);
    src: url('#{$file-path}.woff2') format('woff2'),
         url('#{$file-path}.woff') format('woff'),
         url('#{$file-path}.ttf')  format('truetype');
    font-style: $font-style;
    font-weight: $font-weight;
  }
}


// Truncate text --
// Note: Truncates text and add an ellipsis
// Usage: @include ellipsis;
// Require: Inline-block or block for proper styling

@mixin ellipsis($width: 100%, $display: inline-block) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Hide text --
// Note: Hide text within element
// Usage: @include hide-text;

@mixin text-hide {
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}


// Overflow wrap --
// Note: Control text overflow
// Usage: @include overflow-wrap;

@mixin overflow-wrap($wrap: break-word) {
  overflow-wrap: $wrap;
  word-wrap: $wrap;
  word-break: $wrap;
  hyphens: auto;
}


// List unstyled
// Note: Remove default browser list style
// Usage: @include list-unstyled;

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}


// Visual helpers --
// Note: Various helpers to hide and show elements
// Usage: @include hidden, @include visible, @include invisible;

@mixin hidden {
	display: none;
	visibility: hidden;
}

@mixin visible($state: 'block') {
	display: unquote($state);
	visibility: visible;
}

@mixin invisible {
	visibility: hidden;
}


// Visually hidden --
// Note: Hide element visually
// Usage: @include visually-hidden("hide");

@mixin visually-hidden($toggle: "hide", $focusable: false) {
  @if $toggle == "hide" {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    
    @if $focusable {
    	@include focusable;
    }
    
  } @else if $toggle == "show" {
    clip: auto;
    clip-path: none;
    height: auto;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}


// Focusable --
// Note: Allow the element to be focusable when navigated to via the keyboard
// Usage: @include focusable;

@mixin focusable {
	&:active,
	&:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}


// Font base --
// Note: Works out baseline zoom
// Usage: @include font-base;

@mixin font-base($zoom: 100%) {
  font-size: $zoom / $base-font-size * $html-font-size;
}


// Letter spacing
// Note: Converts photoshop letter-spacing to ems
// Usage: @include letter-spacing(10);

@mixin letter-spacing($value) {
	letter-spacing: $value / 1000 * 1em;
}


// Margin --
// Note: Shorthand margin helper
// Usage: @include margin(10px null);
// Require: {function} directional-property

@mixin margin($values) {
  @include directional-property(margin, null, $values);
}


// Padding --
// Note: Shorthand padding helper
// Usage: @include padding(10px null);
/// @require {function} directional-property

@mixin padding($values) {
  @include directional-property(padding, null, $values);
}


// Hardware --
// Note: Utilise hardware acceleration
// Usage: @include hardware;

@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}

	perspective: $perspective;
}


// Position --
// Note: Shorthand position helper
// Usage: @include position(fixed, 0);
/// @require {mixin} hardware

@mixin position($pos, $t, $r, $b, $l, $z: false, $hardware: true) {
	@if $pos == fixed and $hardware { @include hardware; }
	@if $pos { position: $pos; }
	@if $t { top: $t; }
	@if $r { right: $r; }
	@if $b { bottom: $b; }
	@if $l { left: $l; }
	@if $z { z-index: $z; }
}


// Stacking order
// Note: Creates a new stacking context
// Usage: @include stacking-order;

@mixin stacking-order {
  position: relative;
  z-index: 0;
  // transform: translate(0) // Could use this instead of the above but it will affect elements that are positioned fixed
}


// Align --
// Note: Shorthand alignment helper
// Usage: @include align(true);

@mixin align($vertical: true, $horizontal: false, $position: relative) {
	@if $position {
		position: $position;
	}
	@if $vertical {
		top: 50%;
	}
	@if $horizontal {
		left: 50%;
	}

	@if $vertical and $horizontal {
		transform: translate(-50%, -50%);
	} @else if $vertical {
		transform: translateY(-50%);
	} @else {
		transform: translateX(-50%);
	}
}


// Center block --
// Note: Horizontally centers block elements
// Usage: @include center-block;

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Center both --
// Note: Horizontally and vertically centers block elements
// Usage: You must have a parent element with `position: relative`
// Usage: @include center-both;


@mixin center-both {
  @include align(true, true, absolute);
}


// Center vertically --
// Note: Vertically centers block elements with unknown height
// Usage: @include center-vertically;

@mixin center-vertically {
  @include align(true, true, absolute);
}


// Clearfix --
// Note: Clearfix helper
// Usage: @include cf;

@mixin cf {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}


// List unstyled
// Note Removes default browser padding and list-style
// Usage: @include list-unstyled;
@mixin list-unstyled {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}


// Size --
// Note: Shorthand size helper
// Usage: @include size(10px, 10px);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}


// Pseudo --
// Note: Shorthand pseudo helper
// Usage: @include pseudo($pos: relative);

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}


// Aspect ratio --
// Note: Generates responsive dimensions based on aspect ratio
// Usage: @include aspect-ratio(16, 9);

@mixin aspect-ratio($x, $y, $pseudo: false) {  
  $padding: percentage($y / $x);
  
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

/*@mixin aspect-ratio($width, $height) {
	position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: percentage($height / $width);
  }
  
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}*/


// Retina --
// Note: Retina image helper
// Usage: @include retina(/path/file@2x.png);

@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3 / 2),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		@content;
	}
}


// Appearence --
// Note: Shorthand appearance helper
// Usage: @include appearance;

@mixin appearance($val: none) {
	-webkit-appearance: $val;
	-moz-appearance: $val;
	appearance: $val;
}


// Antialias --
// Note: Font smoothing helper
// Usage: @include antialias;

@mixin antialias {
	// font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Unselectable --
// Note: Element select helper
// Usage: @include unselectable;

@mixin unselectable {
	-webkit-touch-callout: none;
	user-select: none;
}


// Selection --
// Note: Shorthand selection helper
// Usage: @include selection { color: #ccc; };

@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}


// Placeholder --
// Note: Shorthand placeholder helper
// Usage: @include placeholder { color: #ccc; };

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}