// Utility: Variables
// ----------------------------------------

// Colours --

$brand: (
  default: #536178,
  primary: #53c7ed,
  secondary: #53c1a1,
  accent: #53c7ed,
  
  cyan: #53c7ed,
  cyan-light: #b6ecff,
  cyan-dark: #235e70,
  
  purple: #6b6190,
  purple-light: #9d93c1,
  purple-dark: #454155,
  
  turquoise: #53c1a1,
  turquoise-light: #a0ddcc,
  turquoise-dark: #2d6a58,
  
  yellow: #f9c46a,
  yellow-light: #ffe2b1,
  yellow-dark: #73521d,
  
  red: #f88074,
  red-light: #ffc8c3,
  red-dark: #82372e,
  
  navy: #3b4655,
  navy-light: #536178,
  navy-dark: #2e3441,
  
  grey: #c3cad3,
  grey-light: #e0e7ec,
  grey-dark: #939aa4,
);


$core: (
  white: #fff,
  black: #000,
  mono: #616166,
  mono-light: #d3d3d9,
  mono-dark: #323236,
  success: #39c088,
  error: #e6525a,
  warning: #ffc857,
  info: #5bc0de
);


$mono: (
  100: tint(color($core, mono), 30),     /* tint 30% #909094 */
  200: tint(color($core, mono), 22.5),   /* tint 22.5% #848488 */
  300: tint(color($core, mono), 15),     /* tint 15% #79797d */
  400: tint(color($core, mono), 7.5),    /* tint 7.5% #6c6c71 */
  500: color($core, mono),
  600: shade(color($core, mono), 7.5),   /* shade 7.5% #5a5a5f */
  700: shade(color($core, mono), 15),    /* shade 15% #525257 */
  800: shade(color($core, mono), 22.5),  /* shade 22.5% #4c4c50 */
  900: shade(color($core, mono), 30),    /* shade 30% #444447 */
  
  light-100: tint(color($core, mono-light), 80),   /* tint 80% #f6f6f7 */
  light-200: tint(color($core, mono-light), 60),   /* tint 60% #ededf0 */
  light-300: tint(color($core, mono-light), 40),   /* tint 40% #e5e5e8 */
  light-400: tint(color($core, mono-light), 20),   /* tint 20% #dcdce1 */
  light-500: color($core, mono-light),
  light-600: shade(color($core, mono-light), 5),   /* shade 5% #c8c8ce */
  light-700: shade(color($core, mono-light), 10),  /* shade 10% #bebec3 */
  light-800: shade(color($core, mono-light), 15),  /* shade 15% #b3b3b8 */
  light-900: shade(color($core, mono-light), 20),  /* shade 20% #a9a9ae */
  
  dark-100: tint(color($core, mono-dark), 20),     /* tint 20% #5b5b5e */
  dark-200: tint(color($core, mono-dark), 15),     /* tint 15% #515154 */
  dark-300: tint(color($core, mono-dark), 10),     /* tint 10% #47474a */
  dark-400: tint(color($core, mono-dark), 5),      /* tint 5% #3c3c40 */
  dark-500: color($core, mono-dark),
  dark-600: shade(color($core, mono-dark), 7.5),   /* shade 7.5% #2f2f32 */
  dark-700: shade(color($core, mono-dark), 15),    /* shade 15% #2b2b2e */
  dark-800: shade(color($core, mono-dark), 22.5),  /* shade 22.5% #27272a */
  dark-900: shade(color($core, mono-dark), 30)     /* shade 30% #232326 */
);


/*
$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #868e96;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;
*/


// Typography --

$font-stack-sans-serif: (
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif
);

$font-stack-serif: (
  "Georgia",
  Times New Roman,
  Times,
  serif
);

$font-stack-monospace: (
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace
);

$font-stack-system: (
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol"
);

$font-stack-emoji: (
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "NotoColorEmoji",
  "Segoe UI Symbol",
  "Android Emoji",
  "EmojiSymbols"
);

// Proxima Nova Soft
// Note: Regular, Semibold, Bold
$font-proxima-nova: (
  "ProximaNovaSoft",
  sans-serif
);

// Ventura Edding
// Note: Medium, Bold
$font-ventura-edding: (
  "VenturaEdding",
  sans-serif
);

$font-stack: $font-proxima-nova;
// $font-size: $base-font-size;
$font-size: rem(18px);
$line-height: 1.5;

$font-size-1: rem(14px);
$font-size-2: rem(16px);
$font-size-3: rem(18px);
$font-size-4: rem(21px);
$font-size-5: rem(24px);

$font-weight: normal;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;


$heading-font-stack: inherit;
$heading-font-weight: $font-weight-semibold;
$heading-line-height: 1.3;

$heading-size-1: rem(48px);
$heading-size-2: rem(30px);
$heading-size-3: rem(24px);
$heading-size-4: rem(21px);
$heading-size-5: rem(18px);
$heading-size-6: rem(16px);


$display-font-stack: $font-ventura-edding;
$display-font-weight: $font-weight-medium;
$display-line-height: 1.2;

$display-size-1: rem(96px);
$display-size-2: rem(72px);
$display-size-3: rem(60px);
$display-size-4: rem(48px);


// Breakpoints --

/*
$breakpoints: (
  'xs': 0,
  's': 640px,
  'm': 1024px,
  'l': 1200px,
  'xl': 1440px
);
*/

$breakpoints: (
  'xs': 0,
  's': 576px,
  'm': 768px,
  'l': 1024px,
  'xl': 1280px,
  'xxl': 1440px
);
// @include _assert-ascending($breakpoints, "$breakpoints");
// @include _assert-starts-at-zero($breakpoints);


// Grid --

$grid-columns: 12;
$grid-gutter: rem(32);
$grid-wrapper: 1200px;

/*
$wrapper-xs: 540px;
$wrapper-s: 720px;
$wrapper-m: 960px;
$wrapper-l: 1140px;
$wrapper-xl: 1200px;

$wrapper-xs: 560px;
$wrapper-s: 768px;
$wrapper-m: 1024px;
$wrapper-l: 1200px;
$wrapper-xl: 1440px;
*/


// Sizes --

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);


// Spacing --

$spacer: 8px;
$spacer-base: $spacer * 2;

$spacers: (
  0: 0,
  1: $spacer,
  2: ($spacer * 2),
  3: ($spacer * 3),
  4: ($spacer * 4),
  5: ($spacer * 5)
);

// 2: $spacer / 4
// 4: $spacer / 2
// 8: $spacer
// 16: $spacer * 2
// 24: $spacer * 3
// 32: $spacer * 4
// 40: $spacer * 5
// 48: $spacer * 6
// 56: $spacer * 7
// 64: $spacer * 8
// 72: $spacer * 9
// 80: $spacer * 10
// 88: $spacer * 11
// 96: $spacer * 12
// 104: $spacer * 13
// 112: $spacer * 14
// 120: $spacer * 15


// Aspects --
// Note: Optionally use 16:10 for landscape and 3:4 for portrait

$aspects: (
  'widescreen': 21 9,
	'landscape': 16 9, 
	'portrait': 2 3,
	'classic': 3 2,
	'square': 1 1
) !default;

// Z-index --

$z-index-header: 10;
$z-index-notification: 10;
$z-index-overlay: 100;
$z-index-hamburger: 110;
$z-index-cookie: 120;


// Google easing curves --
// Note: https://www.google.com/design/spec/motion/duration-easing.html#duration-easing-natural-easing-curves
// Note: https://www.google.com/design/spec/motion/movement.html

$google-ease-default: cubic-bezier(0.4, 0.0, 0.2, 1); // Objects quickly accelerate and slowly decelerate between on-screen locations.
$google-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1); // Objects enter the screen at full velocity from off-screen and slowly decelerate to a resting point.
$google-ease-in: cubic-bezier(0.4, 0.0, 1, 1); // Objects leave the screen at full velocity. They do not decelerate when off-screen.
$google-ease-sharp: cubic-bezier(0.4, 0.0, 0.6, 1); // The sharp curve is used by objects that may return to the screen at any time. (in and out of screen bounds)