<perch:if exists="mktoID">
    <form 
        class="mktoForm" 
        data-form-id="<perch:content type="text" id="mktoID" label="Form ID" />" 
        <perch:group label="Options" collapse="true">
            <perch:if exists="mktoStyle">data-form-style="<perch:content type="select" id="mktoStyle" label="Form Style" options="Compact|compact" allowempty="true"/>"</perch:if> 
            <perch:if exists="mktoSuccess">data-success-message="<perch:content type="text" id="mktoSuccess" label="Success Message" />"</perch:if> 
            <perch:if exists="mktoRedirect">data-redirect-url="<perch:content type="text" id="mktoRedirect" label="Redirect URL" />"</perch:if>
        </perch:group>
    >
    </form>
</perch:if>
