//====================================
//              FOR LOOP             =
//====================================
.for(@i, @n) {
    .-each(@i);
}

.for(@n) when (isnumber(@n)) {
    .for(1, @n);
}

.for(@i, @n) when not (@i =@n) {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}
//--------  End of for loop  ---------//

//=========================================
//              FOR EACH LOOP             =
//=========================================
.for(@array) when (default()) {
    .for-impl_(length(@array));
}

.for-impl_(@i) when (@i > 1) {
    .for-impl_((@i - 1));
}

.for-impl_(@i) when (@i > 0) {
    .-each(extract(@array, @i));
}

.calc-grid-width(@index, @class) when (@index > 0) {
    .flex-col-@{class}-@{index} {
        width: percentage((@index / @grid-columns));
    }
}

//--------  End of for each loop  ---------//

///////////////
// variables //
///////////////
//@screen-xs: 0;
//@screen-sm: 480px;
//@screen-md: 768px;
//@screen-lg: 992px;
@screen-xl: 1600px;

.mobile(@rules) {
    @media screen and (max-width: @screen-xs-max) {
        @rules();
    }
}

.tablet(@rules) {
    @media screen and (min-width: @screen-sm-min) {
        @rules();
    }
}

.desktop(@rules) {
    @media screen and (min-width: @screen-md-min) {
        @rules();
    }
}

.wide(@rules) {
    @media screen and (min-width: @screen-lg-min) {
        @rules();
    }
}

.fullhd(@rules) {
    @media screen and (min-width: @screen-xl) {
        @rules();
    }
}

.touch(@rules) {
    @media screen and (max-width: @screen-sm-max) {
        @rules();
    }
}

@values-array: 0, 5, 10, 15, 20, 30, 40, 50;

.aligne(@prefix) {
    .@{prefix}-clearfix {
        .clearfix();
    }

    .@{prefix}-text-right {
        text-align: right;
    }
    .@{prefix}-text-left {
        text-align: left;
    }
    .@{prefix}-text-center {
        text-align: center;
    }

    .@{prefix}-pull-right {
        float: right !important;
    }
    .@{prefix}-pull-left {
        float: left !important;
    }

    .@{prefix}-p-gutter {
        padding: @grid-gutter-width;
    }
    .@{prefix}-pt-gutter {
        padding-top: @grid-gutter-width;
    }
    .@{prefix}-pl-gutter {
        padding-left: @grid-gutter-width;
    }
    .@{prefix}-pr-gutter {
        padding-right: @grid-gutter-width;
    }
    .@{prefix}-pb-gutter {
        padding-bottom: @grid-gutter-width;
    }
    .@{prefix}-m-gutter {
        margin: @grid-gutter-width;
    }
    .@{prefix}-mt-gutter {
        margin-top: @grid-gutter-width;
    }
    .@{prefix}-ml-gutter {
        margin-left: @grid-gutter-width;
    }
    .@{prefix}-mr-gutter {
        margin-right: @grid-gutter-width;
    }
    .@{prefix}-mb-gutter {
        margin-bottom: @grid-gutter-width;
    }

    .@{prefix}-center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.standerd-space() {
    .for(@values-array);
    .-each(@value) {
        .p-@{value} {
            padding: ~'@{value}px';
        }
        .pt-@{value} {
            padding-top: ~'@{value}px';
        }
        .pl-@{value} {
            padding-left: ~'@{value}px';
        }
        .pr-@{value} {
            padding-right: ~'@{value}px';
        }
        .pb-@{value} {
            padding-bottom: ~'@{value}px';
        }
        .m-@{value} {
            margin: ~'@{value}px';
        }
        .mt-@{value} {
            margin-top: ~'@{value}px';
        }
        .ml-@{value} {
            margin-left: ~'@{value}px';
        }
        .mr-@{value} {
            margin-right: ~'@{value}px';
        }
        .mb-@{value} {
            margin-bottom: ~'@{value}px';
        }
    }
}

// init functions
.make-space(@prefix) {
    .for(@values-array);
    .-each(@value) {
        .@{prefix}-p-@{value} {
            padding: ~'@{value}px';
        }
        .@{prefix}-pt-@{value} {
            padding-top: ~'@{value}px';
        }
        .@{prefix}-pl-@{value} {
            padding-left: ~'@{value}px';
        }
        .@{prefix}-pr-@{value} {
            padding-right: ~'@{value}px';
        }
        .@{prefix}-pb-@{value} {
            padding-bottom: ~'@{value}px';
        }
        .@{prefix}-m-@{value} {
            margin: ~'@{value}px';
        }
        .@{prefix}-mt-@{value} {
            margin-top: ~'@{value}px';
        }
        .@{prefix}-ml-@{value} {
            margin-left: ~'@{value}px';
        }
        .@{prefix}-mr-@{value} {
            margin-right: ~'@{value}px';
        }
        .@{prefix}-mb-@{value} {
            margin-bottom: ~'@{value}px';
        }
    }
}

.flexGrid(@prefix) {
    .@{prefix}-flex-row {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 0%;
        width: 100%;
        overflow: hidden;
        height: auto;
        flex: 1;

        &-item {
            flex: 1;
            padding-right: @grid-gutter-width / 2;
            padding-left: @grid-gutter-width / 2;
            margin-top: @grid-gutter-width / 2;
            margin-bottom: @grid-gutter-width / 2;
        }
    }

    .@{prefix}-flex-col {
        flex-direction: column;
        display: flex;
        width: 100%;
        flex-grow: 1;

        &-item {
            flex: 1;
            margin-top: @grid-gutter-width / 2;
            margin-bottom: @grid-gutter-width / 2;
            width: 100%;
        }
    }

    .flex-wrap .@{prefix}-flex-row-item {
        flex: auto;
    }
}

.flexGridLoop(@index, @class) when (@index > 0) {
    .@{class}-flex-col-@{index} {
        max-width: percentage((@index / @grid-columns));
        flex-direction: column;
        display: flex;
        width: 100%;
        /*flex-shrink: 0;*/
        flex: 1;

        &-item {
            margin-top: @grid-gutter-width / 2;
            margin-bottom: @grid-gutter-width / 2;
            width: 100%;
        }
    }

    .flexGridLoop(@index - 1, @class);
}

// global

// Flex grig reset
.lg-flex-row,
.md-flex-row,
.sm-flex-row,
.lg-flex-col,
.md-flex-col,
.sm-flex-col {
    display: block;
    width: 100%;
    padding-right: @grid-gutter-width / 2;
    padding-left: @grid-gutter-width / 2;

    &-item {
        width: 100%;
        padding: 0;
        margin-top: @grid-gutter-width / 2;
        margin-bottom: @grid-gutter-width / 2;
    }
}

.flex {
    &-grow-1 {
        flex-grow: 1;
    }

    &-grow-2 {
        /*flex-grow: 2;*/
    }

    &-order-0 {
        order: 0;
    }

    &-order-1 {
        order: 1;
    }

    &-order-2 {
        order: 2;
    }

    &-order-3 {
        order: 3;
    }

    &-order-4 {
        order: 4;
    }
}

.standerd-space();

@media (min-width: @screen-xs) {
    .make-space(@prefix: xs);
    .aligne(@prefix: xs);
    .flexGrid(xs);
    .flexGridLoop(12, xs);
}
// mobile
@media (min-width: @screen-sm) {
    .make-space(@prefix: sm);
    .aligne(@prefix: sm);
    .flexGrid(sm);
    .flexGridLoop(12, sm);
}
// tablet
@media (min-width: @screen-md) {
    .make-space(@prefix: md);
    .aligne(@prefix: md);
    .flexGrid(md);
    .flexGridLoop(12, md);
}
// desktop
@media (min-width: @screen-lg) {
    .make-space(@prefix: lg);
    .aligne(@prefix: lg);
    .flexGrid(lg);
    .flexGridLoop(12, lg);
}
// large screens
@media (min-width: @screen-xl) {
    .make-space(@prefix: xl);
    .aligne(@prefix: xl);
    .flexGrid(xl);
    .flexGridLoop(12, xl);
}

.select-100 {
    width: 100% !important;
    text-align: center;
}
