.bg--white {
    background-color: @brand-color--white;
    color: @brand-color--blue;
}
.bg--blue {
    background-color: @brand-color--blue;
    color: @brand-color--white;
}
.bg--lblue {
    background-color: @brand-color--lblue;
}
.bg--green {
    background-color: @brand-color--green;
    color: @brand-color--white;
}
.bg--lgreen {
    background-color: @brand-color--lgreen;
}
.bg--pink {
    background-color: @brand-color--pink;
    color: @brand-color--white;
}
.bg--grey {
    background-color: @brand-color--grey;
}
.bg--dgrey {
    background-color: @brand-color--dgrey;
    color: @brand-color--white;
}
.bg--orange {
    background-color: @brand-color--orange;
    color: @brand-color--white;
    a:hover,
    .cta:hover {
        color: @brand-color--blue!important;
    }
}
.bg--yellow {
    background-color: @brand-color--yellow;
    color: @brand-color--white;
}
