// breadcrumbs
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: @font-cera-bold;
    margin: 15px 0;
    opacity: 0.5;
    li {
        display: inline;
        a {
            display: block;
        }
    }
}
