.clip-img {
    clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 40%);
    &.clip-img--top {
    }
    &.clip-img--bottom {
    }
}

.img-skew {
    transform: skewY(@skew-angle-invert);
    position: relative;
    overflow: hidden;
    padding-bottom: 80%;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170%;
        transform: translate(-50%, -50%) skewY(@skew-angle);
    }
}
