// colour divider
// color-divider.less

.color-divider.section-pad {
    padding-top: 300px;
    padding-bottom: 400px;
    & + .section-pad {
        padding-top: 0px;
    }
}

.color-divider {
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2805px;

        transform: skewY(@skew-angle-invert);
        transform-origin: 6300px 0;
    }
}

.color-divider--bg--white {
    &:before {
        background-color: @brand-color--white;
    }
}
