body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: @font-cera-light;
    color: @brand-color--blue;
    line-height: 1.8;
    overflow-x: hidden;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: @font-cera-regular;
    font-size: 70px;
    //margin: 0 auto;
    margin-bottom: 80px;
    line-height: 1.2;
    @media (max-width: @screen-md) {
        font-size: 36px;
        margin-bottom: 20px;
    }
    @media (max-width: @screen-sm) {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

.heading-sm {
    font-size: 40px;
    @media (max-width: @screen-md) {
        font-size: 36px;
    }
    @media (max-width: @screen-sm) {
        font-size: 28px;
    }
}
.heading-md {
    font-size: 48px;
    @media (max-width: @screen-md) {
        font-size: 36px;
    }
    @media (max-width: @screen-sm) {
        font-size: 28px;
    }
}

.project--heading {
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

hr {
    display: block;
    width: 100%;
    border-top: 2px solid;
}

strong {
    font-family: @font-cera-bold;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}

// text styling
.ta-c {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}

.line-height1 {
    line-height: 1;
}
.line-height1-3 {
    line-height: 1.3;
}
.line-height1-5 {
    line-height: 1.5;
}

.font-size26 {
    font-size: 26px;
}

.container-fluid,
.container {
    max-width: @max-width;
    width: 100%;
}

.large-paragraph {
    font-family: @font-cera-regular;
    font-size: 20px;
    line-height: 1.9;
    @media (max-width: @screen-sm) {
        font-family: inherit;
        font-size: 18px;
        line-height: inherit;
    }
}

.nopad {
    padding-left: 0;
    padding-right: 0;
}

.nopad-l {
    padding-left: 0;
}

.nopad-r {
    padding-right: 0;
}

.margin-t {
    margin-top: 1em;
}
.margin-b {
    margin-bottom: 15px;
}
.margin-b--md {
    margin-bottom: 30px;
}
.margin-b--lg {
    margin-bottom: 60px;
    @media (max-width: @screen-sm) {
        margin-bottom: 15px;
    }
}

.margin-r {
    margin-right: 1em;
}
.margin-l {
    margin-left: 1em;
}

.nomargin-b {
    margin-bottom: 0;
}

.img-res {
    width: 100%;
    img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }
    @media (max-width: @screen-md) {
        max-width: 700px;
        margin: auto;
    }
    @media (max-width: @screen-sm) {
    }
}

.section-fh {
    height: 100vh;
    min-height: 790px;
    .section-fh--wrapper {
        display: table;
        height: 100%;
        width: 100%;
        margin: auto;
        max-width: @max-width;
    }
    .section-fh--container {
        display: table-cell;
        vertical-align: middle;
    }
    .section-fh--block {
        display: inline-block;
        width: 100%;
    }
}

.section-pad {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: @screen-md) {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    @media (max-width: @screen-sm) {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

.section-pad--sm {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-pad--top {
    padding-top: 100px;
}
.section-pad--bottom {
    padding-bottom: 100px;
}

.push-right > * {
    float: right;
}

.paragraph-margin {
    & > * {
        margin-top: 50px;
        margin-bottom: 50px;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: @screen-md) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.paragraph-margin-sm > * {
    margin-top: 15px;
    margin-bottom: 15px;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.newspaper-col2 {
    column-count: 2;
    column-gap: 50px;
}
.newspaper-col3 {
    column-count: 3;
}

.inline-block {
    display: inline-block;
    float: none;
}

.col-table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    @media (max-width: @screen-md) {
        display: block;
    }
    .col-table-cell {
        display: table-cell;
        vertical-align: middle;
        float: none;
        @media (max-width: @screen-md) {
            display: block;
        }
        .col-table-cell--inline {
            display: inline-block;
            width: 100%;
        }
    }
}
