.company-stats--section {
    h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .company-stats {
        .company-stats--number {
            font-size: 110px;
            line-height: 1;
            margin-bottom: 15px;
            @media (max-width: @screen-md) {
                font-size: 80px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        .company-stats--text {
            font-size: 36px;
            line-height: 1;
            @media (max-width: @screen-md) {
                font-size: 30px;
            }
        }

        .col-md-4 {
            border-right: 1px solid;
            margin-bottom: 15px;
            &:last-child {
                border: 0;
            }
            @media (max-width: @screen-sm) {
                border-right: 0;
                border-bottom: 1px solid;
                padding-bottom: 30px;
                padding-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
}
