// content blocks
// content-blocks.less

.content--2col {
    .content--2col--text {
        & > * {
            max-width: 500px;
            @media (max-width: @screen-md) {
                max-width: inherit;
            }
        }
    }
    .content--2col--img {
    }
    @media (max-width: @screen-md) {
        .container > * {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: @screen-sm) {
        .container > * {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
