.cta {
    font-family: @font-cera-bold;
    display: inline-block;
    color: inherit;
    position: relative;
    font-size: inherit;
    transition: all 0.5s;
    &:hover {
        text-decoration: none;
        color: @brand-color--pink;
        transition: all 0.5s;
    }
    i {
        display: inline-block;
        padding: 0 0.5em;
        vertical-align: middle;
        transition: padding 0.5s;
    }
    &:hover i {
        padding: 0 0 0 1em;
        color: @brand-color--pink;
        transition: all 0.5s;
    }
}

a:hover .cta {
    text-decoration: none;
    color: @brand-color--pink;
    transition: all 0.5s;
    i {
        padding: 0 0 0 1em;
        color: @brand-color--pink;
        transition: all 0.5s;
    }
}

.cta.cta-arrow--down {
    &:hover {
    }
    i {
        padding: 0.5em 0;
    }
    &:hover i {
        padding: 1em 0 0 0;
    }
}

.cta.cta-skew {
    font-family: @font-cera-regular;
    padding: 4px 20px;
    span {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: '';
        transform: skewX(-25deg);
        width: 100%;
        position: absolute;
        z-index: 0;
        border: 1px solid;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
