footer {
    font-family: @font-cera-regular;
    //& > .container:first-child div ul:first-child,
    //& > .container:first-child div p:first-child {
    //margin-top: 0;
    //}
    //& > .container:first-child div ul:last-child,
    //& > .container:first-child div p:last-child {
    //margin-bottom: 0;
    //}
    //& > .container:first-child ul > li:first-child {
    //font-family: @font-cera-bold;
    //}
    & > .container:last-child ul li {
        display: inline-block;
        border-right: 1px solid;
        padding: 0 20px;
    }
    & > .container:last-child ul li:first-child {
        padding-left: 0;
    }
    & > .container:last-child ul li:last-child {
        border-right: 0;
        padding-right: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }

    a {
        transition: all 0.3s;
    }
    a:hover {
        color: @brand-color--blue;
        transition: all 0.3s;
    }
    .footer--container--top {
        float: none;
        margin-bottom: 30px;
        .col-md-3 {
            > * {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }

    @media (max-width: @screen-md) {
        &.section-pad {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .footer--container--bottom,
        .footer--address {
            text-align: center;
        }
        .footer--address {
            clear: left;
            padding-left: 0;
        }
        .footer--address br {
            display: none;
        }
        .footer--container--top .col-sm-3 {
            margin-bottom: 30px;
        }
        .footer--social {
            text-align: center;
            padding: 0;
        }
        .footer--container--bottom {
            padding-top: 15px;
        }
    }

    @media (max-width: @screen-sm) {
        .footer--container--bottom {
            padding-top: 0;
        }
        &.section-pad {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        & > .container:last-child ul li {
            display: block;
        }
        & > .container:last-child ul li {
            padding-left: 0;
        }
        & > .container:last-child ul li {
            border: 0;
        }
        .footer--container--top {
            float: right;
            width: 33.33333333%;
            padding: 0 15px 0 0;
        }
        .footer--container--bottom {
            text-align: left;
        }
        .footer--container--bottom ul {
            margin-top: 0;
        }
    }
}
