.form-element {
    border-bottom: 2px solid @brand-color--blue;
    input {
        width: 100%;
        border: 0;
        padding: 6px;
        border-radius: 0;
        &:focus {
            outline-color: @brand-color--pink;
            outline-offset: -3px;
        }
    }
    i {
        height: 44px;
        width: 44px;
        line-height: 1.7;
        text-align: center;
        font-size: 26px;
    }
}
.input--search {
    position: relative;
    i {
        position: absolute;
        left: 0;
        top: 0;
    }
    input {
        padding-left: 60px;
    }
}
