header {
    position: relative;
    z-index: 10;
    transition: background-color 0.5s;
    > .container {
        padding-top: 30px;
        padding-bottom: 30px;
        @media (max-width: @screen-md) {
            padding-top: 15px;
            padding-bottom: 15px;
            @media (max-width: @screen-sm) {
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
        .logo--container {
        }
    }
    .logo--container {
        @media (max-width: @screen-sm) {
            padding-right: 0;
        }
        .logo {
            display: block;
            position: relative;
            z-index: 1;
            @media (max-width: @screen-sm) {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
            }
            svg {
                display: block;
                width: 100%;
                height: auto;
                max-width: 185px;
            }
        }
    }
    .menu--container {
        padding-left: 0;
        .menu-item {
            display: inline-block;
            &.cta {
                i {
                    padding: 0;
                }
            }
            @media (max-width: @screen-sm) {
                margin: 0;
                text-align: center;
                .fa {
                    font-size: inherit;
                }
                margin-left: 5px;
                min-width: 40px;
            }
        }
        @media (max-width: @screen-sm) {
            padding-top: 8px;
        }
    }
    .logo {
        svg {
            fill: @brand-color--blue;
            .logo--think {
                opacity: 1;
            }
            .logo--project {
                opacity: 0.5;
            }
        }
    }
    .fa {
        font-size: 26px;
        vertical-align: middle;
    }
    label {
        cursor: pointer;
    }

    .menu--container {
        font-family: @font-cera-regular;
        text-align: right;
        position: static;
        > a,
        > label {
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 0;
            vertical-align: middle;
            @media (max-width: @screen-sm) {
                margin-left: 15px;
            }
        }
        label[for='language'] {
            margin-bottom: 0;
            .fa {
                font-size: 20px;
            }
        }

        label[for='menu'] {
            width: 44px;
            height: 44px;
            position: relative;
            vertical-align: middle;

            .menu--hamburger {
                top: 25px;
                span {
                    position: absolute;
                    display: block;
                    width: 26px;
                    height: 0;
                    border-style: solid;
                    left: 9px;
                    transition: all 0.5s;
                    &:first-child {
                        border-width: 0 0 2px 0;
                        top: 14px;
                    }
                    &:last-child {
                        top: 28px;
                        border-width: 2px 0 0 0;
                    }
                }
            }
        }

        #menu[type='checkbox']:checked {
            ~ label[for='menu'] .menu--hamburger span {
                transform: rotate(225deg);
                top: 21px;
                &:last-child {
                    transform: rotate(-225deg);
                }
            }
            ~ div[data-for='menu'] {
                opacity: 1;
                visibility: visible;
            }
        }
        .drop-down {
            background: @brand-color--white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s;
            padding-bottom: 15px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            text-align: left;
            padding-top: 104px;
            hr {
                margin-top: 0;
                margin-bottom: 30px;
            }

            h1,
            h2,
            h3,
            h4 {
                font-family: 'Cera Bold', Helvetica, Arial, sans-serif;
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .container {
                padding-bottom: 30px;
                .menu-col {
                    @media (max-width: @screen-sm) {
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
                .menu-col > * {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
            .flag-link {
                display: block;
                text-align: center;
                .flag-icon {
                    font-size: 30px;
                    &:before {
                        margin: auto;
                    }
                }
            }
            @media (max-width: @screen-sm) {
                padding-top: 69px;
            }
        }
        .menu-item.cta.cta-skew:hover {
            color: @brand-color--blue;
            &:after {
                background-color: @brand-color--white;
                border-color: @brand-color--white;
            }
        }
    }
    &.menu--active .menu-item:hover {
        opacity: 1;
    }
    &.menu--active .menu-item.cta.cta-skew {
        &:hover {
            color: @brand-color--white;
            &:after {
                border-color: @brand-color--blue;
                background-color: @brand-color--blue;
            }
        }
    }
}

#language[type='checkbox']:checked ~ .drop-down[data-for='language'],
#language[type='checkbox']:checked ~ .drop-down[data-for='language'],
#search[type='checkbox']:checked ~ .drop-down[data-for='search'] {
    opacity: 1;
    visibility: visible;
}

.menu--active .menu-item {
    opacity: 0.5;
    position: relative;
    z-index: 1;
}
.menu--active .menu-item.active {
    opacity: 1;
}

// force all nav white on active
.menu--active {
    color: @brand-color--blue!important;
    .logo svg {
        fill: @brand-color--blue!important;
    }
}
