.hero--center {
    text-align: center;
    // style after effects
    .img-rombus--container {
        height: 330px;
        @media (max-width: @screen-sm) {
            height: 140px;
        }
    }
    .img-rombus {
        padding-bottom: 200px;
        top: 0px;

        &:nth-of-type(3) {
            left: -20%;
            transform: skewY(@skew-angle-invert) translate(0%, 20%);
            width: 400px;
            @media (max-width: @screen-sm) {
                left: -60%;
            }
        }
        &:nth-of-type(2) {
            left: 0;
            transform: skewY(@skew-angle-invert) translate(0%, 20%);
            width: 400px;
            @media (max-width: @screen-sm) {
                left: -40%;
            }
        }
        &:nth-of-type(1) {
            left: 20%;
            transform: skewY(@skew-angle-invert) translate(50%, 10%);
        }
        @media (max-width: @screen-md) {
            display: block;
        }
        @media (max-width: @screen-sm) {
            padding-bottom: 100px;
        }
    }
}

.hero--2col {
    @media (max-width: @screen-md) {
        text-align: center;
        .col-table-container > * {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .hero--2col--text > * {
        max-width: 500px;
        @media (max-width: @screen-md) {
            max-width: none;
        }
    }
    .hero--2col--img {
        text-align: right;
        & > * {
            max-width: 500px;
        }
        @media (max-width: @screen-md) {
            text-align: center;
            & > * {
                max-width: inherit;
            }
        }
    }
}

.hero {
    &.section-pad {
        padding-top: 200px;
        padding-bottom: 300px;
        @media (max-width: @screen-md) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
/*.blue-layout {
    .hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
    }
}

.hero,
.hero-sub {
    position: relative;
    padding: 200px 0;
    h1,
    h2,
    h3,
    h4 {
        max-width: 1700px;
    }
    > .container {
        position: relative;
        z-index: 1;
    }
    .cta {
        font-size: 30px;
    }
}

.hero {
    text-align: center;
    .large-paragraph {
        margin: 80px auto 500px;
        max-width: 800px;
    }
}

.hero-sub {
    padding-top: 0;
}

#hero--home {
    .skew-shape--left:after {
        content: '';
        position: absolute;
        bottom: 200px;
        left: 0;
        width: 560px;
        height: 280px;
        background-color: @brand-color--green;
        transform: skew(0deg, -24deg);
    }
    .skew-shape--left:before {
        content: '';
        position: absolute;
        bottom: 220px;
        left: 400px;
        width: 560px;
        height: 280px;
        background-color: @brand-color--lblue;
        transform: skew(0deg, -24deg);
    }
    .skew-shape--right:after {
        content: '';
        position: absolute;
        bottom: 200px;
        right: 0;
        width: 700px;
        height: 300px;
        background-color: @brand-color--green;
        transform: skew(0deg, -24deg);
    }
    .skew-shape--right:before {
        content: '';
        position: absolute;
        bottom: 500px;
        right: 0;
        width: 200px;
        height: 280px;
        background-color: @brand-color--white;
        transform: skew(0deg, -24deg);
    }

    + section {
        position: relative;
        background-color: @brand-color--blue;
        color: @brand-color--white;
    }
    + section:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @brand-color--white;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }
    + section > .container {
        padding-bottom: 200px;
    }
}*/
