// img-after-effect
.img-after-effect {
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        padding-bottom: 40%;
        transform: skewY(@skew-angle-invert);
        background-color: #444;
    }
    &.img-after-effect--top:before {
        top: 0;
    }
    &.img-after-effect--right:before {
        right: 0;
    }
    &.img-after-effect--bottom:before {
        bottom: 0;
    }
    &.img-after-effect--left:before {
        left: 0;
    }

    &.img-after-effect--br:before {
        top: 40%;
        left: 20%;
    }
    &.img-after-effect--tr:before {
        bottom: 60%;
        left: 20%;
    }
    &.img-after-effect--bl:before {
        top: 60%;
        right: 20%;
    }
    &.img-after-effect--tl:before {
        bottom: 45%;
        right: 20%;
    }
    img {
        position: relative;
        z-index: 0;
    }
}
.img-rombus--container {
    position: relative;
}

.img-rombus {
    display: block;
    @media (max-width: @screen-md) {
        display: none;
    }
    position: absolute;
    z-index: 0;
    transform: skewY(@skew-angle-invert) translate(50%, -5%);
    width: 100%;
    padding-bottom: 40%;
    &.img-rombus--x--left {
        right: 100%;
    }
    &.img-rombus--x--center {
        right: 50%;
    }
    &.img-rombus--x--right {
        right: 0%;
    }
    &.img-rombus--y--top {
        top: 35%;
    }
    &.img-rombus--y--top--out {
        top: 0%;
    }
    &.img-rombus--y--center {
        top: 50%;
    }
    &.img-rombus--y--bottom {
        top: 65%;
        & + .img-rombus--y--bottom {
            top: 80%;
        }
    }
    &.img-rombus--size--30 {
        width: 30%;
    }
    &.img-rombus--size--60 {
        width: 60%;
    }
    &.img-rombus--size--90 {
        width: 90%;
    }
    &.img-rombus--size--120 {
        width: 120%;
    }
}
