.menu-list {
    line-height: 1.4;
    padding-left: 0;

    &,
    ul {
        list-style: none;
    }
    ul {
        padding-left: 8px;
        font-size: 16px;
    }
    > li > a,
    > li > label {
        font-family: 'Cera Bold', Helvetica, Arial, sans-serif;
    }
    ul,
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    a {
        display: block;
        @media (max-width: @screen-sm) {
            padding: 10px 44px;
            vertical-align: middle;
        }
    }
    a,
    label {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: @screen-sm) {
        text-align: center;
        & {
            margin-top: 0 !important;
            margin-bottom: 15px !important;
        }
        ul,
        li {
            position: relative;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        label {
            position: absolute;
            top: 0;
            right: 0;

            display: inline-block;
            vertical-align: middle;
            margin: 0;
            width: 44px;
            height: 44px;
            &:after {
                font: normal normal normal 14px/1 FontAwesome;
                content: '\f0d7';
                font-size: 26px;
            }
        }
        [type='checkbox'] {
            ~ ul {
                overflow: hidden;
                max-height: 0;
            }
            &:checked ~ ul {
                max-height: none;
            }
            &:checked ~ label,
            &:checked ~ ul,
            &:checked ~ a {
                color: @brand-color--pink;
            }
            &:checked ~ label:after {
                content: '\f0d8';
            }
        }
    }
}
