// products-grid.less
.products-grid {
    .products-grid--item {
        .img-res {
            max-width: 150px;
            margin: auto;
        }
    }
    .col-md-3 {
        width: 24.5%;
    }
}
