.social-list {
    padding-left: 0;
    font-size: 30px;
    li {
        display: inline-block;
        a {
            display: block;
            line-height: 1.15;
            width: 34px;
            height: 34px;
            text-align: center;
            i {
            }
        }
    }
}
