// templates.less
.home-theme {
    header {
        background-color: @brand-color--blue;
        color: @brand-color--white;
    }
    .logo svg {
        fill: @brand-color--white;
    }
    .hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        padding-bottom: 0;
        & + .color-divider {
            padding-top: 200px;
        }
    }
}

.default-blue {
    header {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        .logo svg {
            fill: @brand-color--white;
        }
    }
    .hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
    }
}

.default-orange {
    header {
        background-color: @brand-color--orange;
        color: @brand-color--white;
        .logo svg {
            fill: @brand-color--white;
        }
    }
    .hero {
        background-color: @brand-color--orange;
        color: @brand-color--white;
        .cta:hover,
        .cta:hover i {
            color: @brand-color--blue!important;
        }
        + .bg--orange.section-pad {
            padding-top: 0;
        }
    }
}
