.text-color--white {
    color: @brand-color--white;
}
.text-color--blue {
    color: @brand-color--blue;
}
.text-color--lblue {
    color: @brand-color--lblue;
}
.text-color--green {
    color: @brand-color--green;
}
.text-color--lgreen {
    color: @brand-color--lgreen;
}
.text-color--pink {
    color: @brand-color--pink;
}
.text-color--grey {
    color: @brand-color--grey;
}
.text-color--dgrey {
    color: @brand-color--dgrey;
}
.text-color--orange {
    color: @brand-color--orange;
}

.text--opacity {
    opacity: 0.5;
}
