/*body.home-theme {
    // nav
    header {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        &.menu--active {
            //background-color: @brand-color--white;
            color: @brand-color--blue;
            .logo {
                svg {
                    fill: @brand-color--blue;
                }
            }
        }
    }
    .logo svg {
        fill: @brand-color--white;
    }
    // nav
    // hero
    .hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        &.section-fh {
            height: calc(~'100vh - 104px');
            .section-fh--wrapper {
                position: relative;
            }
        }
        .skew-shape--left:before,
        .skew-shape--left:after,
        .skew-shape--right:before {
            content: '';
            position: absolute;
            display: block;
            z-index: 1;
        }
        .skew-shape--left:before {
            background-color: @brand-color--white;
            height: 160px;
            width: 300px;
            bottom: 0px;
            left: 100px;
            transform: skewY(@skew-angle-invert);
        }
        .skew-shape--left:after {
            background-color: @brand-color--lgreen;
            height: 160px;
            width: 300px;
            bottom: 0px;
            left: -100px;
            transform: skewY(@skew-angle-invert);
        }
        .skew-shape--right:before {
            background-color: @brand-color--green;
            height: 160px;
            width: 500px;
            bottom: 80px;
            right: -100px;
            transform: skewY(@skew-angle-invert);
        }
    }
    // hero
    // sub hero
    .sub-hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        position: relative;
    }
    .sub-hero.sub-hero--clipped {
        &:after {
            position: absolute;
            z-index: 0;
            top: 200px;
            left: 0;
            right: 0;
            content: '';
            display: block;
            height: 1300px;
            background: linear-gradient(
                @skew-angle-invert,
                #ffffff 50%,
                #003b4c 0%
            );
        }
        .section-fh--wrapper {
            position: relative;
            z-index: 1;
        }
    }
    // sub hero
}

body.blue-theme {
    // nav
    header {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        &.menu--active {
            background-color: @brand-color--white;
            color: @brand-color--blue;
            .logo {
                svg {
                    fill: @brand-color--blue;
                }
            }
        }
    }
    .logo svg {
        fill: @brand-color--white;
    }
    // nav
    // hero
    .hero {
        background-color: @brand-color--blue;
        color: @brand-color--white;
        &.section-fh {
            height: calc(~'100vh - 104px');
        }
    }
    // hero
}

body.orange-theme {
    // nav
    header {
        background-color: @brand-color--orange;
        color: @brand-color--white;
        &.menu--active {
            background-color: @brand-color--white;
            color: @brand-color--blue;
            .logo {
                svg {
                    fill: @brand-color--blue;
                }
            }
        }
    }
    .logo svg {
        fill: @brand-color--white;
    }
    // nav
}

body.pink-theme {
    // nav
    header {
        background-color: @brand-color--pink;
        color: @brand-color--white;
        &.menu--active {
            background-color: @brand-color--white;
            color: @brand-color--blue;
            .logo {
                svg {
                    fill: @brand-color--blue;
                }
            }
        }
    }
    .logo svg {
        fill: @brand-color--white;
    }
    // nav
}
*/
