// ticker.less

.ticker--wrapper {
    marquee {
        img {
            width: 300px;
            height: auto;
        }
    }
    .ticker--item {
        width: 230px;
        height: 100px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.marquee {
    overflow: hidden;
    position: relative;
    height: 120px;
    .marquee--inner {
        width: 200%;
        position: absolute;
        animation: marquee 20s linear infinite;
        span {
            float: left;
            width: 50%;
        }
        .marquee--item {
            width: 18%;
            height: 120px;
            margin: 0 1%;
            float: left;

            // add bg image with cms
            background-image: url('http://resources.mynewsdesk.com/image/upload/c_limit,dpr_2.0,f_auto,h_700,q_auto,w_690/tpvf1fezydcp3vatybry.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
        }
    }
    .marquee--inner.marquee--left {
        animation: marqueeLeft 20s linear infinite;
    }
    .marquee--inner.marquee--right {
        animation: marqueeRight 20s linear infinite;
    }
}

@keyframes marqueeLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes marqueeRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
