@brand-primary: darken(#428bca, 6.5%);

//brand colours
@brand-color--white: #fff;
@brand-color--blue: #003b4c;
@brand-color--lblue: #2a606e;
@brand-color--green: #00a75f;
@brand-color--lgreen: #c8d400;
@brand-color--pink: #f34e65;
@brand-color--grey: #ececec;
@brand-color--dgrey: #c5c5c5;
@brand-color--orange: #f18700;
@brand-color--yellow: #ffcd1c;

// skew angle
@skew-angle: 24deg;
@skew-angle-invert: -24deg;

@font-cera-light: 'Cera Light', Helvetica, Arial, sans-serif;
@font-cera-regular: 'Cera Regular', Helvetica, Arial, sans-serif;
@font-cera-bold: 'Cera Bold', Helvetica, Arial, sans-serif;

@max-width: 1280px;

@font-face {
    font-family: 'Cera Light';
    src: url('../fonts/cera-light-webfont.woff') format('woff'),
        url('../fonts/cera-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Regular';
    src: url('../fonts/cera-regular-webfont.woff') format('woff'),
        url('../fonts/cera-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Bold';
    src: url('../fonts/cera-bold-webfont.woff') format('woff'),
        url('../fonts/cera-bold-webfont.woff2') format('woff2');
}
