<perch:before><ul></perch:before>
    <li style="margin-left: <perch:category id="catDepth" type="hidden" />0px;">
        <h4><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" /></h4>
        <perch:category id="catSlug" type="slug" for="catTitle" suppress="true" />
        
        <perch:category id="catTitle" type="smarttext" label="Title" required="true" suppress="true"/>
        <perch:category id="name_en" type="text" label="Name EN" required="true" suppress="true" />
        <perch:category id="name_de" type="text" label="Name DE" suppress="true"/>
    </li>
<perch:after></ul></perch:after>