<perch:before>
<div class="categories--list">
<strong>Filter:</strong>
<ul>
    <li <perch:if not-exists="hasSlug">class="selected"</perch:if>>
        <a href="<perch:category id="path" />"><perch:trans id="lang.projects.all" /></a>
    </li>
</perch:before>
    <li <perch:if id="catPath" match="eq" value="{setPath}">class="selected"</perch:if>>
        <a href="<perch:category id="path" />?<perch:category id="catParent"/>=<perch:category id="catSlug" type="slug" for="catTitle"/>">
            <perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" />
        </a>
    </li>
<perch:after>
</ul>
</div>

</perch:after>