<perch:before>
    <select class="form--select filter-menu js--collection-filter" data-category="<perch:category id="filterPath" />" data-test="<perch:category id="filterVal"/>">
    <option disabled selected value><perch:category id="filterTitle" /></option>
    <option value="all"><perch:trans id="lang.projects.all" /></option>
</perch:before>
    <option 
        <perch:if id="catPath" match="eq" value="{filterVal}">selected</perch:if>
        <perch:if id="catDepth" value="1" match="eq">class="filter-option--group"</perch:if>
        
        value="<perch:category id="catPath"/>"
       
        data-catDepth="<perch:category id="catDepth" type="hidden" />" 
        data-path="<perch:category id="catPath"/>"
        data-catSlug="<perch:category id="catSlug" type="slug" for="catTitle"/>"
        data-cat="<perch:category id="catTitle" type="smarttext" label="Title" required="true" />"
    >
    <perch:if id="catDepth" value="1" match="neq">- </perch:if><perch:translate id="name_en" en="{name_en}" de="{name_de}" explicit="true" />
    <perch:category id="catTitle" type="smarttext" label="Title" required="true" suppress="true" />
    </option>
<perch:after>
    </select>
</perch:after>