<perch:blocks>
	<!--* Header *-->
	<perch:block type="header" label="Header">
		<perch:template path="content/blocks/img-text.html" />
	</perch:block>
	
	<!--* Text *-->
	<perch:block type="text" label="Text">
		<perch:template path="content/blocks/text.html" />
	</perch:block>
	
	<!--* Text + Text *-->
	<perch:block type="text-text" label="Text + Text">
		<perch:template path="content/blocks/text-text.html" />
	</perch:block>
	
	<!--* Image *-->
	<perch:block type="image" label="Image">
		<perch:template path="content/blocks/image.html" />
	</perch:block>
	
	<!--* Image + Text *-->
	<perch:block type="image-text" label="Image + Text">
		<perch:template path="content/blocks/image-text.html" />
	</perch:block>
	
	<!--* Cover *-->
	<perch:block type="cover" label="Cover">
		<perch:template path="content/blocks/cover.html" />
	</perch:block>
	
	<!--* Cover + Text *-->
	<perch:block type="cover-text" label="Cover + Text">
		<perch:template path="content/blocks/cover-text.html" />
	</perch:block>
	
	<!--* Team *-->
	<perch:block type="team" label="Team">
		<perch:template path="content/blocks/team.html" />
	</perch:block>
	
	<!--* Accreditations *-->
	<perch:block type="accreditations" label="Accreditations">
		<perch:template path="content/blocks/accreditations.html" />
	</perch:block>
	
	<!--* Fees *-->
	<perch:block type="fees" label="Fees">
		<perch:template path="content/blocks/fees.html" />
	</perch:block>
	
	<!--* FAQs *-->
	<perch:block type="faqs" label="FAQs">
		<perch:template path="content/blocks/faqs.html" />
	</perch:block>
	
	<!--* Schedule *-->
	<perch:block type="schedule" label="Schedule">
		<perch:template path="content/blocks/schedule.html" />
	</perch:block>
</perch:blocks>