<perch:blocks>
	<!--* image and text *-->
	<perch:block type="imgText" label="Image and Text" icon="photo">
		<perch:template path="content/blocks/img-text.html" />
	</perch:block>

	<!--* image and text *-->
	<perch:block type="imgTextOff" label="Image and Text Offset" icon="photo">
		<perch:template path="content/blocks/img-text-offset.html" />
	</perch:block>

	<!--* scrolling marquee *-->
	<perch:block type="marquee" label="Scrolling marquee" icon="photos">
		<perch:template path="content/blocks/marquee.html" />
	</perch:block>

	<!--* text columns *-->
	<perch:block type="text-col" label="Text Columns" icon="edit">
		<perch:template path="content/blocks/text-col.html" />
	</perch:block>

	<!--* list section *-->
	<perch:block type="list-section" label="List Section" icon="list">
		<perch:template path="content/blocks/list-section.html" />
	</perch:block>

	<!--* Large Text Block *-->
	<perch:block type="text-block" label="Large Text Block" icon="edit">
		<perch:template path="content/blocks/text-block.html" />
	</perch:block>

	<!--* page grid *-->
	<perch:block type="page-Grid" label="Page Grid" icon="world">
		<perch:template path="content/blocks/page-grid.html" />
	</perch:block>

	<!--* Testimonial section *-->
	<perch:block type="testimonial" label="Testimonial" icon="user">
		<perch:template path="content/blocks/quote.html" />
	</perch:block>

	<!--* Related Project section *-->
	<perch:block type="reProject" label="Related Project" icon="world">
		<perch:template path="content/blocks/related-project.html" />
	</perch:block>

	<!--* Related Download section *-->
	<perch:block type="reDownload" label="Related Download" icon="newspaper">
		<perch:template path="content/blocks/related-download.html" />
	</perch:block>
		
	<!--* Text Block with columns *-->
	<perch:block type="text-block-col" label="Text Block Columns" icon="edit">
		<perch:template path="content/blocks/text-block-col.html" />
	</perch:block>

	<!--* divider *-->
	<perch:block type="hr" label="Divider" icon="circle-add">
		<section>
			<div class="container">
				<div class="row">
					<hr class="col-12">
				</div>
			</div>
		</section>
	</perch:block>

</perch:blocks>