<div class="page-note eq-margin">
    <h5 class="h2 h2s--sm text-color--pink"><perch:content id="title" type="text" label="Contact Title" required="true" /></h5>
    <div>
        <div><strong><perch:content id="name" type="text" label="Contact Name" required="true"/></strong> – <perch:content id="role" type="text" label="Job Title" required="true" /></div>
        <div><a href="tel:<perch:content id="telephone" type="text" label="Telephone" filter="space" required="true" />"><perch:content id="telephone" type="text" /></a> | <a class="email"><perch:content id="email" type="text" label="Email address" required="true" help="example [at] example.com" /></a></div>
    </div>
</div>