<perch:content id="heading_en" type="text" label="Heading" suppress="true" required="true"/>
    
<perch:content id="mktoID_en" type="text" label="Form ID" title="true" suppress="true" required="true" />
<section class="v-padding--md bg-lgrey">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="h1 ta-c"><perch:translate id="heading_en" en="{heading_en}" de="{heading_de}" explicit="true" /></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="mktoForm" data-form-id="<perch:translate id="mktoID" en="{mktoID_en}" de="{mktoID_de}" explicit="true" />" <perch:if exists="mktoStyle">data-form-style="<perch:content type="select" id="mktoStyle" label="Form Style" options="Compact|compact" allowempty="true"/>"</perch:if>></form>
            </div>
        </div>
    </div>
</section>

<perch:group label="Language - DE" collapse="true">
    <perch:content id="heading_de" type="text" label="Heading" suppress="true" />
    <perch:content id="mktoID_de" type="text" label="Form ID" suppress="true" />
</perch:group>