
<section class="v-padding--md">
    <div class="container eq-margin--md">
        <div class="row">
            <div class="col-12 h3 breadcrubs--header">
                <perch:content id="crumbs" type="hidden" html="true">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h1 class="h1 h1--lg"><perch:content id="heading" type="text" label="Heading" order="10" help="Page heading for locations page" /></h1>
            </div>
            <div class="col-lg-8">
                <div id="map" 
                <perch:group label="Map options">
                    <perch:if exists="map_zoom">data-zoom="
                        <perch:content id="map_zoom" type="text" required="true" help="Zoom value for google interactive map, for best results enter value between 0 and 10 (decimal points can be used)" label="Map zoom value" />" 
                    </perch:if>
                    <perch:if exists="map_lat AND map_lng">
                        data-lat="<perch:content id="map_lat" label="Map lat value" type="text" required="true"/>" 
                        data-lng="<perch:content id="map_lng" label="Map lng value" type="text" required="true"/>"
                    </perch:if>
                </perch:group>
               ></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="h2 margin--none text-color--green"><perch:content id="locationsHeading" type="text" label="Heading for locations section" order="40" help="Heading for each office loactions section" /></h3>
            </div>
        </div>
    </div>
</section>