<section class="sign-post--carousel bg-blue v-padding--md">
    <div class="container eq-margin--sm">
        <div class="row">
            <div class="col-12 ta-c"><h5 class="h1 margin--none"><perch:content id="heading" type="text" label="Heading" required order="10" help="Add a heading .eg 'Other Products:'"/></h5></div>
        </div>
        <div class="carousel">
            <div class="carousel--wrapper ta-c">
                <perch:repeater id="relPages" label="Related Pages" colapse="true">
                    <div class="carousel--item">
                        <a href="<perch:content id="page" type="pagelist" label="Page"/>/">
                            <img src="<perch:content id="pageIcon" type="image" label="Page Icon" width="140" bucket="page-icons" order="10" help="Please note: icon needs to be white as section background colour is blue" />" alt="<perch:content id="navTitle" type="hidden" />" width="<perch:content id="pageIcon" type="image" label="Page Icon" output="w" />">
                            <div class="h2 h2--sm"><perch:content id="page" type="pagelist" label="Page" output="navtext" help="Select a page from"/></div>
                        </a>
                    </div>
                </perch:repeater>
            </div>
        </div>
    </div>
</section>