<!--* Default: Do NOT remove! *-->
<perch:content id="site" type="smarttext" label="Site title" html="false" required="true" escape="true" order="1" />
<perch:content id="image" type="image" label="Site image" help="1200px / 630px" order="3" />

<!--* Default: Do NOT remove! *-->
<perch:content id="head" type="textarea" label="Head" html="true" size="l" divider-before="Code injection" help="Enter code that will be injected into the 'head' tag on every page of your site" order="100" />
<perch:content id="footer" type="textarea" label="Footer" html="true" size="l" help="Enter code that will be injected on every page of your site" order="110" />
<perch:content id="cookie" type="textarea" label="Cookie enabled" html="true" size="l" help="Enter code that will be injected on every page of your site if cookies are enabled" order="120" />