<perch:repeater id="socialAccounts" label="Related Social Accounts" collapse="true">
    <perch:before>
        <ul class="social-list">
    </perch:before>
    <li>
        <a href="<perch:content id="socialLink" type="text" label="Link to Social Account" required="true"/>" title="<perch:content id="socialIcon" type="hidden">">
            <svg class="icon--social icon--svg" viewBox="0 0 50 50">
                <use xlink:href="/assets/svg/svg-social.svg#<perch:content id="socialIcon" type="select" label="Social Icon" options="Twitter|twitter, Linkedin|linkedin, Xing|xing" allowempty="false" required />"></use>
            </svg>
        </a>
    </li>
    <perch:after>
        </ul>
    </perch:after>
</perch:repeater>

    