<section class="block--stats v-padding--md <perch:content id="statBG"/>">
    <div class="container ta-c eq-margin--sm">
        <div class="row">
        <div class="col-12">
            <h3 class="h1 margin--none"><perch:trans id="lang.stats.heading"/></h3>
        </div>
        </div>
        <div class="row align-items-center">
        <div class="block--stats--container col-lg-4">
            <div class="block--stats--number"><span data-val="<perch:content id="users" type="text" label="Users" />" class="animateVal"><perch:content id="users" type="text" label="Users" /></span>k</div>
            <div class="block--stats--text"><perch:content id="statUser"/></div>
        </div>
        <div class="block--stats--container col-lg-4">
            <div class="block--stats--number"><span data-val="<perch:content id="projects" type="text" label="Projects" />" class="animateVal"><perch:content id="projects" type="text" label="Projects" /></span>k</div>
            <div class="block--stats--text"><perch:content id="statProject"/></div>
        </div>
        <div class="block--stats--container col-lg-4">
            <div class="block--stats--number"><span data-val="<perch:content id="countries" type="text" label="Countries" />" class="animateVal"><perch:content id="countries" type="text" label="Countries" /></span></div>
            <div class="block--stats--text"><perch:content id="statCountries"/></div>
        </div>
        </div>
    </div>
</section>

<perch:content id="category" type="select" label="Category" options="Brochure|brochure, Whitepaper|whitepaper, Manual|manual, Webinar|webinar" allowempty="false" suppress="true">