<section class="v-padding--md">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 eq-margin--lg">

                <perch:repeater id="items" label="Support Items" divider-after="Support Form">
                    <perch:before></perch:before>

                        <perch:content id="heading" type="text" label="Heading" suppress="true" order="10" required="true"/>
                        <perch:content id="link" type="text" label="Link" suppress="true" order="30" required="true"/>
                        <perch:content id="linkTitle" type="text" label="Link text" suppress="true" order="20" required="true"/>

                        <div class="eq-margin">
                            <h3 class="h2 h2--sm"><perch:content id="heading" /></h3>
                            <div class="cms-textarea--content">
                                <perch:template path="content/body.html">
                            </div>
                            <div class="row t-padding--sm">
                                <div class="col-xl-6 col-lg-8 col-7 eq-margin">
                                    <hr>
                                    <a href="<perch:content id="link" />" class="link link--right">
                                        <span><perch:content id="linkTitle" /></span>
                                        <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                                            <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <perch:after></perch:after>
                </perch:repeater>

            </div>
            <perch:if exsists="mktoID">
                <div class="offset-lg-2 col-lg-4">
                    <perch:template path="content/marketo/form.html" >
                </div>
            </perch:if>
            
        </div>
    </div>
</section>

