// Core: Base
// ----------------------------------------

@include font-face(ProximaNovaSoft, ProximaNovaSoft-Regular, $font-weight-regular);
@include font-face(ProximaNovaSoft, ProximaNovaSoft-Semibold, $font-weight-semibold);
@include font-face(ProximaNovaSoft, ProximaNovaSoft-Bold, $font-weight-bold);

@include font-face(VenturaEdding, VenturaEdding-Medium, $font-weight-medium);
@include font-face(VenturaEdding, VenturaEdding-Bold, $font-weight-bold);

// Box sizing --

* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

// Document --

html {
  @include breakpoint-up(xl) {
    // font-size: rem(18px);
  }
}

body {
  @include antialias;
  
  margin: 0;
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  line-height: $line-height;
  color: color($brand, default);
  text-rendering: optimizeLegibility;
  // -webkit-overflow-scrolling: touch;
}

// Links --

a {
	color: color($brand, accent);
	text-decoration: none;

	&:hover {
		
	}
	
	&:focus {
		outline: none;
	}
}

// Text selection

@include selection {
  background: color($brand, accent);
  color: color($core, white);
  text-shadow: none;
}