// Core: Blockquote
// ----------------------------------------

blockquote {
  margin: 0;
}

.blockquote {
	max-width: 45em;
	position: relative;

	p {
		
	}

	cite {
		@include margin(null null rem($spacer-base) null);
		
		display: inline-block;
		font-size: rem(14);
		
		&::before {
		  content: "\2014 \00A0"; // emdash nbsp
		}
	}

	&--left,
	&--right {
		max-width: 50%;
	}

	&--left {
		padding-right: $spacer-base;
		float: left;
	}

	&--right {
		padding-left: rem($spacer-base);
		float: right;
	}

	&--centre {
		@include center-block;
		
		text-align: center;
	}
}