// Core: Code
// ----------------------------------------

code,
kbd,
pre,
samp {
  font-family: $font-stack-monospace;
}

code {
  background-color: color($mono, light-100);
  border-radius: rem(3);
  color: #d14;
  font-size: 90%;
  padding: rem(3) rem(6);
}

kbd {
  background-color: color($mono, dark-900);
  border-radius: rem(3);
  color: #fff;
  font-size: 90%;
  padding: rem(3) rem(6);
}

pre {
  @include margin(0 null rem($spacer-base) null);
  
  display: block;
  font-size: 90%;
}