// Core: Form
// ----------------------------------------

.form {    
  // Form panel
  
  &--panel {
    padding: rem($spacer-base);
    background-color: white;
    border-radius: rem(8);
    box-shadow: 0 0 10px rgba(black, .03);
    
    @include breakpoint-up(s) {
    	padding: rem($spacer * 4);
    }
    
    @include breakpoint-up(m) {
    	padding: rem($spacer * 8);
    }
  }
  
  // Form row
  // Note: Use grid system
  
  &-row {
    + .form-divider {
      margin-top: rem($spacer * 2);
    }
  }
  
  // Form header
  
  &-header {
    @include margin(rem($spacer * 3) null);
    
    align-items: center;
    display: flex;
    
    &:first-of-type {
      margin-top: 0;
    }
    
    .form-heading {
      margin: 0;
    }
  }
  
  // Form heading
  
  &-heading {
    @include margin(rem($spacer-base) null);
    // @include text-truncate;
    
    // color: color($brand, navy);
    // flex: 1;
    // min-width: 0;
    // display: block;
  }
  
  // Form text
  
  &-text {
    @include margin(rem($spacer) null rem($spacer-base));
    
    color: color($mono, 500);
    font-size: $font-size-2;
  }
  
  // Form step
  
  &-step {
    @include size(rem(32));
    @extend .h5;
    
    background-color: white;
    border-radius: 50%;
    border: 2px solid color($brand, cyan);
    display: block;
    line-height: rem(30);
    text-align: center;
    color: color($brand, cyan);
    margin-right: rem($spacer-base);
  }
  
  // Form field
  
  &-field {
    margin-bottom: rem($spacer-base);
    
    + .form-action {
      margin-top: rem($spacer * 3);
    }
  }
  
  // Form label
  
  &-label {
    @include margin(null null rem($spacer / 2) null);
    
    font-size: rem(14);
    font-weight: $font-weight-bold;
    
    &-note {
      color: color($brand, navy-light);
      font-size: rem(13);
      font-weight: $font-weight-regular;
      float: right;
    }
    
    &-link {
      
    }
  }
    
  // Form label float
  
  &-label-float {
    position: relative;
    
    .form-label {
      @include unselectable;
      @include text-truncate;
      @include margin(rem($spacer / 2) null 0);
      @include hardware;
      
      background: color($core, white);
      color: color($mono, 500);
      font-size: rem(11);
      font-weight: $font-weight-semibold;
      line-height: 1.3;
      opacity: 0;
      padding: 0 rem(18);
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(30%);
      transition: all .2s ease-in-out;
      width: 100%;
      z-index: 4;
    }
    
    .input:not(:disabled):focus {
      @include padding(rem(14) null rem(4));
      
      &::placeholder {
        opacity: 0;
      }
  
      + .form-label {
        opacity: 1;
        transform: translateY(0);
        background-color: transparent;
      }
    }
    
    .input:not(:placeholder-shown) {
      @include padding(rem(14) null rem(4));
      
      + .form-label {
        opacity: 1;
        transform: translateY(0);
        background-color: transparent;
      }
    }
  }
  
  // Form help
  
  &-help {
    @include margin(rem($spacer / 2) null);
    
    color: color($mono, 500);
    font-size: rem(13);
  }
  
  // Form divider
  
  &-divider {
    @include margin(rem($spacer * 4) null rem($spacer * 4));
  }
  
  // Form table
  
  &-table {
    &-row {
      margin-bottom: rem($spacer-base);
    }
    
    .form-field {
      margin-bottom: 0;
    }
    
    @include breakpoint-up(s) {
      .form-label {
        margin-bottom: 0;
      }
    }
  }
  
  // Form action
  
  &-action {
    margin-top: rem($spacer);
  
    > :first-child {
      margin-bottom: rem($spacer * 3);
    }
    
    @include breakpoint-up(s) {
    	display: flex;
    	justify-content: space-between;
    	
    	> :first-child {
    	  margin-bottom: 0;
    	}
    }
  }
  
  &-action-button {
    align-self: flex-start;
    
    @include breakpoint-down(xs) {
      display: block;
      width: 100%;
    }
  }
  
  // Form response
  
  &-response {
    margin-bottom: rem($spacer * 3);
  }
}

// Input --

%input {
  @include padding(rem(9) rem($spacer-base));
  @include size(100%, rem(42px));
  
  display: block;
  font-size: rem(16);
  line-height: 1.3;
  background-color: color($mono, light-100);
  background-image: none;
  background-clip: padding-box;
  color: color($mono, dark-500);
  border: 2px solid color($brand, grey-light);
  border-radius: rem(4);
  transition: all .2s ease-in-out;
  
  &:not(:disabled):hover {
    border-color: darken(color($brand, grey-light), 8);
  }
  
  &:not(:disabled):focus {
    background-color: white;
    border-color: color($brand, primary);
    box-shadow: 0 0 4px rgba(black, 0.1);
    outline: none;
  }
  
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  &::placeholder {
    color: color($brand, grey-dark);
    opacity: 1;
  }
  
  &:disabled,
  &[readonly] {
    background-color: color($mono, light-100);
    color: color($mono, dark-400);
    opacity: 1;
  }
  
  &:disabled {
    cursor: not-allowed;
  }
}

.input {
  @extend %input;
  
  // Input inline
  
  &--inline {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: rem($spacer * 4);
    }
  }
  
  // Input required
  
  &--required {
    padding-right: rem($spacer * 6);
    background-image: svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Dot</title><path fill="#{color($brand, grey-dark)}" d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path></svg>');
    background-size: rem(24);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
  }
  
  // Input group
  
  &-group {
    position: relative;
    display: flex;
    width: 100%;
    
    .input,
    &-addon,
    &-button {
      display: flex;
      align-items: center;
      
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
    
    .input {
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      width: 1%;
      
      &:hover,
      &:focus {
        z-index: 3;
      }
    }
    
    &-addon {
      @include padding(rem(9) rem($spacer-base));
      
      font-size: rem(16);
      line-height: 1.3;
      text-align: center;
      background-color: color($mono, light-200);
      color: color($mono, dark-500);
      border: 2px solid color($brand, grey-light);
      border-radius: rem(4);
      vertical-align: middle;
      white-space: nowrap;
      
      &:not(:last-child) {
        border-right: 0;
      }
      
      &:not(:first-child) {
        border-left: 0;
      }
    }
    
    &-button {
      align-items: stretch;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      
      .button {
        @include padding(null rem($spacer-base));
        
        position: relative;
        z-index: 4;
        
        &:hover,
        &:focus {
          z-index: 5;
        }
      }
      
      &:not(:last-child) {
        .button {
          border-top-left-radius: rem(4);
          border-bottom-left-radius: rem(4);
          margin-right: -2px;
        }
      }
      
      &:not(:first-child) {
        .button {
          border-top-right-radius: rem(4);
          border-bottom-right-radius: rem(4);
          margin-left: -2px;
        }
      }
    }
    
    .input:not(:last-child),
    &-addon:not(:last-child),
    &-button:not(:last-child) .button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    .input:not(:first-child),
    &-addon:not(:first-child),
    &-button:not(:first-child) .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  
  
  // Textarea --
  
  &-textarea {
    min-height: rem(126);
  }
  
  // Select --
  
  &-select {
    @include appearance;
    
    background-image: svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Angle</title><path fill="#{color($brand, grey-dark)}" d="M16.6,8.6L12,13.2L7.4,8.6L6,10l6,6l6-6L16.6,8.6z"/></svg>');
    background-size: rem(24);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    padding-right: rem($spacer * 6);
    vertical-align: middle;
    height: calc(#{rem(38)} + 4px);
    
    &:focus {
      &::-ms-value {
        color: color($mono, dark-900);
        background-color: white;
      }
    }
    
    &::-ms-expand {
      opacity: 0;
    }
  }
  
  // Checkbox / Radio --
  
  &-selectable {
    @include padding(rem($spacer / 2) null rem($spacer / 2) rem($spacer * 3));
    
    font-size: rem(16);
    position: relative;
    
    &:not(.input--inline) {
      display: block;
    }
    
    + .form-help {
      margin-top: rem(-$spacer / 2);
      padding-left: rem($spacer * 3);
    }
  }
  
  &-checkbox,
  &-radio {
    @include margin(rem($spacer / 2) null null rem(-$spacer * 3));
    
    position: absolute;
  }
}