// Core: Grid
// ----------------------------------------

@if $grid-enabled {
  .wrapper {
    @include wrapper;
    
    &--fixed {
      max-width: $grid-wrapper;
    }
    
    &--wide {
      @include padding(null rem($grid-gutter / 2));
      
      @include breakpoint-up(xl) {
        @include padding(null rem(48));
      }
    }
  }
}

@if $grid-enabled {
  .row {
  	@include row;
  	
  	&--tight {
  	 @include margin(null (-$grid-gutter / 4));
  		
  		.col,
  		[class*="col-"] {
  		  @include padding(null ($grid-gutter / 4));
  		}
  	}
  	
  	&--collapse {
  	  @include margin(null 0);
  	  
  	  .col,
  	  [class*="col-"] {
  	    @include padding(null 0);
  	  }
  	}
  }
}

@if $grid-enabled {
	@include grid-columns;
}

.break {
  width: 100% !important;
}