// Core: Icon
// ----------------------------------------

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  stroke-width: 0;
  fill: currentColor;
  top: 0.15em;
  // top: -0.1em;
  // vertical-align: middle;
}
