// Core: Img
// ----------------------------------------

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

// Figure --

.figure {
	@include margin(0 auto rem($spacer-base));
	
	display: inline-block;
	
	img {
		@include margin(0 auto rem($spacer));
	}
}

// Image --

.img {
  align-items: center;
  display: flex;
  justify-content: center;
}