// Core: List
// ----------------------------------------

ul,
ol {
  margin: 0;
}

dl {
  @include margin(0 null rem($spacer-base));
  
  dt {
    font-weight: $font-weight-bold;
  }
  
  dd {
    @include margin(null null rem($spacer) 0);
  }
}

.list {
  @include list-unstyled;
}

.list--inline {
  .list-item {
    display: inline-block;
  
    &:not(:last-child) {
      margin-right: rem($spacer * 4);
    }
  }
}

.list--inline-center {
  .list-item {
		@include margin(null rem($spacer * 2));
		
    display: inline-block;
  }
}

.bulleted,
.numbered {
  padding-left: 0;
  
  li {
    @include margin(rem($spacer) null rem($spacer) rem($spacer * 3));
    
    padding-left: rem($spacer);
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  ul,
  ol {
    @include margin(rem($spacer) null);
    
    padding: 0;
  }
  
  ul {
  	list-style: disc;
  }
}

// Nav --

.nav {
  @include list-unstyled;
}

.nav--inline {
  display: flex;
  
  .nav-item {
    &:not(:last-child) {
      margin-right: rem($spacer * 4);
    }
  }
  
  .nav-link {
    display: block;
  }
}