// Core: Table
// ----------------------------------------

.table {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: rem($spacer-base);
  
  th,
  td {
    border-top: 1px solid color($mono, light-300);
    font-size: rem(16);
    padding: rem($spacer);
    vertical-align: top;
    
    &:empty::before {
      content: '\2013';
    }
  }
  
  th {
    font-weight: $font-weight-semibold;
  }
  
  td {
    border-top: 1px solid color($mono, light-300);
  }
  
  thead th {
    background-color: color($mono, light-100);
    border-top: none;
    border-bottom: 2px solid color($mono, light-300);
    vertical-align: bottom;
  }

  tbody + tbody {
    border-top: 2px solid color($mono, light-300);
  }
}

.table--hover {
  tbody tr:hover {
    background-color: rgba(black, .02);
  }
}

.table--responsive {
  @include breakpoint-down(s) {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}