// Core: Typography
// ----------------------------------------

%heading {
  @include letter-spacing(-10);
  
  font-family: $heading-font-stack;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

%display {
  @include letter-spacing(-10);
  
  font-family: $display-font-stack;
  font-weight: $display-font-weight;
  line-height: $display-line-height;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@extend %heading;
	
	margin: 0;
}

h1,
.h1 {
  @extend %display;
  
  font-size: $heading-size-1;
  margin: 0;
}

h2,
.h2 {
  font-size: $heading-size-2;
}

h3,
.h3 {
  font-size: $heading-size-3;
}

h4,
.h4 {
  font-size: $heading-size-4;
}

h5,
.h5 {
  font-size: $heading-size-5;
}

h6,
.h6 {
  font-size: $heading-size-6;
}

p {
  margin: 0;
}

// Display --

.display-1,
.display-2,
.display-3,
.display-4 {
  @extend %display;
}

.display-1 {
  font-size: $display-size-1;
}

.display-2 {
  font-size: $display-size-2;
}

.display-3 {
  font-size: $display-size-3;
}

.display-4 {
  font-size: $display-size-4;
}

// Sizing --

.font-size-1 {
	font-size: $font-size-1;
}

.font-size-2 {
	font-size: $font-size-2;
}

.font-size-3 {
	font-size: $font-size-3;
}

.font-size-4 {
	font-size: $font-size-4;
}

.font-size-5 {
	font-size: $font-size-5;
}

// Emphasis --

.lead {
  // @include margin(null rem($spacer * 2));
  
  color: color($brand, grey-dark);
  font-size: rem(24);
  font-weight: $font-weight-light;
}

// Misc --

b,
strong {
  font-weight: $font-weight-bold;
}

abbr,
abbr[title] {
  border-bottom: 1px dotted color($mono, dark-900);
  cursor: help;
  text-decoration: none;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

hr {
  @include margin(rem($spacer * 4) null rem($spacer * 4));
  
  border: 0;
  border-top: 1px solid color($brand, grey-light);
}

address {
  @include margin(0 null rem($spacer-base));
  
  font-style: normal;
  line-height: inherit;
}

.emoji {
  font-family: $font-stack-emoji;
  font-weight: normal;
}