<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl, none" suppress="true" divider-before="Options" order="200" help="select a padding option for the section" />
<perch:content id="imgPos" type="select" label="Image position" options="left, right" suppress="true" order="210" help="select a position for the image" />
<perch:content id="align" type="select" label="Section alignment" options="center, top, end" suppress="true" order="220" help="select a alingment for the section"/>
<perch:group label="My group">
<perch:content id="addShape" type="checkbox" label="Activate Shape" suppress="true" order="320" help="This enables the shape for the template. Please note: not available on all templates."/>
</perch:group>

<perch:content id="addLink" type="checkbox" label="Activate Page Link" suppress="true" order="40" divider-before="Page Link" notes-before="Want to add a link to a page? Click the 'Activate Page Link' checkbox to display the call to action. Ensure a page for the list is selected."/>

<section class="block--img-text<perch:if id="imgPos" value="left">__invert</perch:if> v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
<div class="container">
    <div class="row <perch:if id="align" value="top">align-items-start</perch:if><perch:if id="align" value="center">align-items-center</perch:if><perch:if id="align" value="end">align-items-end</perch:if>">
        <div class="col-lg-6 block--img-text__text eq-margin--sm">
                <h4 class="h1"><perch:content id="heading" type="text" label="Heading" required order="1" help="Add the heading"/></h4>
                <perch:content id="paragraph" type="textarea" label="Paragraph" markdown required order="10" help="Add a sub paragraph if required"/>
                <perch:if exists="addLink">
                    <div>
                        <a href="<perch:content id="page" type="pagelist" label="Page"  order="60" help="Select a page from the drop down"/>/" class="link link--right">
                            <span>
                                <perch:if exists="link_name">
                                    <perch:content id="link_name" type="text" label="Page name" order="50" help="If this is not filled in then the call to action will use the navigation text"/>
                                    <perch:else />
                                    <perch:content id="page" type="pagelist" label="Page" output="navtext" />
                                </perch:if>
                            </span>
                            <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                                <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                            </svg>
                        </a>
                    </div>
                </perch:if>
        </div>
        <div class="col-lg-6 block--img-text__img">
            <div class="img-res">
                <perch:if exists="addShape">
                <span class="shape"></span>
                <span class="shape"></span>
                </perch:if>
                <img src="<perch:content id="image" type="image" label="Image" crop="true" width="525" required divider-before="Image Section" order="150" help="Image output: w525px"/>" alt="<perch:content id="alt" type="text" label="Alt text" required order="160" help="Alt tags are good practice for SEO, try to use keywords where you can."/>" />
            </div>
        </div>
    </div>
</div>
</section>