<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl" suppress="true" divider-before="Options" order="200" />
<perch:content id="imgPos" type="select" label="Image position" options="left, right" suppress="true" order="210" />
<perch:content id="addLink" type="checkbox" label="Activate Page Link" suppress="true" order="40" divider-before="Page Link"/>

<section class="block--img-text-offset<perch:if id="imgPos" value="right">__invert</perch:if> v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <div class="container">
        <div class="row align-items-center">
            <div class="block--img-text-offset__text eq-margin--sm col-lg-4 <perch:if id="imgPos" value="left">offset-lg-1</perch:if>">
                <h4 class="h1"><perch:content id="heading" type="text" label="Heading" required order="1"/></h4>
                <p><perch:content id="paragraph" type="text" label="Paragraph" required order="10"/></p>
                
                <perch:if exists="addLink">
                    <div>
                        <a href="<perch:content id="page" type="pagelist" label="Page"  order="60"/>" class="link link--right">
                            <span><perch:content id="link_name" type="text" label="Page name" order="50"/></span>
                            <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                                <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                            </svg>
                        </a>
                    </div>
                </perch:if>
            </div>
            <div class="block--img-text-offset__img col-lg-5 offset-lg-1">
                <div class="img-res">
                    <span class="shape <perch:content id="shapeColor" type="select" options="Blue|bg-blue, Green|bg-green" order="130" label="Shape Colour" order="290"/>"></span>
                    <img src="<perch:content type="image" id="image" label="Image" bucket="projects" width="290" height="170" crop="true" />" alt="<perch:content id="alt" type="text" label="Alt text" />" />
                </div>
            </div>
        </div>
    </div>
</section>