<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl, none" suppress="true" divider-before="Options" order="200" />

<section class="block--list v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="h1"><perch:content id="heading" type="text" label="Heading" required order="10" /></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <perch:repeater id="list" label="List">
                    <perch:before><ul class="list"></perch:before>
                        <li><perch:content type="text" id="item" label="List item"></perch:content></li> 
                    <perch:after></ul></perch:after>   
                </perch:repeater>
            </div>
        </div>
    </div>
</section>