<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl, none" suppress="true" divider-before="Options" order="100" help="select a padding option for the section"/>

<section class="block--marquee v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <perch:if exists="heading">
        <div class="container">
            <div class="row">
                <div class="col-12 ta-c"><h4 class="h1"><perch:content id="heading" type="text" label="Heading" order="1" help="Add the heading if required"/></h4></div>
            </div>
        </div>
    </perch:if>
    <div class="block--marquee__wrapper container-fluid">
        <div class="block--marquee__inner">
            <div>
                <perch:repeater id="logos" label="Logos" max="7" order="10">
                <div class="block--marquee__item">
                    <div class="img-res">
                        <img src="<perch:content type="image" id="image" label="Image" width="400" bucket="logos" help="Image output: w400px h200px">" alt="<perch:content type="text" id="alt" label="Alt text" help="Alt tags are good practice for SEO, try to use keywords where you can.">">
                    </div>
                </div> 
                </perch:repeater>
            </div>
            <div>
                <perch:repeater id="logos" label="Logos" max="7" order="10">
                    <div class="block--marquee__item">
                        <div class="img-res">
                            <img src="<perch:content type="image" id="image" label="Image" width="400" bucket="logos" help="Image output: w400px h200px">" alt="<perch:content type="text" id="alt" label="Alt text" help="Alt tags are good practice for SEO, try to use keywords where you can.">">
                        </div>
                    </div> 
                </perch:repeater>
            </div>
        </div>
        <div class="block--marquee__inner" data-direction="reverse">
            <div>
                <perch:repeater id="logos" label="Logos" max="7" order="10">
                <div class="block--marquee__item">
                    <div class="img-res">
                        <img src="<perch:content type="image" id="image" label="Image" width="400" bucket="logos" help="Image output: w400px h200px">" alt="<perch:content type="text" id="alt" label="Alt text" help="Alt tags are good practice for SEO, try to use keywords where you can.">">
                    </div>
                    </div> 
                </perch:repeater>
            </div>
            <div>
                <perch:repeater id="logos" label="Logos" max="7" order="10">
                <div class="block--marquee__item">
                    <div class="img-res">
                        <img src="<perch:content type="image" id="image" label="Image" width="400" bucket="logos" help="Image output: w400px h200px">" alt="<perch:content type="text" id="alt" label="Alt text" help="Alt tags are good practice for SEO, try to use keywords where you can.">">
                        </div>
                    </div> 
                </perch:repeater>
            </div>
        </div>
    </div>
</section>