<perch:group label="Options" collapse="true">
    <perch:content id="bgColor" type="select" label="Background color" options="white|, orange|bg-orange, blue|bg-blue" suppress="true" order="500" />
    <perch:content id="spacing" type="select" label="Spacing" options="default|, sm|--sm, md|--md, lg|--lg, xl|--xl, none|--none" suppress="true" order="510" />
    <perch:content id="grid" type="select" label="Grid layout" options="one|col-12, two|col-lg-6, three|col-lg-4, four|col-lg-3" suppress="true" order="520" />
</perch:group>


<section class="<perch:content id="bgColor" type="select" /> v-padding<perch:content id="spacing" />" />
    <div class="container">
        <ul class="row grid-list justify-content-center ta-c">

<perch:repeater id="pages" label="Pages" order="1" scope-parent="true">
    <perch:before>
       
    </perch:before>

        <li class="<perch:content id="parent.grid" type="select" /> <perch:if id="parent.grid" value="col-lg-6">h-padding--md</perch:if>">
            <perch:if exists="exLink">
                <a href="<perch:content id="exLink" type="text" label="External Link" help="Use this for external links"/>" class="eq-margin" target="_blank">
            <perch:else>
                <a href="<perch:content id="page" type="pagelist" label="Page" />/" class="eq-margin" >
            </perch:if>
                <img src="<perch:content id="pageIcon" type="image" label="Page Icon" width="140" bucket="page-icons" order="10"/>" alt="<perch:content id="navTitle" type="hidden" />" width="<perch:content id="pageIcon" type="image" label="Page Icon" output="w" />">
                    
                        <perch:if exists="titleOveride">
                                <h3 class="h2 h2--sm margin--none"><perch:content id="titleOveride" type="text" label="Title Overide" help="Overirdes the title pulled from the nav"/></h3>
                        <perch:else>
                            <perch:if exists="page">
                                <h3 class="h2 h2--sm margin--none"><perch:content id="page" type="pagelist" label="Page" output="title" /></h3>
                            </perch:if>
                            
                        </perch:if>
                    
                <p><perch:content id="paragraph" type="text" label="Intro" /></p>
                
                <perch:if exists="linkTitle">
                <span class="link link--right">
                    <span><perch:content id="linkTitle" label="Link title"/></span>
                    <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                        <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                    </svg>
                </span>
                </perch:if>

                </a> 
        </li>

    <perch:after>
             
    </perch:after>
</perch:repeater>
        </ul>
    </div>
</section>












