<perch:group label="Options">
    <perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl, none" suppress="true" order="200" />
    <perch:content id="grid" type="select" label="Grid layout" options="one|col-12, two|col-lg-6, three|col-lg-4, four|col-lg-3" suppress="true" order="520" />
</perch:group>

<section class="block--quote bg-grey v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <div class="container">

<perch:repeater id="QuoteColumn" label="Quote Column" order="1" scope-parent="true" max="2" >
    <perch:before>
        <ul class="grid-list row justify-content-center">
    </perch:before>

        <li class="
            <perch:content id="parent.grid" type="select" />
        ">
            <div class="cms-textarea--content"><perch:template path="content/body.html" helper="Add class 'credit' to style the creditation" /></div>
        </li>
    
    <perch:after>
        </ul>
    </perch:after>
</perch:repeater>

</div>
</section>