<!-- * conditional statements required to overcome translations within <perch:related /> * -->
<section class="block--related-project v-padding--md">
    <div class="container eq-margin--sm">
        <div class="row eq-margin-sm ta-c">
            <h4 class="col-12 h1"><perch:content type="text" id="heading" label="Heading" order="1"/></h4>
            <div class="col-12 cms-textarea--content">
                <perch:template path="content/body.html" order="10"/>
            </div>
        </div>
        <perch:related id="projects" collection="Projects" label="Related Project" max="3">
            <perch:before><ul class="row grid-list"></perch:before>

                <li class="col-lg-4">
                    <a href="/<perch:content id="lang" /><perch:trans id="lang.projects.url" /><perch:if id="lang" value="en" match="eq"><perch:content id="slug_en" /></perch:if><perch:if id="lang" value="de" match="eq"><perch:content id="slug_de" /></perch:if>/">
                        <div class="img-res">
                            <img 
                                src="<perch:content id="mainImg" type="image" label="Main Image" bucket="projects" width="335" height="250" crop="true" />" 
                                alt="<perch:if id="lang" value="en" match="eq"><perch:content id="name_en" /></perch:if><perch:if id="lang" value="de" match="eq"><perch:content id="name_de" /></perch:if>" 
                            />
                        </div>
                        <p class="h2 h2--sm text-color--pink">
                            <!--* handle langs *-->
                            <perch:if id="lang" value="en" match="eq">
                                <perch:content id="name_en" />
                            </perch:if>
                            <perch:if id="lang" value="de" match="eq">
                                <perch:content id="name_de" />
                            </perch:if>
                        </p>
                            <!--* handle langs *-->
                        <p>
                            <!--* handle langs *-->
                            <perch:if id="lang" value="en" match="eq">
                                <perch:content id="excerpt_en" />
                            </perch:if>
                            <perch:if id="lang" value="de" match="eq">
                                <perch:content id="excerpt_de" />
                            </perch:if>
                            <!--* handle langs *-->
                        </p>
                    </a>
                </li>
            <perch:after></ul></perch:after>
        </perch:related>
  
    </div>
</section>