<!-- * conditional statements required to overcome translations within <perch:related /> * -->
<section class="block--related-download v-padding--md">
    <div class="container eq-margin--sm">
        <div class="row eq-margin-sm ta-c">
            <h4 class="col-12 h1"><perch:content type="text" id="heading" label="Heading" order="1"/></h4>
            <div class="col-12 cms-textarea--content">
                <perch:template path="content/body.html" order="10"/>
            </div>
        </div>
        <perch:related id="downloads" collection="Downloads" label="Related Download" max="3">
            <perch:before><ul class="downloads--grid grid-list row "></perch:before>

                <li class="col-lg-4">
                   <perch:if exists="download_en">
                       <!--* handle langs *-->
                        <perch:if id="lang" value="en" match="eq">
                            <a href="<perch:content id="download_en" />">
                        </perch:if>
                        <perch:if id="lang" value="de" match="eq">
                            <a href="<perch:content id="download_de" />">
                        </perch:if>
                        <!--* handle langs *-->
                    <perch:else />
                        <!--* handle langs *-->
                        <perch:if id="lang" value="en" match="eq">
                            <a href="/<perch:content id="lang" /><perch:trans id="lang.downloads.url" /><perch:content id="slug_en" />/">
                        </perch:if>
                        <perch:if id="lang" value="de" match="eq">
                            <a href="/<perch:content id="lang" />/<perch:content id="slug_de" />/">
                        </perch:if>
                        <!--* handle langs *-->
                    </perch:if>
                    <div class="row">
                        <div class="col-4 ta-c">
                            <img 
                            <perch:if id="type" match="eq" value="whitepaper">
                                src="/assets/img/icon-download-whitepaper.svg" 
                            </perch:if>
                            <perch:if id="type" match="in" value="brochure,manual">
                                src="/assets/img/icon-download-brochure.svg" 
                            </perch:if>
                            <perch:if id="type" match="eq" value="webinar">
                                src="/assets/img/icon-download-webinar.svg" 
                            </perch:if>
                            />
                        </div>
                        <div class="col-8 eq-margin">
                            <div class="h3">
                                <!--* to translate *-->
                                <perch:if id="type" match="eq" value="whitepaper">
                                        <perch:trans id="lang.downloads.whitepaper" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="brochure">
                                    <perch:trans id="lang.downloads.brochure" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="webinar">
                                    <perch:trans id="lang.downloads.webinar" />
                                </perch:if>
                                <perch:if id="type" match="eq" value="manual">
                                    <perch:trans id="lang.downloads.manual" />
                                </perch:if>
                                <!--* to translate *-->
                            </div>
                            <h3 class="h2 h2--sm text-color--pink">
                                <!--* handle langs *-->
                                <perch:if id="lang" value="en" match="eq">
                                    <perch:content id="name_en" />
                                </perch:if>
                                <perch:if id="lang" value="de" match="eq">
                                    <perch:content id="name_de" />
                                </perch:if>
                                <!--* handle langs *-->
                            </h3>
                        </div>
                    </div>  
                    </a>
                </li>
            <perch:after></ul></perch:after>
        </perch:related>
  
    </div>
</section>