<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl" suppress="true" divider-before="Options" order="200" />
<perch:content id="newsCol" type="select" label="Columns" options="none, 2" suppress="true" order="300" />


<section class="block--text-col bg-grey v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <div class="container">
        <div class="row align-items-top">
            <div class="block--text-col__title col-lg-4">
                <h3 class="h1 text-color--pink margin--none"><perch:content id="heading" type="text" label="Heading" required order="10" /></h3>
            </div>
            <div class="block--text-col__text col-lg-8 <perch:if id="newsCol" value="2">newspaper-col-2</perch:if> eq-margin">
                <perch:content id="body" type="textarea" label="Text Area" markdown order="20"/>
            </div>
        </div>
    </div>
</section>


