<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl, none" suppress="true" divider-before="Options" order="200" />


<section class="v-padding<perch:if id="spacing" value="sm">--sm</perch:if><perch:if id="spacing" value="md">--md</perch:if><perch:if id="spacing" value="lg">--lg</perch:if><perch:if id="spacing" value="xl">--xl</perch:if><perch:if id="spacing" value="none">--none</perch:if>">
    <div class="container">
        <div class="row">
            <div class="col-12 cms-textarea--content">   
                <perch:template path="content/body.html" helper="hello"/>
            </div>
        </div>
    </div>
</section>