<perch:template path="_seo" />

<perch:pages id="lang_name" type="text" label="Name" required="true" escape="true" divider-before="Language" />
<perch:pages id="lang_iso" type="text" label="ISO code" required="true" escape="true" />
<perch:pages id="lang_image" type="image" label="Image" width="80" height="80" crop="true" bucket="language" help="80px / 80px" />



<!--* <perch:pages id="location" type="collectionlist" collection="Locations" label="Location" options="division_en" divider-before="Contact details" /> *-->
<perch:related id="location" collection="Locations" label="Location" max="1"></perch:related>


<perch:pages id="lang_login" type="text" label="External login link" />