%mfp-close {
  @include size(rem(42));
  
  background-color: color($brand, primary);
  border-radius: rem(21);
  color: white;
  line-height: rem(42);
  opacity: 1;
  text-align: center;
}

.mfp-container.mfp-inline-holder {
  padding: 0;
}

.mfp-modal {
  background-color: white;
  box-shadow: 0 0 10px rgba(black, .2);
  margin: rem($spacer-base);
  max-width: rem(568);
  position: relative;
  
  @include breakpoint-up(s) {
    @include margin(rem($spacer * 4) auto);
  }
  
  &-inner {
    @include padding(rem(40));
  }
  
  .mfp-close {
    @extend %mfp-close;
    
    top: rem(-12);
    right: rem(-12);
  }
}

.mfp-figure {
	.mfp-close {
    @extend %mfp-close;
    
    padding: 0;
    top: 28px;
    right: -12px;
  }
}

.mfp-bottom-bar {
  display: none;
}