.article {
  padding-bottom: rem($spacer * 5);
  
  @include breakpoint-up(m) {
  	padding-bottom: rem($spacer * 10);
  }
  
  &-tags {
    display: flex;
		flex-wrap: wrap;
    justify-content: center;
		margin-top: rem(-$spacer / 2);
  }
  
  &-tag {
    @include padding(rem(1.5) rem(8));
    
    background-color: rgba(black, .2);
    border-radius: rem(12);
    // color: color($brand, grey-light);
    color: white;
    display: block;
    font-size: rem(14);
    font-weight: $font-weight-bold;
		margin-top: rem($spacer / 2);
    text-transform: uppercase;
    
    &:not(:last-child) {
      margin-right: rem($spacer);
    }
  }
  
  &-img {
    @include margin(rem(-$spacer * 4) auto null);
    
    max-width: rem(1168);
    position: relative;
    
    @include breakpoint-up(m) {
      margin-top: rem(-$spacer * 6);
    }
    
    @include breakpoint-up(l) {
      margin-top: rem(-$spacer * 12);
    }
  }
  
  &-avatar {
    @include margin(rem(-$spacer * 5) null rem($spacer));

		box-shadow: 0 0 0 2px white;
    
		/*
    .avatar-img {
      @include size(calc(100% + 4px));
      
      border: 2px solid white;
      top: -2px;
      left: -2px;
    }
		*/
  }
  
  &-author {
    font-size: rem(21);
    font-weight: $font-weight-semibold;
  }
  
  &-meta {
    color: color($brand, grey-dark);
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  &-reading-time {
  	&:before {
  	  @include padding(null rem($spacer));
  	  
  	  color: color($brand, grey);
  	  content: '\00b7';
  	  display: inline-block;
  	  font-size: rem(21);
  	  line-height: 1;
  	}
  	
  	@include breakpoint-between(m, m) {
  		display: block;
  		
  		&:before {
        display: none;
      }
    }

  	.no-js & {
      display: none;
    }
  }
  
  &-body {
    padding-top: rem($spacer * 4);
    
    @include breakpoint-up(m) {
      padding-top: rem($spacer * 6);
    }
  }
}