// Layout: Contact
// ----------------------------------------

.contact {
  &-bottom {
    @include stacking-order;
  }
  
  &-label {
    color: color($brand, grey-dark);
    font-size: rem(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  &-times {
    color: color($brand, navy);
    font-weight: $font-weight-semibold;
    
    &:not(:last-child) {
      margin-bottom: rem($spacer * 3);
    }
  }
}