// Layout: Footer
// ----------------------------------------

.footer {
  $c: &;
  
  background-color: color($mono, dark-900);
  color: color($brand, grey-dark);
  padding-top: rem($spacer * 5);
  
  &-top {
    padding-bottom: rem($spacer * 5);
    
    @include breakpoint-up(l) {
      padding-bottom: rem($spacer * 10);
    }
  }
  
  &-heading {
    color: white;
    font-size: $heading-size-5;
    font-weight: 600;
  }
  
  .postal-code {
    border-color: color($mono, dark-500);
    color: color($brand, grey-dark);
  }
  
  .url {
    &:hover {
      border-color: lighten(color($mono, dark-500), 20);
      color: lighten(color($brand, grey-dark), 20);
    }
  }
  
  .nursery-vcard {
    .tel {
      color: white;
    }
  }
  
  &-status {
    color: color($mono, dark-100);
    
    .icon {
      margin-right: rem(4);
    }
  }
  
  &-nav {
    .nav-link {
      color: color($brand, grey-dark);
      transition: color .2s ease-in-out;
      
      /*
      &::after {
        content: "\00A0 \203A"; // nbsp arrow
      }
      */
      
      &:hover {
        color: lighten(color($brand, grey-dark), 20);
      }
    }
  }
  
  &-subscribe {
    color: white;
    display: inline-block;
    font-weight: $font-weight-semibold;
    margin-top: rem($spacer-base);
    
    &::after {
      content: "\00A0 \203A"; // nbsp arrow
    }
  }
  
  &-bottom {
    @include padding(rem($spacer * 3) null);
    
    border-top: 2px solid rgba(white, 0.06);
    text-align: center;
    
    @include breakpoint-up(m) {
    	display: flex;
    	text-align: left;
    }
  }
  
  &-bottom-nav {
    @include breakpoint-up(m) {
      margin-left: rem($spacer * 4);
    }
    
    .nav {
      @include breakpoint-down(m) {
      	justify-content: center;
      }
    }
    
    @include breakpoint-down(m) {
    	.nav-item:not(:last-child) {
        margin-right: rem($spacer * 2);
      }
    }
    
    .nav-link {
      color: color($mono, dark-100);
      font-size: rem(16);
      transition: color .2s ease-in-out;
      
      &:hover {
        color: lighten(color($mono, dark-100), 20);
      }
    }
  }
  
  &-copyright {
    font-size: rem(16);
  }
  
  &-signature {
    color: color($brand, grey-dark);
    font-size: rem(16);
    transition: color .2s ease-in-out;
    
    @include breakpoint-up(m) {
      margin-left: auto;
    }
    
    &:hover {
      color: lighten(color($brand, grey-dark), 20);
    }
  }
}