// Layout: Header
// ----------------------------------------

.header {
  @include position(fixed, 0, 0, null, 0, $z-index-header);
  
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(black, 0.1);
	display: flex;
	min-height: rem(64);
	
	@include breakpoint-up(l) {
		min-height: rem(80);
	}
	
	@include breakpoint-up(xl) {
		min-height: rem(100);
	}
  
  &-inner {    
    display: flex;
    align-items: center;
    justify-content: space-between;
		width: 100%;
  }
	
	&-identity {
		@include size(rem(140), rem(150));
		@include padding(rem(26) rem(16) null);
		
		position: absolute;
		top: rem(-16);
		background-image: url('/assets/svg/ribbon.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		filter: drop-shadow(0 0 10px rgba(black, .1));
		will-change: transform;
		transition: transform 200ms linear;
		
		@include breakpoint-up(l) {
			@include padding(rem(38) rem(24) null);
			@include size(rem(180), rem(193));
			
			top: -24px;
		}
		
		@include breakpoint-up(xl) {
			@include padding(rem(42) rem(27.5) null);
			@include size(rem(215), rem(230));
			
			top: rem(-28);
		}
		
		.headroom--pinned & {
		  transform: translateY(0%);
		}
		
		.headroom--unpinned & {
		  transform: translateY(-50%);
		}
	}
	
	&-logo {
		@include stacking-order;
		
	}
  
  &-nav {
		display: none;
		
    @include breakpoint-up(l) {
			align-items: center;
			display: flex;
			margin-left: auto;
		}
  }
  
  .nav {
    display: flex;
		align-items: center;
  }
	
	.nav-item {
		&:not(:last-child) {
			margin-right: rem($spacer * 2);
		}
		
		@include breakpoint-up(l) {
			&:not(:last-child) {
				margin-right: rem($spacer);
			}
		}
		
		@include breakpoint-up(xxl) {
			&:not(:last-child) {
			  margin-right: rem($spacer * 2);
			}
		}
	}

  .nav-link {
    @extend %display;
    @include padding(rem($spacer) rem(6));
    
    color: darken(color($brand, grey-dark), 8);
    display: block;
    font-size: rem(22);
    transition: color .2s ease-in-out;
		
		@include breakpoint-up(xl) {
			font-size: rem(24);
			font-weight: $font-weight-medium;
		}
		
		@include breakpoint-up(xl) {
			@include padding(rem($spacer));
		}
    
    &:hover {
      color: color($brand, navy);
    }
		
		&--active {
			// border-bottom: 2px solid color($brand, grey-light);
			color: color($brand, navy);
		}
  }
  
  &-nav-buttons {
		display: none;
		margin-left: auto;
		
		@include breakpoint-up(s) {
			display: block;
		}
		
		@include breakpoint-up(l) {
			margin-left: rem(10);
		}
		
		@include breakpoint-up(xl) {
			margin-left: rem($spacer * 2);
		}
		
		@include breakpoint-up(xxl) {
			margin-left: rem($spacer * 3);
		}
  }
	
	&-nav-button {
		@extend %button;
		@extend .button--icon;
		@include unselectable;
		
    background-color: white;
		color: color($brand, navy);
		font-size: rem(24);
		margin-left: auto;
		transition: color .2s ease-in-out;
    padding: 0;
    
    &:hover {
      color: color($brand, navy-dark);
    }
    
    &:focus {
      box-shadow: 0 0 0 3px rgba(darken(white, 8), .25);
    	outline: none;
    }
		
		@include breakpoint-up(s) {
			margin-left: rem(16);
		}
		
		@include breakpoint-up(l) {
			display: none;
		}
	}
	
	.book-a-visit {
		@include breakpoint-down(xl) {
			@include padding(rem(9) rem(24));
		}
	}
  
  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;

    &--pinned {
      transform: translateY(0%);
    }
    
    &--unpinned {
      transform: translateY(-100%);
    }
  }
}