// Layout: Nurseries
// ----------------------------------------

.nurseries {
  background-color: color($brand, navy);
  position: relative;
  
  &::before {
    @include size(100%, rem(65));
    @include pseudo;
		
    top: rem(150);
    left: 0;
    background-image: url('/assets/svg/bunting.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    @include breakpoint-up(l) {
      top: rem(190);
    }
  }
  
  .section-header {
    margin-bottom: rem($spacer * 13);
  }
  
  .typography-heading {    
    color: white;
  }
  
  .typography-intro {
    color: #b3c4dc;
  }
}