// Layout: Social
// ----------------------------------------

.social {
  background-color: color($brand, navy-dark);
  text-align: center;
  
  &-nav {
    .nav {
      justify-content: center;
      
      .nav-item {
        margin-right: 0;
      }
      
      .nav-link {
        @include padding(rem($spacer * 3) rem($spacer * 2));
        
        color: white;
        display: block;
        transition: color .2s ease-in-out;
        
        &:hover {
          color: rgba(white, .8);
        }
      }
    }
    
    .icon {
      font-size: rem(24);
    }
  }
}