// Layout: Styleguide
// ----------------------------------------

// Element --

.element {
  @include margin(rem($spacer * 4) null);
}

// Grid --

.grid {
  margin-bottom: rem($spacer-base);
  
  .example {
    @include padding(rem($spacer));
    
    background: color($mono, light-100);
    border: 1px solid color($mono, light-300);
    margin-bottom: rem($spacer-base);
  }
}

// Colour --

.palette {
  margin-bottom: rem($spacer-base);
}

.swatch {
  padding: rem(13) rem($spacer * 4);
}