// Layout: Subscribe
// ----------------------------------------

.subscribe {
  background-color: color($brand, cyan);
  overflow: hidden;
  position: relative;
  
  &-inner {
    @include stacking-order;
  }
  
  &::before {
    @extend %display;
    @include size(100%);
    @include align(true, true, absolute);
    
    color: rgba(white, .09);
    content: "Subscribe";
    display: none;
    font-weight: $font-weight-bold;
    text-align: center;
    
    @include breakpoint-up(m) {
      display: block;
      font-size: rem(240);
    }
    
    @include breakpoint-up(l) {
      font-size: rem(290);
      transform: translate(-50%, -44%);
    }
  }
  
  .section-header {
    margin-bottom: rem($spacer * 3);
  }
  
  .typography-sub-heading {
    color: white;
  }
  
  .field {
    margin-bottom: 0;
  }
  
  .input {
    border-color: color($mono, light-100);
    
    &:hover {
      border-color: color($mono, light-100);
    }
    
    &:focus {
      background-color: white;
      border-color: white;
    }
  }
    
  .button {
    background-color: color($brand, navy);
    
    &:hover {
      background-color: darken(color($brand, navy), 8);
    }
    
    &:focus {
      box-shadow: 0 0 0 3px rgba(color($brand, navy), .25);
    }
  }
  
  .form-help {
    color: white;
    text-align: center;
    margin-top: rem($spacer-base);
  }
}