// Layout: Visit
// ----------------------------------------

.visit {
  background-image: url('/assets/svg/clouds.svg');
  background-position: center top;
  
  .wrapper {
    // background: radial-gradient(circle at center, rgba(white, 1), rgba(white, 0));
    background: radial-gradient(circle farthest-side, rgba(white, 1), rgba(white, 0));
  }
}