.slider {
  @include hidden;
}

.slick-initialized {
  @include visible;
}

/*.slick-slide:focus,
.slick-slide * {
  outline: none;
}*/

.slick-dots {
  @include list-unstyled;
  
  justify-content: center;
  display: flex;
  margin: 0;
  padding-top: rem($spacer * 5);
  
  .slick-related & {
    padding-top: rem($spacer * 2);
  }
}

.slick-dot {
  @include size(rem(24));
  @include text-hide;
  @include unselectable;

  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  outline: none;
  padding: rem(9);
  
  &:before {
    @include size(rem(6));
    
    background-color: color($brand, grey);
    border-radius: 50%;
    content: "";
    display: block;
    transition: all .2s ease-in-out;
  }
  
  &:hover,
  &:focus {
  	outline: none;
  	
  	&:before {
      background-color: color($brand, grey-dark);
    }
  }
}

.slick-active .slick-dot:before {
  background-color: color($brand, grey-dark);
}

.slick-dots--dark {
  .slick-dot {
    &:before {
      background-color: darken(color($brand, navy-dark), 8);
    }
    
    &:hover,
    &:focus {
    	&:before {
        background-color: lighten(color($brand, navy-light), 40);
      }
    }
  }
  
  .slick-active .slick-dot:before {
    background-color: lighten(color($brand, navy-light), 40);
  }
}
