section,
.section {
    position: relative;
}
.section-pad-xs {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-pad-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-pad-md {
    padding-top: 120px;
    padding-bottom: 120px;
    @include media-breakpoint-between(md, lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.section-pad-lg {
    padding-top: 250px;
    padding-bottom: 250px;
    @include media-breakpoint-between(md, lg) {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
