<perch:before>
    <div id="news-events--container">
</perch:before>

<a href="<perch:blog id="perch_page_path" />/<perch:blog id="postSlug" />/" class="paragraph-margin-sm">
    <div class="h3"><perch:blog id="postDateTime" format="d/m/Y"/></div>
    <h4 class="h2 h2--sm text-color--pink"><perch:blog id="postTitle" /></h4>
    <perch:blog id="perch_excerpt" html="true" />
    <div>
        <span class="link link--right">
            <span>Read more</span>
        </span>
    </div>
</a>

<perch:after>
    </div>


    <perch:if exists="paging">
    <div class="row ta-c">
        <div class="col-12 ta-c eq-margin">
            <div class="h3">
                Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />   
            </div>
            <perch:if exists="not_first_page">
                <a class="btn btn--skew btn--fill" href="<perch:blog id="prev_url" encode="false" replace="?|/?"/>"><span>Prev</span></a>
                <!--*<perch:blog id="perch_page_path" />/<perch:blog id="prev_url" encode="false" rewrite="{blog:%s/}" /><perch:blog id="prev_url" encode="false" rewrite="{page:%s/}" />*-->
            <perch:else />
                <span class="btn btn--skew btn--disabled"><span>Prev</span></span>
            </perch:if>
            <perch:if exists="not_last_page">
                <a class="btn btn--skew btn--fill" href="<perch:blog id="next_url" encode="false" replace="?|/?"/>"><span>Next</span></a>
                <!--*<perch:blog id="perch_page_path" />/<perch:blog id="next_url" encode="false" rewrite="{blog:%s/}" /><perch:blog id="next_url" encode="false" rewrite="{page:%s/}" />*-->   
            <perch:else />
                <span class="btn btn--skew btn--disabled"><span>Next</span></span>
            </perch:if>
        </div>
        <perch:blog id="page_links" encode="false" />
    </div>
    </perch:if>
</perch:after>