<perch:before>
    <select class="form--select filter-menu js--blog-filter">
        <option disabled value selected ><perch:blog id="filter" /></option>
        <option data-slug="<perch:blog id="customCategory" />" value="all">All</option>
</perch:before>
    <option 
    <perch:if id="sectionSlug" match="eq" value="{customSlug}">selected</perch:if>
    data-slug="<perch:blog id="customCategory" />" 
    value="<perch:blog id="sectionSlug" />"><perch:blog id="sectionTitle" />
    </option>
<perch:after>
</select>
</perch:after>
