<perch:before>
    <section class="v-padding--md">
        <div class="container eq-margin--md">
            <div class="row">
                <div class="col-12">
                    <h3 class="h1 margin--none"><perch:blog id="blogSecTitle" /></h3>
                </div>
            </div>
            <ul class="row grid-list">
</perch:before>

                <li class="col-lg-3">
                    <a href="/<perch:blog id="lang"/><perch:trans id="lang.news-events.url" /><perch:blog id="postSlug" />/" class="eq-margin">
                        <div class="img-res">
                            
                            <img src="<perch:blog id="img" type="image" width="400" height="270" crop="true" />" alt="<perch:blog id="postTitle" type="text" chars="40"/>"/>
                        </div>
                        <p><perch:blog id="postTitle" type="text" chars="70"/>...</p>
                        <span class="link link--right">
                            <span><perch:blog id="moreCta" /></span>
                            <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                                <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                            </svg>
                        </a>
                    </a>
                </li>

<perch:after>
            </ul>
        </div>
    </section>
</perch:after>



