<section class="v-padding--md">
    <perch:showall/>
    <div class="container eq-margin--md">
        <div class="row">
            <div class="col-12 h3 breadcrubs--header">
                <perch:blog id="parent_page" type="hidden" html="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="img-res">
                            <img src="<perch:blog id="img" type="image" label="Image" order="5" bucket="news-events" width="610" height="410" crop="true" required="true"/>" alt="<perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" />"/>
                        </div>
                    </div>
                    <div class="col-lg-4 eq-margin--sm">
                        <div>
                            <div class="h3"><perch:blog id="postDateTime" type="date" label="Date" time="true" format="d/m/Y" divider-before="Publishing" /></div>
                            <h1 class="h2 h2--sm margin--none text-color--pink"><perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" /></h1>
                        </div>
                        <perch:if exists="pressRelease">
                            <a href="<perch:blog id="pressRelease" type="file" label="Add Press Release" bucket="press" order="20"/>" class="link link--download">
                                <svg class="icon--download icon--svg" viewBox="0 0 30 30">
                                    <use xlink:href="/assets/svg/svg-defs.svg#icon--download"></use>
                                </svg>
                                <span><perch:blog id="downloadText" type="text" label="Download Text" order="21" /></span>
                            </a>
                        </perch:if>
                    </div>
                </div>
                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="cms-textarea--content">
                    <perch:blog id="text" type="textarea" label="Text" html="true" size="xl" editor="redactor" editor-config="basic" order="10" required="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="<perch:blog id="parent_path" />/" class="link link--right">   
                        <svg class="icon--arrow-l icon--svg" viewBox="0 0 30 18">
                            <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-l"></use>
                        </svg>
                        <span><perch:blog id="parent_name" type="hidden" html="true" /></span>
                    </a>
            </div>
        </div>

    </div>
</section>

<perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="false" order="18" suppress="true" size="s" required="true"/>
<perch:blog id="img" type="image" label="Image" order="20" bucket="news-events" width="400" height="270" crop="true" suppress="true" />
<perch:categories id="blogCat" label="Blog Category" set="blog" max="1" required="true" order="2" suppress="true"/><perch:category id="catTitle" /></perch:categories>






