.customer-logo {
  margin-bottom: 24px;
}

h2.divider {
  background-color: #f6f6f6;
  /*border-top: 1px solid #e9eaea;*/
}

h3.repeater-heading {
  background-color: #f6f6f6;
}

table th {
  /*background-color: #f9f9f9;*/
}

.asset-add a,
.asset-badge-meta a {
  color: #7696cc;
}

.asset-badge-thumb {
	max-width: 150px;
}

.asset-badge-remove-action {
  color: #c84043;
}

/* redactor */

.redactor-styles .text-center {
  text-align: center;
}

.redactor-styles .text-right {
  text-align: right;
}

.redactor-styles .text-justify {
  text-align: justify;
}