<ul class="menu-list">
  <li>
    <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
    
    <perch:if exists="subitems">
      <button class="btn--sm-menu d-md-none d-lg-none">
        <svg class="icon--drop" viewBox="0 0 12 12">
          <use xlink:href="/assets/svg/svg-defs.svg#icon--drop"></use>
        </svg>
      </button>
    </perch:if>
    
    <perch:pages id="subitems" encode="false" />
  </li>
</ul>