<perch:before>
<ul class="list--inline">
  <li><a class="cookie-setting"><perch:pages id="cookieText" /></a></li>
</perch:before>
  <li><a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a></li>
<perch:after>
</ul>
</perch:after>