<section class="hero hero--border-col v-padding--lg <perch:content id="bgClass" type="hidden"/>">
    <div class="container  eq-margin--md">
        <div class="row">
            <div class="col-12 eq-margin--md">
                <h2 class="h3"><perch:content id="title" type="hidden"/></h2>
            </div>
        </div>

        <div class="hero--border-col--2col-wrapper row align-items-center">
            <div class="col-xl-5 col-lg-6 eq-margin--sm">
                <h1 class="h1"><perch:content id="heading" type="text" label="Heading" divider-before="Left column" order="1" required="true"/></h1>
                <perch:content id="text" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="1200" />
            </div>
            <div class="hero--border-col__border"></div>
            <div class="col-xl-5 offset-xl-2 col-lg-6 eq-margin--md">
                <div class="row">
                    <div class="col-6 img-res margin--none"><img src="<perch:content id="logo" type="image" label="Logo" divider-before="Right column">" alt="<perch:content id="heading" />" /></div>
                </div>

                
                    <div class="eq-margin">
                        <div class="h2 h2--sm"><perch:content id="cta" type="text" label="Call to action"/></div>
                        <div><a href="<perch:content id="link" type="text" label="Link"/>" class="menu-item btn btn--skew" title="<perch:trans id="lang.common.new-window" />" target="_blank" rel="noopener noreferrer"><span><perch:content id="button" type="text" label="Button text"/></span></a></div>
                    </div>

                    <perch:content id="text2" type="textarea" label="Sub Text" html="true" size="xl" editor="redactor" imagewidth="1200" />
                
            </div>
        </div>
        
        
    </div>
</section>
