<section class="hero hero--center-text v-padding--xl <perch:content id="bgClass" type="hidden" html/>">
    <div class="container">
        <div class="row">
            
            <div class="col-12 ta-c eq-margin--md">
                <h1 class="h1 h1--xl"><perch:content id="heading" type="text" label="Heading" required help="Add the H1 heading" notes-before="This 'Hero' section is related to each Home page of the related languages"></h1>
                <p class="paragraph-lg"><perch:content id="paragraph" type="text" label="Sub paragraph" help="Add a sub paragraph if required" size="xxl"></p>
                <div class="shapes">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span class="link link--down scroll--nxt">
                    <span><perch:trans id="lang.home.find-out-more" /></span>
                    <svg class="icon--arrow-d icon--svg" viewBox="0 0 20 86">
                        <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-d"></use>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
