<perch:content id="addShape" type="checkbox" label="Activate Shape" suppress="true" order="320" divider-before="Options"/>

<section class="hero hero--img-text v-padding--lg <perch:content id="bgClass" type="hidden" html/>">
    <div class="container eq-margin--md">
        <div class="row">
            <div class="col-12 h3"><perch:content id="crumbs" type="hidden" html/></div>
        </div>
        <div class="row">
            <div class="col-lg-6 eq-margin--md">
                <div class="row eq-margin--md">
                    <div class="col-lg-10"><h1 class="h1 margin--none"><perch:content id="heading" type="text" label="Heading" required order="10"></h1></div>
                    <perch:if exists="paragraph">
                        <div class="col-lg-10"><perch:content id="paragraph" type="textarea" label="Paragraph" markdown order="20"/></div>
                    </perch:if>
                </div>
                
                
                <perch:if exists="scroll">
                    <span class="link link--down scroll--nxt">
                        <span><perch:content id="scroll" type="text" label="Scroll Text" order="30"></span>
                        <svg class="icon--arrow-d icon--svg" viewBox="0 0 20 86">
                            <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-d"></use>
                        </svg>
                    </span>
                </perch:if>
                
            </div>
            <div class="col-lg-6">
                <div class="img-res block--newsfeed--img">
                    <perch:if exists="addShape">
                    <span class="shape"></span>
                    </perch:if>
                    <img src="<perch:content id="image" type="image" label="Image" crop="true" width="510" required divider-before="Image Section" order="50"/>" alt="<perch:content id="alt" type="text" label="Alt text" required order="60"/>" />
                </div>
            </div>
        </div>
    </div>
</section>