<section class="hero v-padding--lg <perch:content id="bgClass" type="hidden" html/>">
    <div class="container eq-margin--lg">
        <div class="row ">
            <div class="col-12 eq-margin--md">
                <div class="h3">
                    <perch:content id="crumbs" type="hidden" html/>
                </div>
                <div class="cms-textarea--content ">
                    <perch:template path="content/body.html" helper="hello"/>
                </div>
                <hr />
            </div>
        </div>

        <perch:repeater id="pages" label="Pages">
        <perch:before><ul class="row grid-list justify-content-center ta-c"></perch:before>

            <li class="col-lg-4">
                <perch:if exists="exLink">
                    <a href="<perch:content id="exLink" type="text" label="External Link" help="Use this for external links"/>" class="eq-margin" target="_blank">
                <perch:else>
                    <a href="<perch:content id="page" type="pagelist" label="Page" />/" class="eq-margin" >
                </perch:if>
                <div class="img-res margin--sm">
                    <img src="<perch:content id="pageIcon" type="image" label="Page Icon" width="140" bucket="page-icons" order="10"/>" alt="<perch:content id="navTitle" type="hidden" />" width="<perch:content id="pageIcon" type="image" label="Page Icon" output="w" />">
                </div>
                        <perch:if exists="titleOveride">
                                <h3 class="h2 h2--sm margin--none"><perch:content id="titleOveride" type="text" label="Title Overide" help="Overirdes the title pulled from the nav"/></h3>
                        <perch:else>
                            <perch:if exists="page">
                                <h3 class="h2 h2--sm margin--none"><perch:content id="page" type="pagelist" label="Page" output="title" /></h3>
                            </perch:if>
                            
                        </perch:if>
                    
                    <p class="margin--none"><perch:content id="paragraph" type="text" label="Intro" /></p>
                </a>                
            </li>

        <perch:after></ul></perch:after>
        </perch:repeater>     
    </div>
</section>