<perch:content id="addLink" type="checkbox" label="Activate Page Link" suppress="true" order="40" divider-before="Page Link" notes-before="Want to add a link to a page? Click the 'Activate Page Link' checkbox to display the call to action. Ensure a page for the list is selected."/>

<section class="sub-hero block--img-text shape-divider v-padding--xl <perch:content id="bgClass" type="hidden" html/>">
    <div class="shapes">
        <span></span>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 eq-margin--md">
                <h2 class="h1">
                    <perch:content id="heading" type="text" label="Heading" required order="10" help="Add the h2 heading"/>
                </h2>
                <p>
                    <perch:content id="paragraph" type="text" label="Paragraph" help="Add a sub paragraph if required" required order="20"/>
                </p>
                <perch:if exists="addLink">
                    <div>
                        <a href="<perch:content id="page" type="pagelist" label="Page" order="60" help="Select a page from the drop down"/>/" class="link link--right">
                            <span>
                                <perch:if exists="link_name">
                                    <perch:content id="link_name" type="text" label="Page name" order="50" help="If this is not filled in then the call to action will use the navigation text"/>
                                    <perch:else />
                                    <perch:content id="page" type="pagelist" label="Page" output="navtext" />
                                </perch:if>
                            </span>
                            <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                                <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                            </svg>
                        </a>
                    </div>
                </perch:if>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="img-res">
                    <img src="<perch:content id="image" type="image" label="Image" crop="true" width="510" height="600" required divider-before="Image Section" help="Image output: w525px"/>" alt="<perch:content id="alt" type="text" label="Alt text" required help="Alt tags are good practice for SEO, try to use keywords where you can."/>" />
                </div>
            </div>
        </div>
    </div>
</section>

