<perch:content id="newsCol" type="select" label="Columns" options="none, 2" suppress="true" order="300" divider-before="Options"/>
<perch:content id="addShape" type="checkbox" label="Activate Shape" suppress="true" order="320" />


<section class="hero hero--text-col v-padding--lg <perch:content id="bgClass" type="hidden" html/>">
    <perch:if exists="addShape">
        <span class="shape"></span>
        <span class="shape"></span>
    </perch:if>
    <div class="container eq-margin--lg">
        <div class="row">
            <div class="col-12 h3"><perch:content id="crumbs" type="hidden" html/></div>
        </div>
        <div class="row">
            <div class="col-lg-5 eq-margin--sm b-padding--md">
               
                <div class="row align-items-center">
                <perch:if exists="pageIcon">
                    <div class="col-lg-4 col-md-4">
                        <img src="<perch:content id="pageIcon" type="image" label="Page Icon" width="140" bucket="page-icons" order="10"/>" alt="<perch:content id="navTitle" type="hidden" />" width="<perch:content id="pageIcon" type="image" label="Page Icon" output="w" />">
                    </div>
                </perch:if>
                    <div class="col-lg-7 offset-lg-1 col-md-7 offset-md-1">
                        <h1 class="h1 margin--none"><perch:content id="Heading" type="text" label="Heading" order="2" required="true"/></h1>
                    </div>
                </div>
                <hr />

                
            </div>
            <div class="hero--text-col__body col-lg-6 offset-lg-1 eq-margin--sm <perch:if id="newsCol" value="2">newspaper-col-2</perch:if>">
                <perch:content id="paragraph" type="textarea" label="Paragraph" markdown order="20"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="link link--down scroll--nxt">
                    <span>Find out more</span>
                    <svg class="icon--arrow-d icon--svg" viewBox="0 0 20 86">
                        <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-d"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
   
</section>
