<perch:before>
<ul class="breadcrumbs">
</perch:before>
    <li>
        <perch:if exists="perch_item_last">
            <perch:pages id="pageNavText" />
        <perch:else />
            <a href="<perch:pages id="pagePath" />/"><perch:pages id="pageNavText" /></a> &gt;
        </perch:if>
    </li>
<perch:after>
</ul>
</perch:after>