<perch:if id="pageDepth" value="1">
<ul class="menu-list">
<perch:else>
<ul>
</perch:if> 
  <li>
    <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
    
    <perch:if exists="subitems">
      <perch:if id="pageDepth" value="1">
        <button class="btn--sm-menu d-md-none d-lg-none">
          <svg class="icon--drop" viewBox="0 0 12 12">
            <use xlink:href="/assets/svg/svg-defs.svg#icon--drop"></use>
          </svg>
        </button>
      </perch:if>
    </perch:if>
    
    <perch:pages id="subitems" encode="false" />
  </li>
</ul>