<a href="<perch:pages id="pagePath" />" class="col-3 ta-c">
<div><img src="<perch:pages id="lang_image" type="image" width="80" height="80" crop="true" bucket="language" />" alt="<perch:pages id="lang_name" type="text" />" /></div>
<perch:pages id="lang_iso" type="text" format="UC" />
</a>