<div class="menu-col col-2">
  <a href="<perch:pages id="pagePath" />" class="flag-link d-block padding">
    <perch:if exists="lang_image">
    <div class="flag-icon">
      <img src="<perch:pages id="lang_image" type="image" width="80" height="80" crop="true" bucket="language" />" alt="<perch:pages id="lang_name" type="text" />" />
    </div>
    </perch:if>
    <div><perch:pages id="lang_name" type="text" /></div>
  </a>
</div>