<perch:before>
  <div class="menu-list-V2">
  <ul class="menu-list eq-margin">
</perch:before>
  <li>
    <perch:if id="customNavHeading" value="{pageNavText}">
    <strong><perch:pages id="pageNavText" /></strong>
    <perch:else />
    <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
    </perch:if>

    
    <perch:if exists="subitems">
      <button class="btn--sm-menu d-md-none d-lg-none">
        <svg class="icon--drop" viewBox="0 0 12 12">
          <use xlink:href="/assets/svg/svg-defs.svg#icon--drop"></use>
        </svg>
      </button>
    </perch:if>
    <perch:pages id="subitems" encode="false" />
  </li>
<perch:after>
  </ul>
  </div>
</perch:after>