<perch:before>
<ul>
</perch:before>  
  <li>
    <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
    
    <perch:pages id="subitems" encode="false" />
  </li>
<perch:after>
</ul>
</perch:after>