<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="row row--collapse">
			<perch:repeater id="acrreditations" label="Accreditations" max="4" order="1">
			<div class="col-6 col-m">
				<div class="accreditation<perch:if id="perch_item_index" match="lte" value="2"> mb-2 mb-m-0</perch:if>" data-aos="fade-up">
					<img src="<perch:content id="image" type="image" label="Image" width="480" help="480" bucket="content" order="1" />" alt="<perch:content id="alt" type="text" label="Alt text" help="A small bit of text to describe your image" order="2" />" />
				</div>
			</div>
			</perch:repeater>
		</div>
	</div>
</section>