<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed" data-aos="fade-up">
		<div class="cover cover--rounded aspect-landscape">			
			<div class="cover-img" role="img" aria-label="<perch:content id="alt" type="text" label="Alt text" help="A small bit of text to describe your image" order="2" />" style="background-image: url('<perch:content id="image" type="image" label="Image" width="1680" bucket="content" help="1680px" order="1" />');"></div>
			<perch:if exists="caption">
			<p class="cover-caption"><perch:content id="caption" type="text" label="Caption" order="3" /></p>
			</perch:if>
		</div>
	</div>
</section>