<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />
<perch:content id="alignment" type="select" label="Alignment" options="Left|left, Right|right" suppress="true" order="130" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="row align-items-center<perch:if id="alignment" value="right"> flex-row-reverse</perch:if>">
			<div class="col-m-6<perch:if id="alignment" value="right"> offset-l-1</perch:if>">
				<div class="cover cover--rounded aspect-classic" data-aos="fade-up">
					<div class="cover-img" role="img" aria-label="<perch:content id="alt" type="text" label="Alt text" help="A small bit of text to describe your image" order="2" />" style="background-image: url('<perch:content id="image" type="image" label="Image" width="1200" bucket="content" help="1200px" order="1" />');"></div>
				</div>
			</div>
			
			<div class="col-m-6 col-l-5<perch:if id="alignment" value="left"> offset-l-1</perch:if>">
				<div class="body mt-5 mt-m-0" data-aos="fade-up">
					<perch:template path="content/body.html" />
				</div>
			</div>
		</div>
	</div>
</section>