<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section background-mono-light-100<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper">
		<header class="section-header" data-aos="fade-in">
			<h2 class="typography-sub-heading color-navy">Frequently asked questions</h2>
		</header>
		
		<div class="section-body mw-8" data-aos="fade-up">
      <ul class="accordion">
				<perch:related id="faqs" collection="FAQs" label="FAQs" sort="custom" order="1">
        <li class="accordion-item<perch:if exists="perch_item_first"> accordion-item--active</perch:if>">
        	<a href="#accordion-panel-<perch:content id="perch_item_index" type="hidden" />" id="accordion-<perch:content id="perch_item_index" type="hidden" />" class="accordion-header" <perch:if exists="perch_item_first">aria-expanded="true"<perch:else>aria-expanded="false"</perch:if> aria-controls="accordion-panel-<perch:content id="perch_item_index" type="hidden" />">
        		<span class="accordion-heading"><perch:content id="heading" type="text" /></span>
        		<svg class="accordion-icon icon"><use xlink:href="/assets/svg/svg-defs.svg#icon-plus"></use></svg>
        	</a>
        	
        	<div id="accordion-panel-<perch:content id="perch_item_index" type="hidden" />" class="accordion-panel" aria-labelledby="accordion-<perch:content id="perch_item_index" type="hidden" />">
        		<div class="body">
        			<perch:template path="content/body.html" />
        		</div>
        	</div>
        </li>
				</perch:related>
      </ul>
		</div>
	</div>
</section>