<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section background-mono-light-100<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed" data-aos="fade-up">
		<div class="fees-table mw-10">
			<div class="row row--collapse">
				<perch:repeater id="rates" label="Rates" max="2" order="1">
				<div class="fees-table-col col-s-6">
					<div class="fees-table-header">
						<h3 class="fees-table-heading"><perch:content id="heading" type="text" label="Heading" required="true" title="true" order="1" /></h3>
					</div>
					<div class="fees-table-body">
						<div class="fees-table-rate">
							<p class="fees-table-eyebrow">Full day</p>
							<p class="fees-table-price">
								<sup class="fees-table-symbol">£</sup>
								<span class="fees-table-amount-major"><perch:content id="day" type="text" label="Day rate" required="true" default="£00.00" replace="£|" filter="before" order="2" /></span>
								<sup class="fees-table-amount-minor">.<perch:content id="day" type="text" replace="£|" filter="after" /></sup>
							</p>
							<p class="fees-table-duration badge">9 hours</p>
						</div>
						<div class="fees-table-rate">
							<div class="row row--collapse">
								<div class="fees-table-rate-col col-6">
									<p class="fees-table-eyebrow">Morning</p>
									<p class="fees-table-price">
										<sup class="fees-table-symbol">£</sup>
										<span class="fees-table-amount-major"><perch:content id="morning" type="text" label="Morning rate" required="true" default="£00.00" replace="£|" filter="before" order="3" /></span>
										<sup class="fees-table-amount-minor">.<perch:content id="morning" type="text" replace="£|" filter="after" /></sup>
									</p>
								</div>
								<div class="fees-table-rate-col col-6">
									<p class="fees-table-eyebrow">Afternoon</p>
									<p class="fees-table-price">
										<sup class="fees-table-symbol">£</sup>
										<span class="fees-table-amount-major"><perch:content id="afternoon" type="text" label="Afternoon rate" required="true" default="£00.00" replace="£|" filter="before" order="4" /></span>
										<sup class="fees-table-amount-minor">.<perch:content id="afternoon" type="text" replace="£|" filter="after" /></sup>
									</p>
								</div>
								<div class="col-12">
									<p class="fees-table-duration badge mt-2">4.5 hours</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</perch:repeater>
			</div>
			
			<div class="fees-table-footer">
				<p class="fees-table-eyebrow">Includes</p>
				<ul class="list list--inline-center mt-1">
					<li class="list-item fees-table-feature">
						<svg class="icon"><use xlink:href="/assets/svg/svg-defs.svg#icon-tick-alt"></use></svg>Nutritious food
					</li>
					<li class="list-item fees-table-feature">
						<svg class="icon"><use xlink:href="/assets/svg/svg-defs.svg#icon-tick-alt"></use></svg>Nappies + wipes
					</li>
					<li class="list-item fees-table-feature">
						<svg class="icon"><use xlink:href="/assets/svg/svg-defs.svg#icon-tick-alt"></use></svg>Consumables
					</li>
				</ul>
			</div>
		</div>
		
		<div class="section-body">
			<div class="body text-center">
				<a href="#visit" class="book-a-visit button button--l button--primary" role="button">Book a visit</a>
			</div>
		</div>
	</div>
</section>