<div class="wrapper">
	<header class="section-header" data-aos="fade">
		<perch:if exists="eyebrow"><p class="typography-eyebrow"><perch:content id="eyebrow" type="text" label="Eyebrow" /></p></perch:if>
		<perch:if exists="headline"><h1 class="typography-headline"><perch:content id="headline" type="text" label="Headline" /></h1></perch:if>
		<perch:if exists="heading"><h1 class="typography-heading"><perch:content id="heading" type="text" label="Heading" /></h1></perch:if>
		<perch:if exists="lead"><p class="typography-lead"><perch:content id="lead" type="textarea" label="Lead" html="false" size="m" /></p></perch:if>
		<perch:if exists="intro"><p class="typography-intro"><perch:content id="intro" type="textarea" label="Intro" html="false" size="m" /></p></perch:if>
	</header>
</div>
