<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="row align-items-center">
			<div class="col-m-6">
				<div class="img" data-aos="fade-up">
					<img src="<perch:content id="image_1" type="image" label="Image" width="1200" bucket="content" help="1200px" order="1" />" alt="<perch:content id="alt_1" type="text" label="Alt text" help="A small bit of text to describe your image" order="2" />" />
				</div>
			</div>
			
			<div class="col-m-6">
				<div class="img mt-5 mt-m-0" data-aos="fade-up">
					<img src="<perch:content id="image_2" type="image" label="Image" width="1200" bucket="content" help="1200px" order="3" />" alt="<perch:content id="alt_2" type="text" label="Alt text" help="A small bit of text to describe your image" order="4" />" />
				</div>
			</div>
		</div>
	</div>
</section>