<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />
<perch:content id="type" type="select" label="Type" options="Default|default, Wide|wide" suppress="true" order="130" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="<perch:if id="type" value="wide"> mw-10<perch:else />mw-7</perch:if> mx-auto text-center">
			<div class="img" data-aos="fade-up">
				<img src="<perch:content id="image" type="image" label="Image" width="1200" bucket="content" help="1200px" order="1" />" alt="<perch:content id="alt" type="text" label="Alt text" help="A small bit of text to describe your image" order="2" />" />
			</div>
		</div>
	</div>
</section>