<perch:content id="spacing" type="select" label="Spacing" options="default, sm, md, lg, xl" suppress="true" divider-before="Options" order="100" />

v-padding
<perch:if id="spacing" value="sm">--sm</perch:if>
<perch:if id="spacing" value="md">--md</perch:if>
<perch:if id="spacing" value="lg">--lg</perch:if>
<perch:if id="spacing" value="xl">--xl</perch:if>
<perch:if id="spacing" value="none">--none</perch:if>


<section>
</section>