<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper" data-aos="fade-up">
		<div class="schedule mw-8">
			<div class="schedule-header">
				<h3 class="schedule-heading">Sample menu</h3>
			</div>
			<perch:repeater id="slots" label="Slots" order="1">
			<div class="schedule-row row row--collapse">
				<div class="schedule-col col-s-4">
					<div class="schedule-slot">
						<p class="schedule-slot-heading"><perch:content id="heading" type="text" label="Heading" order="1" /></p>
					</div>
				</div>
				<div class="schedule-col col-s-8">
					<div class="schedule-body">
						<div class="body">
							<perch:template path="content/body.html" />
						</div>
					</div>
				</div>
			</div>
			</perch:repeater>
		</div>
	</div>
</section>