<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="team">
			<div class="row">
				<perch:repeater id="team_member" label="Team members" max="5" order="1">
				<div class="<perch:if id="perch_item_index" match="lte" value="2"> col-m-6<perch:else /> col-m-4</perch:if>" data-aos="fade-up">
					<figure class="team-member<perch:if id="perch_item_index" match="lte" value="2"> team-member--featured</perch:if>">
						<div class="team-member-thumb">
							<img src="<perch:content id="image" type="image" label="Image" width="960" height="640" crop="true" bucket="content" help="960px / 640px" order="3" />" alt="Team meamber image" class="team-member-img" />
							
							<div class="team-member-overlay overlay">
								<div class="overlay-inner">
									<div class="overlay-button button button--primary button--icon">
										<svg class="icon"><use xlink:href="/assets/svg/svg-defs.svg#icon-plus"></use></svg>
									</div>
									<span class="overlay-label">Read more</span>
								</div>
							</div>
						</div>
						<figcaption class="team-member-body">
							<h3 class="team-member-name"><perch:content id="name" type="text" label="Name" required="true" title="true" order="1" /></h3>
							<p class="team-member-title"><perch:content id="position" type="text" label="Position" title="true" required="true" order="2" /></p>
						</figcaption>
						<a href="#team-modal-<perch:content id="name" type="text" urlify="true" />" class="team-member-link" title="Read more"></a>
						
						<div class="mfp-modal mfp-hide" id="team-modal-<perch:content id="name" type="text" urlify="true" />" role="dialog" aria-labelledby="mfp-modal-heading-<perch:content id="name" type="text" urlify="true" />">
							<div class="mfp-modal-inner">
								<div class="body">
									<h2 id="mfp-modal-heading-<perch:content id="name" type="text" urlify="true" />"><perch:content id="name" type="text" /></h2>
									<perch:template path="content/body-basic.html" />
									<button class="mfp-modal-button--close button button--primary">Close</button>
								</div>
							</div>
						</div>
					</figure>
				</div>
				</perch:repeater>
			</div>
		</div>
	</div>
</section>