<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="section-body">
			<div class="body text-center" data-aos="fade">
			  <perch:template path="content/body.html" />
			</div>
		</div>
	</div>
</section>