<perch:content id="spacing" type="select" label="Spacing" options="Default|default, Tight|tight, None|none" suppress="true" divider-before="Options" order="100" />
<perch:content id="remove" type="select" label="Remove spacing" options="Default|default, Top|top, Bottom|bottom" suppress="true" order="110" />
<perch:content id="border" type="select" label="Border" options="No|false, Yes|true" suppress="true" order="120" />

<section class="section<perch:if id="spacing" value="tight"> section--tight</perch:if><perch:if id="spacing" value="none"> section--collapse</perch:if><perch:if id="remove" value="top"> section--collapse-top</perch:if><perch:if id="remove" value="bottom"> section--collapse-bottom</perch:if><perch:if id="border" value="true"> section--border</perch:if>">
	<div class="wrapper wrapper--fixed">
		<div class="row">
			<div class="col-m-6 col-l-5">
				<div class="body" data-aos="fade-up">
					<perch:content id="text_1" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="1200" order="1" />
				</div>
			</div>
			
			<div class="col-m-6 col-l-5 offset-l-2">
				<div class="body mt-5 mt-m-0" data-aos="fade-up">
					<perch:content id="text_2" type="textarea" label="Text" html="true" size="xl" editor="redactor" imagewidth="1200" order="2" />
				</div>
			</div>
		</div>
	</div>
</section>