<perch:before>
    <div class="row">
        <div class="col-12 ta-c">
                <div class="h1 h1--sm"><perch:search id="total" /> results for "<span class="h2"><perch:search id="search_key" /></span>"</div>
        </div>
    </div>
    <hr />
    <ul class="search--grid row grid-list">

</perch:before>
        <li class=" col-lg-6 <perch:search id="perch_item_odd" />">
            <a href="<perch:search id="result_url" />" class="eq-margin">
            <div class="eq-margin">
                <h3 class="h2 h2--sm text-color--pink"><perch:if id="result_title" value="{lang_uppercase}"><perch:trans id="lang.search.home" /> - </perch:if><perch:search id="result_title" /></h3>
                <perch:if exists="result_excerpt"><p class="excerpt">"<perch:search id="result_excerpt" encode="false" html="true"/>&hellip;"</p></perch:if>
            </div>
            <span class="link link--right">
                <span><perch:trans id="lang.search.cta" /></span>
                <svg class="icon--arrow-r icon--svg" viewBox="0 0 30 18">
                    <use xlink:href="/assets/svg/svg-defs.svg#icon--arrow-r"></use>
                </svg>   
            </span>
            <hr />             
            </a>
        </li>

<perch:after>
    </ul>

    <perch:if exists="paging">
        <div class="row ta-c">
            <div class="col-12 ta-c eq-margin">
                <div class="h3">
                    <perch:trans id="lang.search.paging.page" /> <perch:search id="current_page" /> <perch:trans id="lang.search.paging.of" /> <perch:search id="number_of_pages" />
                </div>
            
            <perch:if exists="not_first_page">
                <a class="btn btn--skew btn--fill" href="<perch:search id="prev_url" encode="false" />"><span><perch:trans id="lang.search.prev" /></span></a>
            <perch:else>
                <span class="btn btn--skew btn--disabled"><span><perch:trans id="lang.search.prev" /></span></span>
            </perch:if>

            <perch:if exists="not_last_page">
                <a class="btn btn--skew btn--fill" href="<perch:search id="next_url" encode="false" />"><span><perch:trans id="lang.search.next" /></span></a>
            <perch:else>
                <span class="btn btn--skew btn--disabled"><span><perch:trans id="lang.search.next" /></span></span>
            </perch:if>
            </div>
        </div>
    </perch:if>

</perch:after>

<!--* no results *-->
<perch:noresults>
    <div class="col-12 ta-c">
    <perch:if exists="search_key">
        <perch:trans id="lang.search.result.none" /> "<perch:search id="search_key" />"
    <perch:else />
        <perch:trans id="lang.search.result.empty" />
    </perch:if>
    </div>
</perch:noresults>
<!--* no results *-->