<perch:form id="search" method="get" class="search--form" action="/<perch:content id="lang" /><perch:trans id="lang.search.url" />">


        <svg class="icon--search" viewBox="0 0 24 24">
            <use xlink:href="/assets/svg/svg-defs.svg#icon--search"></use>
        </svg>
        <perch:input type="search" id="q" placeholder="Search" class="form-element"/>
        <perch:input type="submit" value="Go"/>
</perch:form>



